<!DOCTYPE html>
<html>

<head>
    <title>Manager Disbursed the Loan</title>
    <% include ../../partion/header.ejs %>
    <style>
        .selectionButton {
            border: 1px solid grey;
            background-color: white;
            border-radius: 12px;
            font-size: 15px;
            padding: 5px;
            width: 150px;
            justify-content: center;
        }

        .selectionButtonSelected {
            border: 1px solid grey;
            border-radius: 12px;
            color: white;
            font-size: 15px;
            padding: 5px;
            width: 150px;
            justify-content: center;
            background-color: darkblue !important;
        }
    </style>

</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeader.ejs %>

        <div role="main" class="main">
            <div class="container py-2">

                <div class="row">
                    <div class="col">

                        <div class="row">
                            <div class="col pb-3">
                                <section
                                    class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
                                    style="background-color: white;">
                                    <div class="container">
                                            <% include ../../partion/agentTaskNewApplication.ejs %>
                                            <script>
                                                document.getElementById("loanDisbursedApproved").classList.add('selectionButtonSelected');
                                            </script>
                                    </div>
                                </section>

                                <% include ../../partion/agentTaskSearchBarHeader.ejs %>

                                <!-- <select name="filter" style="width: 80px; height: 32px; border: 1px solid grey; margin-right: -17%; margin-top: 0%; float:right; background-color:darkblue; color:white; position: -webkit-sticky;">
                                            <option value="select">Filter</option>
                                    </select> -->
                                <!-- <a href="#" style="color:green; float:right; margin-right: 1%; margin:5px;">Message</a>
                                    <a href="#" style="color:blue; float:right; margin-right: 3%; margin:5px;">Export</a> -->

                                <h3>Manager Disbursed the Loan</h3>
                                <div style="overflow-x:auto;">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" name="checkbox">
                                                </th>
                                                <th>loan ID</th>
                                                <th>Customer</th>
                                                <th>Contact No.</th>
                                                <th>Loan Type</th>
                                                <th>Disbursement Amount</th>
                                                <th>Bank</th>
                                                <th>Bank Acc. Name</th>
                                                <th>Bank Acc. No.</th>
                                                <th>Agent</th>
                                                <th>Loan Approved On</th>
                                                <th>Disbursement On</th>
                                                <th>Receipt</th>

                                            </tr>
                                        </thead>
                                        <% for (let i=0; i<loans.length; i++){%>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" name="checkbox"></td>
                                                <td><%= loans[i].loanId %></td>
                                                <td class="actions">
                                                    <a href="/agent/customerDetails/personalInfo/<%= loans[i].customerId %>"><%= loans[i].customerName %></a>
                                                </td>
                                                <td><%= loans[i].phoneNumber %></td>
                                                <td><%= loans[i].loanType %></td>
                                                <td><%= loans[i].disbursement %></td>
                                                <td><%= loans[i].bankName %></td>
                                                <td><%= loans[i].bankAccountName %></td>
                                                <td><%= loans[i].bankAccountNumber %></td>
                                                <td><%= loans[i].agent %></td>
                                                <td><%= loans[i].approvalAgentTime %></td>
                                                <td style="color:green;" ><%= loans[i].approvalManagerTime %></td>
                                                <td class="actions">
                                                    <a href="checkDisbursementProof/<%= loans[i].loanId %>">Check</a>
                                                </td>

                                            </tr>

                                        </tbody>
									    <% } %>

                                        <!-- <tbody>
                                                    <tr id="total">
                                                        <td>

                                                        </td>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>
                                                            10000.00
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            1000.00
                                                        </td>
                                                        <td>
                                                            12 Months
                                                        </td>
                                                        <td>
                                                            150.00
                                                        </td>
                                                        <td>
                                                            0.00
                                                        </td>
                                                        <td>
                                                            900.00
                                                        </td>
                                                        <td>
                                                            98.33
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            
                                                        </td>

            
                                                    </tr>
                                                    
                                            </tbody> -->
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="datatable-default_previous">
                                    <a href="#" aria-controls="datatable-default" data-dt-idx="0" tabindex="0"
                                        class="page-link">
                                        </a> </li> <li class="paginate_button page-item active"><a href="#"
                                                aria-controls="datatable-default" data-dt-idx="1" tabindex="0"
                                                class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                <li class="paginate_button page-item next" id="datatable-default_next"><a href="#"
                                        aria-controls="datatable-default" data-dt-idx="7" tabindex="0"
                                        class="page-link"></a></li>
                            </ul>
                        </div>
                        <select name="show"
                            style="width: 100px; height: 32px; border: 1px solid grey; margin-right: -10%; margin-top: -5%; float:left; color:black;">
                            <option value="select">Show: 10</option>
                        </select>
                        <div class="total-contents">
                            <button style="background-color: white; border:none;">Total: 10</button>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-9">

                                <div class="modal fade show receiptCheckModal" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true" >
                                    <div class="modal-dialog" >
                                        <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                            <div class="modal-header">
                                                    <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Receipt</h4>
                                                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                            </div>
                                            
                                            <div class="modal-body" >
                                                    
                                                <form id="demo-form" class="mb-4" novalidate="novalidate">
                                                    <% if(loans.length > 0){%>
                                                    <img id="image" style="width:70%;height: auto;" src="<%= (loans[0].disbursementProof && loans[0].disbursementProof.substring(0, 4) != "http") ? "http://" + loans[0].disbursementProof : loans[0].disbursementProof %>" 
                                                    <% }else{ %>
                                                        src="http://128.199.170.141:7000/img/no-image.jpg"
                                                    <% } %>
                                                    />
                                                    <div class="modal-footer">
                                                        <a href="/agent/taskNewApplication/loanDisbursedApproved" type="button" class="btn btn-light">Close</a>
                                                        <!-- <button type="submit" class="btn btn-primary">Save Changes</button> -->
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- <div class="modal-footer">
                                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save Changes</button>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
<script>
	// function readURL(input) {
	// 	if (input.files && input.files[0]) {
	// 		var reader = new FileReader();

	// 		reader.onload = function(e) {
	// 		$("#image").attr("src", e.target.result);
	// 		};

	// 		reader.readAsDataURL(input.files[0]);
	// 	}
    // }
    $(window).on('load',function(){
        if("<%= receiptCheckModal %>" == "true"){
            $('.receiptCheckModal').modal('show');
        }else{

        }
    });
</script>
<% include ../../partion/agentTaskSearchBarFooter.ejs %>

</html>