<!DOCTYPE html>
<html>

<head>
    <title>Manager Approved Debt Collection</title>
    <% include ../../partion/header.ejs %>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeader.ejs %>
        <div style="padding-top: 10%;" role="main">
            <div class="container2">
                <div class="padding2">
                    <h3><a href="/agent/task">Task</a> / <a href="/agent/taskDebtCollection/managerApproved">Debt
                            Collection
                            Manager Approved</a></h3>

                    <% include ../../partion/agentTaskDebtCollectionHeader.ejs %>
                    <script>
                        document.getElementById("managerApproved").classList.add('selectionButtonSelected');
                    </script><br>
                    <h3>Manager Approved Debt Collection</h3>
                    <div style="overflow-x:auto;">
                        <table class="table table-bordered mydatatable">
                            <thead>
                                <tr>
                                <tr>
                                    <th>
                                        <input type="checkbox" name="checkbox">
                                    </th>
                                    <th>Debt ID</th>
                                    <th>Customer</th>
                                    <th>Contact No.</th>
                                    <th>Loan Type</th>
                                    <th>Installment</th>
                                    <th>Collected</th>
                                    <th>Outstanding</th>
                                    <th>Agent</th>
                                    <th>Pay By</th>
                                    <th>Status</th>
                                    <th>Payment Due Date</th>
                                    <th>Paid On</th>
                                    <th>Agent Approved On</th>
                                    <th>Manager Approved On</th>
                                    <th>Receipt</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i<payments.length; i++){%>
                                <tr>
                                    <td><input type="checkbox" name="checkbox"></td>
                                    <td><%= payments[i].loanId%></td>
                                    <td class="actions">
                                        <a
                                            href="/agent/customerDetails/personalInfo/<%= payments[i].customerId %>"><%= payments[i].customerName %></a>
                                    </td>
                                    <td><%= payments[i].phoneNumber%></td>
                                    <td><%= payments[i].loanType%></td>
                                    <td><%= payments[i].installment%></td>
                                    <td><%= payments[i].collected%></td>
                                    <td><%= payments[i].outstanding%></td>
                                    <td><%= payments[i].agent%></td>
                                    <td><%= payments[i].paidBy%></td>
                                    <td><%= payments[i].status%></td>
                                    <td><%= payments[i].paymentDueDate%></td>
                                    <td><%= payments[i].paidOn%></td>
                                    <td style="color:green;"><%= payments[i].approvalAgentTime%></td>
                                    <td style="color:green;"><%= payments[i].approvalManagerTime%></td>
                                    <td class="actions" style="color:lightblue;">
                                        <a
                                            href="/agent/taskDebtCollection/managerApproved/<%= payments[i].paymentId%>">Check</a>
                                    </td>

                                </tr>

                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>



                <!-- modal -->
                <div class="row align-items-center">
                    <div class="col-sm-9">

                        <div class="modal fade show checkDebtCollection" id="myModal" data-backdrop="static"
                            data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">
                                            Debt Collection</h4>
                                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                    </div>

                                    <div class="modal-body">

                                        <form id="demo-form" class="mb-4" novalidate="novalidate">
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Customer</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="customerName" name="customerName"
                                                        class="form-control"
                                                        value="<%= payments[0] ? payments[0].customerName : "" %>"
                                                        readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Paid(RM)</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="collected" name="collected"
                                                        class="form-control"
                                                        value="<%= payments[0] ? payments[0].collected : "" %>" />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Installment(RM)</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="installment" name="installment"
                                                        class="form-control"
                                                        value="<%= payments[0] ? payments[0].installment : "" %>"
                                                        readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Outstanding(RM)</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="outstanding" name="outstanding"
                                                        class="form-control"
                                                        value="<%= payments[0] ? payments[0].outstanding : "" %>"
                                                        readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Loan Status</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="status" name="status" class="form-control"
                                                        value="<%= payments[0] ? payments[0].status : "" %>" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-6 text-left text-sm-center mb-0"
                                                    style="color: black;">Principal(RM)
                                                    <input type="number" id="principalPaid" name="principalPaid"
                                                        class="form-control"
                                                        value="<%= payments[0] ? payments[0].principalPaid : 0 %>"
                                                        readonly />
                                                </label>
                                                <label class="col-sm-6 text-centre text-sm-center mb-0"
                                                    style="color: black;">Interest(RM)
                                                    <input type="number" id="interestPaid" name="interestPaid"
                                                        class="form-control"
                                                        value="<%= payments[0] ? payments[0].interestPaid : 0 %>"
                                                        readonly />
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-12 text-left text-sm-center mb-0"
                                                    style="color: black;">Receipt Preview</label>

                                                <img id="image" style="width:70%;height: auto;"
                                                    <% if(payments.lengh > 0){%>
                                                    src="<%= (payments != [] && payments[0].paymentProof && payments[0].paymentProof.substring(0, 4) != "http") ? "http://" + payments[0].paymentProof : (payments[0].paymentProof && payments != [] ? payments[0].paymentProof : "") %>"
                                                    <% }else{ %> src="http://128.199.170.141:7000/img/no-image.jpg"
                                                    <% } %> />

                                            </div>
                                            <div class="modal-footer">
                                                <a href="/agent/taskDebtCollection/managerApproved" type="button"
                                                    class="btn btn-light">Back</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

</html>
<script>
    $(window).on('load', function () {
        if ("<%= checkDebtCollection %>" == "true") {
            $('.checkDebtCollection').modal('show');
        } else {

        }
    });
    function validateForm() {
        let collected = parseInt(document.getElementById("collected").value * 100) / 100;
        let principalPaid = parseInt(document.getElementById("principalPaid").value * 100) / 100
        let interestPaid = parseInt(document.getElementById("interestPaid").value * 100) / 100
        // console.log(collected + " " + interestPaid + " " + principalPaid + " " + (principalPaid + interestPaid))
        if (collected == (principalPaid + interestPaid)) {
            // alert("validations passed");
            return true;
        } else {
            alert("Invalid amount! Principal Paid(" + principalPaid + ") + Interest Paid(" + interestPaid + ") not equal to Payment Amount(" + collected + ")");
            // returnToPreviousPage();
            return false;
            // window.location.replace(window.location.search);
        }

    }

    $(function () {
        $("#classifyPayment").click(function (event) {
            document.getElementById('principalPaid').removeAttribute('readonly');
            document.getElementById('interestPaid').removeAttribute('readonly');
            document.getElementById("classifyPayment").classList.add('selectionButton');
            document.getElementById("classifyPayment").classList.remove('selectionButtonSelected');
        });
    });
</script>