<!DOCTYPE html>
<html>

<head>
    <title>Debt Collection Approval</title>
    <% include ../../partion/header.ejs %>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeader.ejs %>
        <div style="padding-top: 10%;" role="main">
            <div class="container2">
                <div class="padding2">
                        <h3><a href="/agent/task">Task</a> / <a href="/agent/taskDebtCollection/pending">Debt
                                Collection
                                Pending</a></h3>

                    <% include ../../partion/agentTaskDebtCollectionHeader.ejs %>
                    <script>
                        document.getElementById("pending").classList.add('selectionButtonSelected');
                    </script><br>
                    <h3>Debt Collection Approval</h3>
                    <div style="overflow-x:auto;">
                        <table class="table table-bordered mydatatable">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" name="checkbox">
                                    </th>
                                    <th>Debt ID</th>
                                    <th>Customer</th>
                                    <th>Contact No.</th>
                                    <th>Loan Type</th>
                                    <th>Amount</th>
                                    <th>Collected</th>
                                    <th>Outstanding</th>
                                    <th>Agent</th>
                                    <th>Payment Due Date</th>
                                    <th>Paid On</th>
                                    <th>Receipt</th>
                                    <th>Approval</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i<payments.length; i++){%>
                                <tr>
                                    <td><input type="checkbox" name="checkbox"></td>
                                    <td><%= payments[i].loanId%></td>
                                    <td class="actions">
                                        <a
                                            href="/agent/customerDetails/personalInfo/<%= payments[i].customerId %>"><%= payments[i].customerName %></a>
                                    </td>
                                    <td><%= payments[i].phoneNumber%></td>
                                    <td><%= payments[i].loanType%></td>
                                    <td><%= payments[i].installment%></td>
                                    <td><%= payments[i].collected%></td>
                                    <td><%= payments[i].outstanding%></td>
                                    <td><%= payments[i].agent%></td>
                                    <td><%= payments[i].paymentDueDate%></td>
                                    <td><%= payments[i].paidOn%></td>
                                    <td class="actions" style="color:red;">
                                        <a
                                            href="/agent/taskDebtCollection/pending/<%= payments[i].paymentId%>">Check</a>
                                    </td>
                                    <td class="actions">
                                        <a href="/agent/taskDebtCollection/pending/<%= payments[i].paymentId%>"
                                            style="color:green;">Approve</a>
                                        <a href="/agent/taskDebtCollection/pending/<%= payments[i].paymentId%>"
                                            style="color:red;">Reject</a>
                                    </td>

                                </tr>

                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- modal -->
                <div class="row align-items-center">
                    <div class="col-sm-9">

                        <div class="modal fade show checkDebtCollection" id="myModal" data-backdrop="static"
                            data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Debt
                                            Collection</h4>
                                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                    </div>

                                    <div class="modal-body">

                                        <form id="demo-form" class="mb-4" novalidate="novalidate"
                                            action="/agent/taskDebtCollection/approvedPayment/<%= payments[0] ? payments[0].paymentId : ""%>"
                                            method="POST" onsubmit="return validateForm();">
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Customer</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="customerName" name="customerName"
                                                        class="form-control"
                                                        value="<%= payments[0] ? payments[0].customerName : "" %>"
                                                        readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Paid(RM)</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="collected" name="collected"
                                                        class="form-control"
                                                        value="<%= payments[0] ? payments[0].collected : "" %>" />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Installment(RM)</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="installment" name="installment"
                                                        class="form-control"
                                                        value="<%= payments[0] ? payments[0].installment : "" %>"
                                                        readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Outstanding(RM)</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="outstanding" name="outstanding"
                                                        class="form-control"
                                                        value="<%= payments[0] ? payments[0].outstanding : "" %>"
                                                        readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Loan Status</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="status" name="status" class="form-control"
                                                        value="<%= payments[0] ? payments[0].status : "" %>" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <!-- <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Amount</label> -->
                                                <div class="col-sm-5 text-left text-sm-right mb-0">
                                                    <button type="button" id="classifyPayment" name="classifyPayment"
                                                        style="color: white;"
                                                        class="btn btn-outline btn-rounded btn-primary  btn-with-arrow mb-2 selectionButtonSelected">Classify
                                                        Payment</span></button>
                                                </div>

                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-6 text-left text-sm-center mb-0"
                                                    style="color: black;">Principal(RM)
                                                    <input type="number" id="principalPaid" name="principalPaid"
                                                        class="form-control"
                                                        value="<%= payments[0] ? payments[0].principalPaid : 0 %>"
                                                        readonly />
                                                </label>
                                                <label class="col-sm-6 text-centre text-sm-center mb-0"
                                                    style="color: black;">Interest(RM)
                                                    <input type="number" id="interestPaid" name="interestPaid"
                                                        class="form-control"
                                                        value="<%= payments[0] ? payments[0].interestPaid : 0 %>"
                                                        readonly />
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-12 text-left text-sm-center mb-0"
                                                    style="color: black;">Receipt Preview</label>
                                                <img id="image" style="width:70%;height: auto;"
                                                    <% if(payments[0] && payments[0].paymentProof && payments[0].paymentProof != ""){%>
                                                    src="<%= (payments[0].paymentProof && payments[0].paymentProof.substring(0, 4) != "http") ? "http://" + payments[0].paymentProof : payments[0].paymentProof %>"
                                                    <% }else{ %> src="http://128.199.170.141:7000/img/no-image.jpg"
                                                    <% } %> />
                                                <!-- <div class="fileupload fileupload-new" data-provides="fileupload" style="margin-left: auto; margin-right: auto;">
                                                                    <div class="input-append">
                                                                        <div class="uneditable-input">
                                                                            <i class="fas fa-file fileupload-exists"></i>
                                                                            <span class="fileupload-preview"></span>
                                                                        </div>
                                                                        <span class="btn btn-default btn-file">
                                                                            <span class="fileupload-exists">Change</span>
                                                                            <span class="fileupload-new">Select file</span>
                                                                            <input type="file" />
                                                                        </span>
                                                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                                    </div>
                                                                </div> -->

                                            </div>
                                            <div class="modal-footer">
                                                <a href="/agent/taskDebtCollection/rejectingPayment/<%= payments[0] ? payments[0].paymentId : ""%>"
                                                    type="button" class="btn btn-light">Reject</a>
                                                <button type="submit" class="btn btn-primary">Confirm</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- <div class="modal-footer">
                                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save Changes</button>
                                            </div> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</body>

</html>
<script>
    $(window).on('load', function () {
        if ("<%= checkDebtCollection %>" == "true") {
            $('.checkDebtCollection').modal('show');
        } else {

        }
    });
    function validateForm() {
        let collected = parseInt(document.getElementById("collected").value * 100) / 100;
        let principalPaid = parseInt(document.getElementById("principalPaid").value * 100) / 100
        let interestPaid = parseInt(document.getElementById("interestPaid").value * 100) / 100
        // console.log(collected + " " + interestPaid + " " + principalPaid + " " + (principalPaid + interestPaid))
        if (collected == (principalPaid + interestPaid)) {
            // alert("validations passed");
            return true;
        } else {
            alert("Invalid amount! Principal Paid(" + principalPaid + ") + Interest Paid(" + interestPaid + ") not equal to Payment Amount(" + collected + ")");
            // returnToPreviousPage();
            return false;
            // window.location.replace(window.location.search);
        }

    }

    $(function () {
        $("#classifyPayment").click(function (event) {
            document.getElementById('principalPaid').removeAttribute('readonly');
            document.getElementById('interestPaid').removeAttribute('readonly');
            document.getElementById("classifyPayment").classList.add('selectionButton');
            document.getElementById("classifyPayment").classList.remove('selectionButtonSelected');
        });
    });


</script>