<!DOCTYPE html>
<html>

<head>
    <title>Applied Expenses Status</title>
    <% include ../../partion/header.ejs %>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeader.ejs %>
        <div style="padding-top: 10%;" role="main">
                <div class="container2">
                    <div class="padding2">
                        <h3><a href="/agent/expenses">Expenses</a> / <a href="/agent/expensesOverall">Overall </a></h3>
                        <% include ../../partion/agentExpensesHeader.ejs %>
                        <br>
                        <script>
                            document.getElementById("overall").classList.add('selectionButtonSelected');
                        </script>
                        <p class="tab">Expenses: RM<%= totalExpenses %></p><p class="tab">Bonus: RM<%= bonus %></p><p class="tab">Principal: RM<%= principal %></p><p class="tab">Expenses and Bonus: RM<%= totalExpensesBonus %></p>
                        <div style="overflow-x:auto;">
                            <table class="table table-bordered mydatatable">
                                <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" name="checkbox">
                                                </th>
                                                <!-- <th>No.</th> -->
                                                <th>Id</th>
                                                <th>Type</th>
                                                <th>Remark</th>
                                                <th>Expenses Receipt</th> -->
                                                <th>Status</th>
                                                <th>Expenses</th>
                                                <th>Bonus</th>
                                                <th>Pending Started</th>
                                                <th>Banked In Date</th>
                                                <th>Receipt</th>

                                            </tr>
                                </thead>
                                <tbody>
                                <% for (let i=0; i<expenses.length; i++){%>
                                            <tr>
                                                <td><input type="checkbox" name="checkbox"></td>
                                                <!-- <td><%= i+1 %></td> -->
                                                <td><%= expenses[i].expensesId %></td>
                                                <td><%= expenses[i].type %></td>
                                                <td><%= expenses[i].remark %></td>
                                                <% if(expenses[i].expensesProof == "-") { %>
                                                    <td>-</td> 
                                                <% }else{ %>
                                                    <td style="color:blue;cursor: pointer;" onclick="checkReceipt(`<%= expenses[i].expensesProof %>`)">Check</td>
                                                <% } %> 
                                                <td><%= expenses[i].status %></td>
                                                <td><%= expenses[i].expenses %></td>
                                                <td><%= expenses[i].bonus %></td>
                                                <td><%= expenses[i].createdAt %></td>
                                                <td><%= expenses[i].approvalManagerTime %></td>
                                                <% if(expenses[i].disbursementProof == "-") { %>
                                                    <td>-</td> 
                                                <% }else{ %>
                                                    <td style="color:blue;cursor: pointer;" onclick="checkReceipt(`<%= expenses[i].disbursementProof %>`)">Check</td>
                                                <% } %> 

                                            </tr>

                                <% } %>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    

                </div>
            

        </div>
    </div>
</body>
</html>
<script>
    function checkReceipt(url) {		
        url != "undefined" && url != undefined && url != "" ? url : "http://128.199.170.141:7000/img/no-image.jpg"
        Swal.fire({
            imageUrl: url,
        })
    }
</script>