<!DOCTYPE html>
<html>
	<head>
		<title>404 - Page Not Found</title>	
        <% include ../partion/header.ejs %>
	</head>
	<body>

		<div class="body">
			
			<div role="main" class="main">

				
				<div class="" style="width:100%">

					<section class="http-error">
						<div class="row justify-content-center">
							<div class=" text-center">
								<div class="http-error-main">
									<h2>500!</h2>
									<p>You do not have permission to access this page.</p>
								</div>
							</div>
						</div>
					</section>

				</div>

			</div>

		</div>

	</body>
</html>
