<div class="button-edit" style="text-align: center;">
    <a href="/agent/taskDebtCollection/pending"><button id="pending" class="selectionButton">
        Pending</button></a>
    <a href="/agent/taskDebtCollection/agentApproved"><button id="agentApproved" class="selectionButton">
        Agent Approved</button></a>
    <a href="/agent/taskDebtCollection/agentRejected"><button id="agentRejected" class="selectionButton">
        Agent Rejected</button></a>
    <a href="/agent/taskDebtCollection/managerApproved"><button id="managerApproved" class="selectionButton">
        Manager Approved</button></a>
    <a href="/agent/taskDebtCollection/managerRejected"><button id="managerRejected" class="selectionButton">
        ManagerRejected</button></a>
</div>