<script>
    var breadcrumb = document.createElement("text");
    $(function () {
        $("#searchButton").click(function (event) {
            var searchByUsername = document.getElementById("searchByUsername").value;
            var searchByIc = document.getElementById("searchByIc").value;
            var searchByContact = document.getElementById("searchByContact").value;
            var searchByDayOverdue = document.getElementById("searchByDayOverdue").value;
            var searchByPaid = document.getElementById("searchByPaid").value;
            var url = window.location.href
            url = url.indexOf("&") > 0 ? url.substring(0, url.indexOf("&")) : url
            url = url + "&searchByUsername=" + searchByUsername
                + "&searchByIc=" + searchByIc
                + "&searchByContact=" + searchByContact
                + "&searchByDayOverdue=" + searchByDayOverdue
                + "&searchByPaid=" + searchByPaid;
            window.location.replace(url);
        });
    });

    $(window).on('load', function () {
        let queryString = window.location.search;

        function queryStringToJSON(queryString) {
            if (queryString.indexOf('?') > -1) {
                queryString = queryString.split('?')[1];
            }
            var pairs = queryString.split('&');
            var result = {};
            pairs.forEach(function (pair) {
                pair = pair.split('=');
                result[pair[0]] = decodeURIComponent(pair[1] || '');
            });
            return result;
        }

        let queryStringJson = queryStringToJSON(window.location.href);
        queryStringJson.searchByUsername ? $("#searchByUsername").val(queryStringJson.searchByUsername) : ""
        queryStringJson.searchByIc ? $("#searchByIc").val(queryStringJson.searchByIc) : ""
        queryStringJson.searchByContact ? $("#searchByContact").val(queryStringJson.searchByContact) : ""
        queryStringJson.searchByDayOverdue ? $("#searchByDayOverdue").val(queryStringJson.searchByDayOverdue) : ""
        queryStringJson.searchByPaid ? $("#searchByPaid" + queryStringJson.searchByPaid).attr('selected', true) : ""
        var url = window.location.href
        let status = url.indexOf("?") > 0 ? url.substring(url.indexOf("?status=") + 8, (url.indexOf("&") > 0 ? url.indexOf("&") : (url.length))) : ""
        urlStatus = url.indexOf("&") > 0 ? url.substring(0, url.indexOf("&")) : url
        breadcrumb.innerHTML = "<a href='/agent/dashboard'>"
            + `<%= typeof langData !== 'undefined' && langData.header_home ? langData.header_home : "Home" %>` + "</a>"
            + " / <a href='" + urlStatus + "'>"
            + `<%= typeof langData !== 'undefined' && langData["dashboard_"+userStatus] ? langData["dashboard_"+userStatus] : "Search" %>` + "</a>"
            + (queryStringJson.searchByUsername ? " / "
                + `<%= typeof langData !== 'undefined' && langData.dashboardList_search ? langData.dashboardList_search : "Search" %>`
                + ": " + queryStringJson.searchByUsername : "")
        nameSearch.appendChild(breadcrumb)
    })
</script>