<form class="edit-loan-table" id="loan-table" style="margin-left:0%">
        <input type="search" class="search-btn skills" name="searchByUsername" id="searchByUsername"
                placeholder="<%= typeof langData !== 'undefined' && langData.dashboardList_customer ? langData.dashboardList_customer: "Customer" %>">
        <input type="search" class="search-btn skills" name="searchByIc" id="searchByIc"
                placeholder="<%= typeof langData !== 'undefined' && langData.dashboardList_ic ? langData.dashboardList_ic: "IC No." %>">
        <input type="search" class="search-btn skills" name="searchByContact" id="searchByContact"
                placeholder="<%= typeof langData !== 'undefined' && langData.dashboardList_contactNo ? langData.dashboardList_contactNo: "Contact No." %>">
        <input type="search" class="search-btn skills" name="searchByDayOverdue" id="searchByDayOverdue"
                placeholder="<%= typeof langData !== 'undefined' && langData.dashboardList_overdue ? langData.dashboardList_overdue: "Overdue (Day)" %>">
        <select id="searchByPaid" name="searchByPaid"
                style="width: 100px; height: 32px; border: 1px solid grey; margin: 20px;">
                <option value="" selected="true">Paid (%)</option>
                <option id="searchByPaid25" name="searchByPaid25" value="25">0% - 25%</option>
                <option id="searchByPaid50" name="searchByPaid50" value="50">25% - 50%</option>
                <option id="searchByPaid75" name="searchByPaid75" value="75">50% - 75%</option>
                <option id="searchByPaid100" name="searchByPaid100" value="100">75% - 100%</option>
        </select>
        <button id="searchButton" class="search-btn-btn" type="button"
                style="background-color: darkblue; color: white; box-shadow: none; margin: 2%; border-radius: 12px; border: none; margin-top: 2%; font-size: 15px; width: 100px; height: 32px; ">
                <%= typeof langData !== 'undefined' && langData.dashboardList_search ? langData.dashboardList_search: "Search" %>
        </button>
</form>