<button type="button" class="btn btn-rounded btn-light mb-2">Cust. Info</button>
<button type="button" class="btn btn-rounded btn-light mb-2">Loan</button>
<button type="button" class="btn btn-rounded btn-light mb-2">Contact</button>
<button type="button" class="btn btn-rounded btn-light mb-2">Call Recors</button>
<button type="button" class="btn btn-rounded btn-light mb-2">Location</button>
<button type="button" class="btn btn-rounded btn-light mb-2">Remark</button>
<button type="button" class="btn btn-rounded btn-light mb-2">Other</button>