<header id="header" style="z-index: 100001;"
    class="header-transparent header-transparent-not-fixed header-no-min-height"
    data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 52, 'stickySetTop': '0'}">
    <div class="header-body border-top-0 header-body-bottom-border">

        <div class="header-container container container-lg">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="/manager/dashboard">
                                <img alt="logo" width="200" src="/img/icon/logo.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div
                            class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
                            <div
                                class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li>
                                            <a id="headerHome" href="/manager/dashboard">
                                                <%= typeof langData !== 'undefined' && langData.header_home ? langData.header_home : "Home" %>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="headerTask" href="/manager/task">
                                                <%= typeof langData !== 'undefined' && langData.header_task ? langData.header_task : "Task" %>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="headerCustomer" href="/manager/customer">
                                                <%= typeof langData !== 'undefined' && langData.header_customer ? langData.header_customer : "Customer" %>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="headerReport" href="/manager/report">
                                                <%= typeof langData !== 'undefined' && langData.header_report ? langData.header_report : "Report" %>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="headerExpenses" href="/manager/expenses">
                                                <%= typeof langData !== 'undefined' && langData.header_expenses ? langData.header_expenses : "Expenses" %>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="headerSetting" href="/manager/setting">
                                                <%= typeof langData !== 'undefined' && langData.header_setting ? langData.header_setting: "Setting" %>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logout">
                                                <img src="/img/avatars/logout.png" style="width:30px;height:30px;">
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                data-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<script>
    $(window).on('load', function () {
        var url = window.location.href
        url.includes("/manager/dashboard") ? document.getElementById("headerHome").classList.add('active') : 
        url.includes("/manager/task") ? document.getElementById("headerTask").classList.add('active') : 
        url.includes("/manager/customer") ? document.getElementById("headerCustomer").classList.add('active') : 
        url.includes("/manager/report") ? document.getElementById("headerReport").classList.add('active') : 
        url.includes("/manager/expenses") ? document.getElementById("headerExpenses").classList.add('active') : 
        url.includes("/manager/setting") ? document.getElementById("headerSetting").classList.add('active') : 
        "";
    })
</script>