<div class="button-edit" style="text-align: center;">
        <a href="/manager/taskDebtCollection/pending"><button id="pending" class="selectionButton">
            Pending</button></a>
        <a href="/manager/taskDebtCollection/collected"><button id="collected" class="selectionButton">
            Collected</button></a>
        <a href="/manager/taskDebtCollection/rejected"><button id="rejected" class="selectionButton">
            Rejected</button></a>
    </div>