<!DOCTYPE html>
<html>

<head>
	<title>Search Table</title>
	<% include ../../partion/header.ejs %>

</head>

<body>

	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>

		<div role="main" class="main">
			<div class="container py-2">

				<div class="row">
					<div class="col">

						<div class="row" style="margin-top: 5%">
							<div class="col pb-3">
								<% include ../../partion/agentHomeSearchBarHeader.ejs %>
								
								<!-- <select name="filter" style="width: 80px; height: 32px; border: 1px solid grey; margin-right: -18%; margin-top: -1%; float:right; background-color:darkblue; color:white; position: -webkit-sticky;">
                                            <option value="select">Filter</option>
                                    </select>
                                    <a href="#" style="color:green; float:right; margin-right: 1%;">Message</a>
                                    <a href="#" style="color:blue; float:right; margin-right: 3%;">Export</a> -->
                                    
									<h3 id="nameSearch" name="nameSearch"></h3>

								<table class="table table-bordered">
									<thead>
										<tr>
											<th><input type="checkbox" name="checkbox"></th>
											<th>No.</th>
											<th><%= typeof langData !== 'undefined' && langData.dashboardList_customer ? langData.dashboardList_customer: "Customer" %></th>
											<th><%= typeof langData !== 'undefined' && langData.dashboardList_contactNo ? langData.dashboardList_contactNo: "Contact No." %></th>
											<th><%= typeof langData !== 'undefined' && langData.dashboardList_ic ? langData.dashboardList_ic: "IC No." %></th>
											<th><%= typeof langData !== 'undefined' && langData.dashboardList_unpaid ? langData.dashboardList_unpaid: "Unpaid" %></th>
											<th><%= typeof langData !== 'undefined' && langData.dashboardList_paid ? langData.dashboardList_paid: "Paid" %></th>
											<th><%= typeof langData !== 'undefined' && langData.dashboardList_earningLosses ? langData.dashboardList_earningLosses: "Earning/Losses" %></th>
											<th><%= typeof langData !== 'undefined' && langData.dashboardList_noOfTimesOverdue ? langData.dashboardList_noOfTimesOverdue: "No of Times Overdue" %></th>
											<th><%= typeof langData !== 'undefined' && langData.dashboardList_overdue ? langData.dashboardList_overdue: "Overdue(day)" %></th>
											<th><%= typeof langData !== 'undefined' && langData.dashboardList_agent ? langData.dashboardList_agent: "Agent" %></th>
											<th><%= typeof langData !== 'undefined' && langData.dashboardList_stage ? langData.dashboardList_stage: "Stage" %></th>
											<th><%= typeof langData !== 'undefined' && langData.dashboardList_status ? langData.dashboardList_status: "Status" %></th>
											<th><%= typeof langData !== 'undefined' && langData.dashboardList_remark ? langData.dashboardList_remark: "Remark" %></th>

										</tr>
									</thead>
									<% for (let i=0; i<users.length; i++){%>
									<tbody>
										<tr>
											<td><input type="checkbox" name="checkbox">
											<td><%= (i+1) %></td>
											<td class="actions">
												<a href="/agent/customerDetails/personalInfo/<%= users[i]._id %>">
													<%= users[i].username %>
												</a>
											</td>
											<td><%= users[i].phoneNumber %></td>
											<td><%= users[i].ic %></td>
											<td>0</td>
											<td>0</td>
											<td>0</td>
											<td>0</td>
											<td>0</td>
											<td></td>
											<td><%= users[i].status %></td>
											<td>Normal</td>
											<td>-</td>

										</tr>

									</tbody>
									<% } %>

									<tbody>
                                            <tr id="total">
												<td></td>
												<td><%= users.length %></td>
												<td></td>
												<td></td>
												<td></td>
												<td><%= "0" %></td>
												<td><%= "0" %></td>
												<td><%= "0" %></td>
												<td><%= "0" %></td>
												<td><%= "0" %></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
                                            </tr>
                                        </tbody>
								</table>

							</div>
						</div>
						<div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
							<ul class="pagination">
								<li onclick="previousButton()" id="previousButton" class="paginate_button page-item previous" id="datatable-default_previous">
									<span aria-controls="datatable-default" data-dt-idx="0" tabindex="0" class="page-link"><</span>
								</li> 
								<% for (let i=1; i<=noOfPages; i++){%>
									<li onclick="pageButton(`<%= i %>`)" id="page_<%= i %>" class="paginate_button page-item ">
										<span aria-controls="datatable-default" data-dt-idx="0" tabindex="0" class="page-link"><%= i %></span>
									</li>
								<% } %>
								<li onclick="nextButton()" id="nextButton" class="paginate_button page-item next" id="datatable-default_next">
									<span aria-controls="datatable-default" data-dt-idx="0" tabindex="0" class="page-link">></span>
								</li>
							</ul>
						</div>
						<select id="show" name="show" onchange="showButton(value);" style="width: 100px; height: 32px; border: 1px solid grey; margin-right: -10%; margin-top: -5%; float:left; color:black;">
							<option id="show10" value="10"><%= typeof langData !== 'undefined' && langData.dashboardList_show ? langData.dashboardList_show: "Show" %>: 10</option>
							<option id="show50" value="50"><%= typeof langData !== 'undefined' && langData.dashboardList_show ? langData.dashboardList_show: "Show" %>: 50</option>
							<option id="show100" value="100"><%= typeof langData !== 'undefined' && langData.dashboardList_show ? langData.dashboardList_show: "Show" %>: 100</option>
						</select>
						<div class="total-contents">
							<label>Total</label>
							<input type="text" class="totalContents" value="<%= typeof langData !== 'undefined' && langData.dashboardList_total ? langData.dashboardList_total+" ": "Total " %>: <%= total %>" size="10" readonly>
						</div>

					</div>
				</div>

			</div>

		</div>

	</div>
</body>
</html>
<% include ../../partion/agentHomeSearchBarFooter.ejs %>
<script>
	var url = window.location.href
	function queryStringToJSON(queryString) {
			if (queryString.indexOf('?') > -1) {
				queryString = queryString.split('?')[1];
			}
			var pairs = queryString.split('&');
			var result = {};
			pairs.forEach(function (pair) {
				pair = pair.split('=');
				result[pair[0]] = decodeURIComponent(pair[1] || '');
			});
			return result;
	}
	function loadPage(page,show){
        var searchByUsername = document.getElementById("searchByUsername").value;
        var searchByIc = document.getElementById("searchByIc").value;
        var searchByContact = document.getElementById("searchByContact").value;
        var searchByDayOverdue = document.getElementById("searchByDayOverdue").value;
        var url = window.location.href
        url = url.indexOf("&") > 0 ? url.substring(0,url.indexOf("&")) : url
        url = url + "&searchByUsername=" + searchByUsername + "&searchByIc=" + searchByIc + "&searchByContact=" + searchByContact + "&searchByDayOverdue=" + searchByDayOverdue + "&show=" + show + "&page=" + page;
		window.location.replace(url);
	}
	function showButton(show){
        var searchByUsername = document.getElementById("searchByUsername").value;
        var searchByIc = document.getElementById("searchByIc").value;
        var searchByContact = document.getElementById("searchByContact").value;
        var searchByDayOverdue = document.getElementById("searchByDayOverdue").value;
        var url = window.location.href
        url = url.indexOf("&") > 0 ? url.substring(0,url.indexOf("&")) : url
        url = url + "&searchByUsername=" + searchByUsername + "&searchByIc=" + searchByIc + "&searchByContact=" + searchByContact + "&searchByDayOverdue=" + searchByDayOverdue + "&show=" + show;
		window.location.replace(url);
	}

	function previousButton(){
		let queryStringJson = queryStringToJSON(url);
		let page = queryStringJson.page ? queryStringJson.page : 1
		let show = queryStringJson.show ? queryStringJson.show : 10
		loadPage(--page,show)
	}

	function nextButton(){
		let queryStringJson = queryStringToJSON(url);
		let page = queryStringJson.page ? queryStringJson.page : 1
		let show = queryStringJson.show ? queryStringJson.show : 10
		loadPage(++page,show)
	}

	function pageButton(page){
		let queryStringJson = queryStringToJSON(url);
		let show = queryStringJson.show ? queryStringJson.show : 10
		loadPage(page,show)
	}

    $(window).on('load', function () {
		var url = window.location.href
		
		let queryStringJson = queryStringToJSON(url);
		let page = queryStringJson.page ? queryStringJson.page : 1
		let show = queryStringJson.show ? queryStringJson.show : 10
		document.getElementById("page_"+page).classList.add('active')
		// document.getElementById("show"+show).classList.add('active')
		$('#show').val(show);

		'<%= firstPage %>' == 'true' ? document.getElementById("previousButton").classList.add('disabled','unclickable') : ""
		'<%= lastPage %>' == 'true' ? document.getElementById("nextButton").classList.add('disabled','unclickable') : ""
	})
</script>