<!DOCTYPE html>
<html>

<head>
    <% include ../../partion/header.ejs %>
    <style>
        .selectReasonType {
                border: 1px solid black;
                border-radius: 50px;
                height: 40px;
                width: 90%;
                margin-bottom: 15px;
                cursor: pointer;
                background: white;
        }
    </style>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeader.ejs %>
        <div role="main" class="main">

            <div class="container py-2">

                <div class="row">
                    <div class="col">

                        <div class="row" style="margin-top:0;">
                            <!-- <div class="col"> -->

                                <hr class="solid my-5">

                                <!-- <h4><%= reasonType %></h4> -->

                                <!-- <div class="formBox-language" style="background : white;margin-top:0;padding:0;">
                                    <form style="margin-top:0">
                                        <a href="/agent/settingChangeReason/beingBlacklisted"><button type="button" class="selectReasonType" name="beingBlacklisted"><%= reasons[0].reason %></button></a><br>
                                    </form>
                                </div> -->
                                
					            <div class="row mb-5 pb-3">
                                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                                        <h4 class="mb-4"><%= reasonType %></h4>
            
                                        <div class="card border-0 border-radius-0 bg-color-grey">
                                            <div class="card-body">
                                                <h4 class="card-title mb-1 text-4 font-weight-bold">Card Title</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapi.</p>
                                                <a href="#" class="btn btn-primary btn-modern">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>

                    </div>
                </div>

            </div>

        </div>
</body>

</html>