<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<% include ../partion/header.ejs %>
	<style>
		/* .card{
				width: 210px; 
				height:200px;
			} */
		.card-img-top {
			width: 210px;
			height: 200px;
		}
	</style>

</head>

<body>
	<div class="body">
		<% include ../partion/bodyHeader.ejs %>

		<div role="main" class="main">

			<div class="container py-2">

				<div class="row mb-4 pb-3">
					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/task/newApplication"><img class="card-img-top"
									src="/img/icon/t1-new-application.png" alt="Card Image"
									width=10></a>
							<div class="card-body">
								<h4>New Application</h4>
								<p><b>10</b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/task/newDebtCollection"><img class="card-img-top"
									src="/img/icon/t2-debt-collected.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Debt Collection</h4>
								<p><b>10</b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="#"><img class="card-img-top"
									src="/img/icon/t3-commission-with.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Commission With.</h4>
								<p><b>10</b></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
</body>

</html>