<!DOCTYPE html>
<html>

<head>
    <title>Disbursement Pending</title>
    <% include ../../partion/header.ejs %>
    <style>
        .selectionButton {
            border: 1px solid grey;
            background-color: white;
            border-radius: 12px;
            font-size: 15px;
            padding: 5px;
            width: 150px;
            justify-content: center;
        }

        .selectionButtonSelected {
            border: 1px solid grey;
            border-radius: 12px;
            color: white;
            font-size: 15px;
            padding: 5px;
            width: 150px;
            justify-content: center;
            background-color: darkblue !important;
        }
			body, html {
				height: 100%;
			}
			img{
				max-width:180px;
			}
			input[type=file]{
				padding:10px;
				background:#2d2d2d;
			}
    </style>

</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeaderManager.ejs %>

        <div role="main" class="main">
            <div class="container py-2">

                <div class="row">
                    <div class="col">

                        <div class="row">
                            <div class="col pb-3">
                                <section
                                    class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
                                    style="background-color: white;">
                                    <div class="container">
                                            <% include ../../partion/managerTaskDisbursementHeader.ejs %>
                                            <script>
                                                document.getElementById("pending").classList.add('selectionButtonSelected');
                                            </script>
                                    </div>
                                </section>

                                <!-- <form action="#" class="edit-loan-table" id="loan-table">
                                        <input type="date" class="search-btn skills" name="start" id="start" >
                                        <input type="date" class="search-btn skills" name="endDate" id="endDate">
                                        <input type="search" class="search-btn skills" name="contact" id="contact" placeholder="Contact No.">   
                                        <button class="search-btn-btn" type="button"  style="background-color: darkblue; color: white; box-shadow: none; margin: 2%; border-radius: 12px; border: none; margin-top: 2%; font-size: 15px; width: 100px; height: 32px; ">Search</button>
                                    </form> -->

                                <!-- <select name="filter" style="width: 80px; height: 32px; border: 1px solid grey; margin-right: -17%; margin-top: 0%; float:right; background-color:darkblue; color:white; position: -webkit-sticky;">
                                            <option value="select">Filter</option>
                                    </select> -->
                                <!-- <a href="#" style="color:green; float:right; margin-right: 1%; margin:5px;">Message</a>
                                    <a href="#" style="color:blue; float:right; margin-right: 3%; margin:5px;">Export</a> -->

                                <h3>Disbursement Pending</h3>
                                <div style="overflow-x:auto;">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" name="checkbox">
                                                </th>
                                                <th>loan ID</th>
                                                <th>Customer</th>
                                                <th>Contact No.</th>
                                                <th>Loan Type</th>
                                                <th>Disbursement Amount</th>
                                                <th>Bank</th>
                                                <th>Bank Acc. Name</th>
                                                <th>Bank Acc. No.</th>
                                                <th>Agent</th>
                                                <th>Loan Approved On</th>
                                                <th>Reject</th>
                                                <th>Receipt</th>

                                            </tr>
                                        </thead>
                                        <% for (let i=0; i<loans.length; i++){%>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" name="checkbox"></td>
                                                <td><%= loans[i].loanId ? loans[i].loanId : "" %></td>
                                                <td class="actions">
                                                    <a href="customerDetails/personalInfo/<%= loans[i].customerId %>/<%= loans[i].loanId %>"><%= loans[i].customerName %></a>
                                                </td>
                                                <td><%= loans[i].phoneNumber ? loans[i].phoneNumber : "" %></td>
                                                <td><%= loans[i].loanType ? loans[i].loanType : "" %></td>
                                                <td><%= loans[i].disbursement ? loans[i].disbursement : "" %></td>
                                                <td><%= loans[i].bankName ? loans[i].bankName : "" %></td>
                                                <td><%= loans[i].bankAccountName ? loans[i].bankAccountName : "" %></td>
                                                <td><%= loans[i].bankAccountNumber ? loans[i].bankAccountNumber : "" %></td>
                                                <td><%= loans[i].agent ? loans[i].agent : "" %></td>
                                                <td><%= loans[i].approvalOn ? loans[i].approvalOn : "" %></td>
                                                <td class="actions">
                                                    <a href="rejectingLoan/<%= loans[i].loanId %>" style="color:red;">Reject</a>
                                                </td>
                                                <td>
                                                    <a href="uploadReceipt/<%= loans[i].loanId ? loans[i].loanId : "" %>" style="color:blue;">Upload</a>
													<!-- <a href="#modal" style="color: blue; border: none; background-color: white; display: flex;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#formModal" data-id=<%= i %>>Upload</a> -->
                                                </td>

                                            </tr>

                                        </tbody>
									    <% } %>

                                        <!-- <tbody>
                                                    <tr id="total">
                                                        <td>

                                                        </td>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>
                                                            10000.00
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            1000.00
                                                        </td>
                                                        <td>
                                                            12 Months
                                                        </td>
                                                        <td>
                                                            150.00
                                                        </td>
                                                        <td>
                                                            0.00
                                                        </td>
                                                        <td>
                                                            900.00
                                                        </td>
                                                        <td>
                                                            98.33
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            
                                                        </td>

            
                                                    </tr>
                                                    
                                            </tbody> -->
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="datatable-default_previous">
                                    <a href="#" aria-controls="datatable-default" data-dt-idx="0" tabindex="0"
                                        class="page-link">
                                        </a> </li> <li class="paginate_button page-item active"><a href="#"
                                                aria-controls="datatable-default" data-dt-idx="1" tabindex="0"
                                                class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                <li class="paginate_button page-item next" id="datatable-default_next"><a href="#"
                                        aria-controls="datatable-default" data-dt-idx="7" tabindex="0"
                                        class="page-link"></a></li>
                            </ul>
                        </div>
                        <select name="show"
                            style="width: 100px; height: 32px; border: 1px solid grey; margin-right: -10%; margin-top: -5%; float:left; color:black;">
                            <option value="select">Show: 10</option>
                        </select>
                        <div class="total-contents">
                            <button style="background-color: white; border:none;">Total: 10</button>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-9">

                                <div class="modal fade uploadReceiptModal" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-modal="true" >
                                    <div class="modal-dialog" >
                                        <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                            <div class="modal-header">
                                                    <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Upload Receipt</h4>
                                                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                            </div>
                                            
                                            <div class="modal-body" >
                                                    
                                                <form id="demo-form" class="mb-4" novalidate="novalidate" action="/managerUploadPaymentDisbursement" method="POST" enctype="multipart/form-data">
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Loan ID</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="loanId" class="form-control" value="<%= loans[0] ? loans[0].loanId : "" %>" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Customer</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="name" class="form-control" value="<%= loans[0] ? loans[0].customerName : "" %>" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Disbursement Amount</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="amount" class="form-control" value="<%= loans[0] ? loans[0].disbursement : "" %>" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Bank</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="bankName" class="form-control" value="<%= loans[0] ? loans[0].bankName : "" %>" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Bank Acc. Name</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="bankAccountName" class="form-control" value="<%= loans[0] ? loans[0].bankAccountName : "" %>" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Bank Acc. No.</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="bankAccountNumber" class="form-control" value="<%= loans[0] ? loans[0].bankAccountNumber : "" %>" readonly/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                            <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Receipt</label>
                                                            <div class="col-sm-9">
                                                                <img id="image" src="" />
                                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                                    <div class="input-append">
                                                                        <div class="uneditable-input">
                                                                            <i class="fas fa-file fileupload-exists"></i>
                                                                            <span class="fileupload-preview"></span>
                                                                        </div>
                                                                        <span class="btn btn-default btn-file">
                                                                            <span class="fileupload-exists">Change</span>
                                                                            <span class="fileupload-new">Select file</span>
                                                                            <input type="file" style="max-width:180px;" onchange='readURL(this);' name="image" required/>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/manager/taskDisbursement/pending" type="button" class="btn btn-light">Back</a>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade show rejectingLoanModal" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true" >
                                    <div class="modal-dialog" >
                                        <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                            <div class="modal-header">
                                                    <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Remark</h4>
                                                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                            </div>
                                            
                                            <div class="modal-body" >
                                                    
                                                <form id="demo-form" class="mb-4" novalidate="novalidate" action="/manager/taskDisbursement/rejectingLoan/<%= loans[0] ? loans[0].loanId : "" %>" method="POST">
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Customer</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="name" class="form-control" value="<%= loans[0] ? loans[0].customerName : "" %>" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Amount</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="amount" class="form-control" value="<%= loans[0] ? loans[0].amount : "" %>" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Duration</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="bankName" class="form-control" value="<%= loans[0] ? loans[0].duration : "" %>" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                            <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Reason</label>
                                                            <div class="col-sm-9">
                                                            <select name="reason" style="width: 100%; margin-right: auto; margin-left: auto;">
                                                                <!-- <option value="select">
                                                                    Choose reason here
                                                                </option> -->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <!-- <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;"></label> -->
                                                        <div class="col-sm-12">
                                                            <textarea rows="5" class="form-control" placeholder="Or type your reason here" name="reason" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/manager/taskDisbursement/pending" type="button" class="btn btn-light">Close</a>
                                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- <div class="modal-footer">
                                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save Changes</button>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    

                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
<script>
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function(e) {
			$("#image").attr("src", e.target.result);
			};

			reader.readAsDataURL(input.files[0]);
		}
    }
    $(window).on('load',function(){
        if("<%= uploadReceiptModal %>" == "true"){
            $('.uploadReceiptModal').modal('show');
        }else{

        }
    });
    $(window).on('load',function(){
        if("<%= rejectingLoanModal %>" == "true"){
            $('.rejectingLoanModal').modal('show');
        }else{

        }
    });
</script>
</html>