<!DOCTYPE html>
<html>
	<head>
		<title>In Progress</title>	
        <% include ../../partion/header.ejs %>
    </head>
    <body>
        <% include ../../partion/bodyHeader.ejs %>
        
			<div role="main" class="main">
			        <div class="container py-2">
                    
					<div class="row">
						<div class="col">

							<div class="row" style="margin-top: 5%">
								<div class="col pb-3">
                                    <!-- <hr class="solid my-5"> -->
                                    <!-- <form action="#" class="search-nav-form" id="search-table">
                                        <input type="search" class="search-btn skills" name="customer" id="customer" placeholder="Customer">
                                        <input type="search" class="search-btn skills" name="ic" id="ic" placeholder="IC No.">
                                        <input type="search" class="search-btn skills" name="contact" id="contact" placeholder="Contact No.">
                                        <input type="search" class="search-btn skills" name="overdue" id="overdue" placeholder="Overdue Day">
                                        <select name="paid" style="width: 80px; height: 32px; border: 1px solid grey; margin: 20px;">
                                        <option value="select">Paid (%)</option>
                                        </select>
                                        <button class="search-btn-btn" type="button"  style="background-color: darkblue; color: white; box-shadow: none; border-radius: 12px; border: none; font-size: 15px; width: 100px; height: 32px; ">Search</button>
                                    </form> -->
                                    <!-- <select name="filter" style="width: 80px; height: 32px; border: 1px solid grey; margin-right: -18%; margin-top: -1%; float:right; background-color:darkblue; color:white; position: -webkit-sticky;">
                                            <option value="select">Filter</option>
                                    </select>
                                    <a href="#" style="color:green; float:right; margin-right: 1%;">Message</a>
                                    <a href="#" style="color:blue; float:right; margin-right: 3%;">Export</a>
                                     -->
									<h3>In Progress : 1</h3>

                                    <div style="overflow-x:auto;">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th><input type="checkbox" name="checkbox"></th>
												<th>No.</th>
												<th>Joined Date</th>
												<th>Contact</th>
												<th>IC No.</th>
												<th>Stage</th>
												<th>Agent</th>
												<th>Status</th>
												<th>Remark</th>

											</tr>
										</thead>
										<% for (let i=0; i<1; i++){%>
										<tbody>
											<tr>
												<td><input type="checkbox" name="checkbox">
												<td><%= i+1 %></td>
												<td>Peter Wong</td>
                                                <td>May 25th, 2019</td>
                                                <td>0123456781</td>
                                                <td>910506089911</td>
                                                <td>New Customer</td>
                                                <td>Jerry Wong</td>
                                                <td>Normal</td>
                                                <td>-</td>
    
											</tr>
											
                                        </tbody>
										<% } %>
                                        
                                        <!-- <tbody>
                                            <tr id="total">
												<td></td>
												<td>1</td>
												<td>1</td>
												<td></td>
												<td></td>
												<td>1</td>
												<td>1</td>
												<td>899.99</td>
												<td>0</td>
												<td>0</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
                                            </tr>
                                        </tbody> -->
									</table>
                                    </div>

                                    </div>
							</div>
							<div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
								<ul class="pagination">
									<li class="paginate_button page-item previous disabled" id="datatable-default_previous">
										<a href="#" aria-controls="datatable-default" data-dt-idx="0" tabindex="0" class="page-link"><</a></li>
										<li class="paginate_button page-item active"><a href="#" aria-controls="datatable-default" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
										<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
										<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
										<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
										<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
										<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
										<li class="paginate_button page-item next" id="datatable-default_next"><a href="#" aria-controls="datatable-default" data-dt-idx="7" tabindex="0" class="page-link">></a></li>
									</ul>
								</div>
                            <select name="show" style="width: 100px; height: 32px; border: 1px solid grey; margin-right: -10%; margin-top: -5%; float:left; color:black;">
                                <option value="select">Show: 10</option>
							</select>
							<div class="total-contents">
								<label>Total</label>
								<input type="text" class="totalContents" placeholder="Total: " size="10">
							</div>

						</div>
					</div>

				</div>

			</div>
    </body>