<!DOCTYPE html>
<html>

<head>
    <title>Apply New Expenses</title>
    <% include ../../partion/header.ejs %>
    <style>
        body, html {
            height: 100%;
        }

        img {
            max-width: 180px;
        }

        input[type=file] {
            padding: 10px;
            background: #2d2d2d;
        }
    </style>
</head>

<body>
    <div class="row align-items-center">
        <div class="col-sm-9">

            <div class="modal fade show applyNewExpensesModal" id="myModal" data-backdrop="static" data-keyboard="false"
                tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                        <div class="modal-header">
                            <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Apply New Expenses</h4>
                            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                        </div>

                        <div class="modal-body">

                            <form id="demo-form" class="mb-4" novalidate="novalidate" action="/agentApplyNewExpenses"
                                method="POST" enctype="multipart/form-data">
                                <input type="hidden" id="agentId" name="agentId" value="<%= admin._id%>">
                                <div class="form-group row align-items-center">
                                    <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Your Bank
                                        Acc. Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="name" class="form-control"
                                            value="<%= adminDetails && adminDetails.bankDetail ? adminDetails.bankDetail.bankAccountName : "" %>" readonly />
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Your
                                        Bank</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="bankName" class="form-control"
                                            value="<%= adminDetails && adminDetails.bankDetail ? adminDetails.bankDetail.bankName : "" %>" readonly />
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Your Bank
                                        Acc. No.</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="bankAccountNumber" class="form-control"
                                            value="<%= adminDetails && adminDetails.bankDetail ? adminDetails.bankDetail.bankAccountNumber : "" %>" readonly />
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-sm-3 text-left text-sm-right mb-0"
                                        style="color: black;">Principal</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="principal" class="form-control"
                                            value="<%= principal ? principal : 0 %>" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        <select required name="category" 
                                            style="width: 100%; margin-right: auto; margin-left: auto;">
                                            <option disabled selected value>Choose a Category</option>
                                            <option value="Transportation">Transportation</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <div class="col-sm-9">
                                        <input type="number" name="amount" class="form-control"
                                            placeholder="Type in Expenses Amount" required
                                            value="<%= /* expenses[0] ? expenses[0].amount : "" */ %>" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <textarea rows="5" class="form-control" placeholder="type the remark here"
                                            name="remark" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Receipt
                                        Preview</label>
                                    <div class="col-sm-9">
                                        <img id="image" src="" />
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="input-append">
                                                <div class="uneditable-input">
                                                    <i class="fas fa-file fileupload-exists"></i>
                                                    <span class="fileupload-preview"></span>
                                                </div>
                                                <span class="btn btn-default btn-file">
                                                    <span class="fileupload-exists">Change</span>
                                                    <span class="fileupload-new">Select file</span>
                                                    <input type="file" style="max-width:180px;"
                                                        onchange='readURL(this);' name="image" required />
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <a href="/agent/expenses" type="button"
                                        class="btn btn-light">Cancel</a>
                                    <button type="submit" class="btn btn-primary">Confirm</button>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save Changes</button>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $("#image").attr("src", e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    $(window).on('load', function () {
        $('.applyNewExpensesModal').modal('show');
    });
</script>