<!DOCTYPE html>
<html>

<head>
    <title>Applied Expenses Status</title>
    <% include ../../partion/header.ejs %>

</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeader.ejs %>

        <div role="main" class="main">
            <div class="container py-2">

                <div class="row">
                    <div class="col">

                        <div class="row">
                            <div class="col pb-3">
                                <section
                                    class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
                                    style="background-color: white;">
                                    <div class="container">
                                            <% include ../../partion/agentExpensesHeader.ejs %>
                                            <script>
                                                document.getElementById("paidExpenses").classList.add('selectionButtonSelected');
                                            </script>
                                    </div>
                                </section>

                                <% /* include ../../partion/agentTaskSearchBarHeader.ejs */ %>

                                <!-- <select name="filter" style="width: 80px; height: 32px; border: 1px solid grey; margin-right: -17%; margin-top: 0%; float:right; background-color:darkblue; color:white; position: -webkit-sticky;">
                                            <option value="select">Filter</option>
                                    </select> -->
                                <!-- <a href="#" style="color:green; float:right; margin-right: 1%; margin:5px;">Message</a>
                                    <a href="#" style="color:blue; float:right; margin-right: 3%; margin:5px;">Export</a> -->

                                <h3><a href="/agent/expenses">Expenses</a> / <a href="/agent/expensesPaid">Paid Expenses: RM <%= paidExpenses %> </a> / <a href="/agent/expensesApplyNew">(Apply New Expenses)</a><p class="tab">Principal: RM<%= principal %></p></h3>
                                <div style="overflow-x:auto;">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" name="checkbox">
                                                </th>
                                                <!-- <th>No.</th> -->
                                                <th>Expenses Id</th>
                                                <th>Applied Expenses</th>
                                                <th>Category</th>
                                                <th>Remark</th>
                                                <th>Expenses Receipt</th>
                                                <th>Applied On</th>
                                                <th>Paid On</th>
                                                <th>Receipt</th>

                                            </tr>
                                        </thead>
                                        <% for (let i=0; i<expenses.length; i++){%>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" name="checkbox"></td>
                                                <!-- <td><%= i+1 %></td> -->
                                                <td><%= expenses[i].expensesId %></td>
                                                <td><%= expenses[i].expenses %></td>
                                                <td><%= expenses[i].category %></td>
                                                <td><%= expenses[i].remark %></td>
                                                <% if(expenses[i].expensesProof == "-") { %>
                                                    <td>-</td> 
                                                <% }else{ %>
                                                    <td style="color:blue;cursor: pointer;" onclick="checkReceipt(`<%= expenses[i].expensesProof %>`)">Check</td>
                                                <% } %> 
                                                <td><%= expenses[i].createdAt %></td>
                                                <td><%= expenses[i].approvalManagerTime %></td>
                                                <% if(expenses[i].disbursementProof == "-") { %>
                                                    <td>-</td> 
                                                <% }else{ %>
                                                    <td style="color:blue;cursor: pointer;" onclick="checkReceipt(`<%= expenses[i].disbursementProof %>`)">Check</td>
                                                <% } %> 

                                            </tr>

                                        </tbody>
									    <% } %>

                                        <!-- <tbody>
                                                    <tr id="total">
                                                        <td>

                                                        </td>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>
                                                            10000.00
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            1000.00
                                                        </td>
                                                        <td>
                                                            12 Months
                                                        </td>
                                                        <td>
                                                            150.00
                                                        </td>
                                                        <td>
                                                            0.00
                                                        </td>
                                                        <td>
                                                            900.00
                                                        </td>
                                                        <td>
                                                            98.33
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            
                                                        </td>

            
                                                    </tr>
                                                    
                                            </tbody> -->
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="datatable-default_previous">
                                    <a href="#" aria-controls="datatable-default" data-dt-idx="0" tabindex="0"
                                        class="page-link">
                                        </a> </li> <li class="paginate_button page-item active"><a href="#"
                                                aria-controls="datatable-default" data-dt-idx="1" tabindex="0"
                                                class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                <li class="paginate_button page-item next" id="datatable-default_next"><a href="#"
                                        aria-controls="datatable-default" data-dt-idx="7" tabindex="0"
                                        class="page-link"></a></li>
                            </ul>
                        </div>
                        <select name="show"
                            style="width: 100px; height: 32px; border: 1px solid grey; margin-right: -10%; margin-top: -5%; float:left; color:black;">
                            <option value="select">Show: 10</option>
                        </select>
                        <div class="total-contents">
                            <button style="background-color: white; border:none;">Total: 10</button>
                        </div>
                        <!-- <div class="row align-items-center">
                            <div class="col-sm-9">

                                <div class="modal fade show rejectLoanModal" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true" >
                                    <div class="modal-dialog" >
                                        <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                            <div class="modal-header">
                                                    <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Remark</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            
                                            <div class="modal-body" >
                                                    
                                                <form id="demo-form" class="mb-4" novalidate="novalidate" action="/agent/taskNewApplication/rejectingLoan/<%= /* expenses[0] ? expenses[0].loanId : "" */ %>" method="POST">
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Customer</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="name" class="form-control" value="<%= /* expenses[0] ? expenses[0].customerName : "" */ %>" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Amount</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="amount" class="form-control" value="<%= /* expenses[0] ? expenses[0].amount : "" */ %>" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Duration</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="bankName" class="form-control" value="<%= /* expenses[0] ? expenses[0].duration : "" */ %>" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                            <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Reason</label>
                                                            <div class="col-sm-9">
                                                            <select name="reason" style="width: 100%; margin-right: auto; margin-left: auto;">
                                                                <option value="select">
                                                                    Choose reason here
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-12">
                                                            <textarea rows="5" class="form-control" placeholder="Or type your reason here" name="reason" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/agent/taskNewApplication/newApplication" type="button" class="btn btn-light">Close</a>
                                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div> -->

                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
<script>
	function checkReceipt(url) {		
		url != "undefined" && url != undefined && url != "" ? url : "http://128.199.170.141:7000/img/no-image.jpg"
		Swal.fire({
			imageUrl: url,
		})
    }
</script>
</html>