<!DOCTYPE html>
<html>

<head>
    <title>Agent Rejected Debt Collection</title>
    <% include ../../partion/header.ejs %>
    <style>
        .selectionButton {
            border: 1px solid grey;
            /* background-color: white; */
            border-radius: 12px;
            color: black;
            font-size: 15px;
            padding: 5px;
            width: 150px;
            justify-content: center;
        }

        .selectionButtonSelected {
            border: 1px solid grey;
            border-radius: 12px;
            color: white;
            font-size: 15px;
            padding: 5px;
            width: 150px;
            justify-content: center;
            background-color: darkblue !important;
        }
    </style>

</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeader.ejs %>

        <div role="main" class="main">
            <div class="container py-2">

                <div class="row">
                    <div class="col">

                        <div class="row">
                            <div class="col pb-3">
                                <section
                                    class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
                                    style="background-color: white;">
                                    <div class="container">
                                        <% include ../../partion/agentTaskDebtCollectionHeader.ejs %>
                                        <script>
                                            document.getElementById("agentRejected").classList.add('selectionButtonSelected');
                                        </script>
                                    </div>
                                </section>

                                <!-- <form action="#" class="edit-loan-table" id="loan-table">
                                            <input type="date" class="search-btn skills" name="start" id="start" >
                                            <input type="date" class="search-btn skills" name="endDate" id="endDate">
                                            <input type="search" class="search-btn skills" name="contact" id="contact" placeholder="Contact No.">   
                                            <button class="search-btn-btn" type="button"  style="background-color: darkblue; color: white; box-shadow: none; margin: 2%; border-radius: 12px; border: none; margin-top: 2%; font-size: 15px; width: 100px; height: 32px; ">Search</button>
                                        </form> -->

                                <!-- <select name="filter" style="width: 80px; height: 32px; border: 1px solid grey; margin-right: -17%; margin-top: 0%; float:right; background-color:darkblue; color:white; position: -webkit-sticky;">
                                                <option value="select">Filter</option>
                                        </select> -->
                                <!-- <a href="#" style="color:green; float:right; margin-right: 1%; margin:5px;">Message</a>
                                        <a href="#" style="color:blue; float:right; margin-right: 3%; margin:5px;">Export</a> -->

                                <h3>Agent Rejected Debt Collection</h3>
                                <div style="overflow-x:auto;">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" name="checkbox">
                                                </th>
                                                <th>Debt ID</th>
                                                <th>Customer</th>
                                                <th>Contact No.</th>
                                                <th>Loan Type</th>
                                                <th>Amount</th>
                                                <th>Collected</th>
                                                <th>Outstanding</th>
                                                <th>Agent</th>
                                                <th>Payment Due Date</th>
                                                <th>Paid On</th>
                                                <th>Agent Rejected On</th>
                                                <th>Remark</th>

                                            </tr>
                                        </thead>
                                        <% for (let i=0; i<payments.length; i++){%>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" name="checkbox"></td>
                                                <td><%= payments[i].loanId%></td>
                                                <td class="actions">
                                                    <a href="/agent/customerDetails/personalInfo/<%= payments[i].customerId %>"><%= payments[i].customerName %></a>
                                                </td>
                                                <td><%= payments[i].phoneNumber%></td>
                                                <td><%= payments[i].loanType%></td>
                                                <td><%= payments[i].installment%></td>
                                                <td><%= payments[i].collected%></td>
                                                <td><%= payments[i].outstanding%></td>
                                                <td><%= payments[i].agent%></td>
                                                <td><%= payments[i].paymentDueDate%></td>
                                                <td><%= payments[i].paidOn%></td>
                                                <td style="color:red;"><%= payments[i].approvalAgentTime%></td>
                                                <!-- <td class="actions" style="color:lightblue;">
                                                    <a
                                                        href="/agent/taskDebtCollection/agentApproved/<%= payments[i].paymentId%>">Check</a>
                                                </td> -->
                                                <td><%= payments[i].rejectionReasonAgent%></td>

                                            </tr>

                                        </tbody>
                                        <% } %>

                                        <!-- <tbody>
                                                        <tr id="total">
                                                            <td>
    
                                                            </td>
                                                            <td>
                                                                1
                                                            </td>
                                                            <td>
                                                                
                                                            </td>
                                                            <td>
    
                                                            </td>
                                                            <td>
                                                                10000.00
                                                            </td>
                                                            <td>
                                                                
                                                            </td>
                                                            <td>
                                                                1000.00
                                                            </td>
                                                            <td>
                                                                12 Months
                                                            </td>
                                                            <td>
                                                                150.00
                                                            </td>
                                                            <td>
                                                                0.00
                                                            </td>
                                                            <td>
                                                                900.00
                                                            </td>
                                                            <td>
                                                                98.33
                                                            </td>
                                                            <td>
    
                                                            </td>
                                                            <td>
    
                                                            </td>
                                                            <td>
                                                                
                                                            </td>
                                                            <td>
                                                                
                                                            </td>
                                                            <td>
                                                                
                                                            </td>
    
                
                                                        </tr>
                                                        
                                                </tbody> -->
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="datatable-default_previous">
                                    <a href="#" aria-controls="datatable-default" data-dt-idx="0" tabindex="0"
                                        class="page-link">
                                        <</a> </li> <li class="paginate_button page-item active"><a href="#"
                                                aria-controls="datatable-default" data-dt-idx="1" tabindex="0"
                                                class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
                                        data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                <li class="paginate_button page-item next" id="datatable-default_next"><a href="#"
                                        aria-controls="datatable-default" data-dt-idx="7" tabindex="0"
                                        class="page-link">></a></li>
                            </ul>
                        </div>
                        <select name="show"
                            style="width: 100px; height: 32px; border: 1px solid grey; margin-right: -10%; margin-top: -5%; float:left; color:black;">
                            <option value="select">Show: 10</option>
                        </select>
                        <div class="total-contents">
                            <button style="background-color: white; border:none;">Total: 10</button>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-9">

                                <div class="modal fade show checkDebtCollection" id="myModal" data-backdrop="static"
                                    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content"
                                            style="background-color: whitesmoke; margin-top: 40%;">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">
                                                    Debt Collection</h4>
                                                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                            </div>

                                            <div class="modal-body">

                                                <form id="demo-form" class="mb-4" novalidate="novalidate">
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0"
                                                            style="color: black;">Customer</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="customerName" name="customerName"
                                                                class="form-control"
                                                                value="<%= payments[0] ? payments[0].customerName : "" %>"
                                                                readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0"
                                                            style="color: black;">Paid(RM)</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="collected" name="collected"
                                                                class="form-control"
                                                                value="<%= payments[0] ? payments[0].collected : "" %>" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0"
                                                            style="color: black;">Installment(RM)</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="installment" name="installment"
                                                                class="form-control"
                                                                value="<%= payments[0] ? payments[0].installment : "" %>"
                                                                readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0"
                                                            style="color: black;">Outstanding(RM)</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="outstanding" name="outstanding"
                                                                class="form-control"
                                                                value="<%= payments[0] ? payments[0].outstanding : "" %>"
                                                                readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-3 text-left text-sm-right mb-0"
                                                            style="color: black;">Loan Status</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="status" name="status"
                                                                class="form-control"
                                                                value="<%= payments[0] ? payments[0].status : "" %>"
                                                                readonly />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-sm-6 text-left text-sm-center mb-0"
                                                            style="color: black;">Principal(RM)
                                                            <input type="number" id="principalPaid" name="principalPaid"
                                                                class="form-control"
                                                                value="<%= payments[0] ? payments[0].principalPaid : 0 %>"
                                                                readonly />
                                                        </label>
                                                        <label class="col-sm-6 text-centre text-sm-center mb-0"
                                                            style="color: black;">Interest(RM)
                                                            <input type="number" id="interestPaid" name="interestPaid"
                                                                class="form-control"
                                                                value="<%= payments[0] ? payments[0].interestPaid : 0 %>"
                                                                readonly />
                                                        </label>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 text-left text-sm-center mb-0"
                                                            style="color: black;">Receipt Preview</label>

                                                        <img id="image" style="width:70%;height: auto;"
                                                        <% if(payments.lengh > 0){%>
                                                            src="<%= (payments[0].paymentProof && payments[0].paymentProof.substring(0, 4) != "http") ? "http://" + payments[0].paymentProof : payments[0].paymentProof %>"
                                                            <% }else{ %>
                                                                src="http://128.199.170.141:7000/img/no-image.jpg"
                                                            <% } %>
                                                            />

                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/agent/taskDebtCollection/agentApproved" type="button"
                                                            class="btn btn-light">Back</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>
<script>
    $(window).on('load', function () {
        if ("<%= checkDebtCollection %>" == "true") {
            $('.checkDebtCollection').modal('show');
        } else {

        }
    });
    function validateForm() {
        let collected = parseInt(document.getElementById("collected").value * 100) / 100;
        let principalPaid = parseInt(document.getElementById("principalPaid").value * 100) / 100
        let interestPaid = parseInt(document.getElementById("interestPaid").value * 100) / 100
        // console.log(collected + " " + interestPaid + " " + principalPaid + " " + (principalPaid + interestPaid))
        if (collected == (principalPaid + interestPaid)) {
            // alert("validations passed");
            return true;
        } else {
            alert("Invalid amount! Principal Paid(" + principalPaid + ") + Interest Paid(" + interestPaid + ") not equal to Payment Amount(" + collected + ")");
            // returnToPreviousPage();
            return false;
            // window.location.replace(window.location.search);
        }

    }

    $(function () {
        $("#classifyPayment").click(function (event) {
            document.getElementById('principalPaid').removeAttribute('readonly');
            document.getElementById('interestPaid').removeAttribute('readonly');
            document.getElementById("classifyPayment").classList.add('selectionButton');
            document.getElementById("classifyPayment").classList.remove('selectionButtonSelected');
        });
    });
</script>