<!DOCTYPE html>
<html>

<head>
	<title>Search Table</title>
	<% include ../../partion/header.ejs %>

</head>

<body>

	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>

		<div role="main" class="main">
			<div class="container py-2">

				<div class="row">
					<div class="col">

						<div class="row" style="margin-top: 5%">
							<div class="col pb-3">
									<% include ../../partion/managerHomeSearchBarHeader.ejs %>

								<!-- <select name="filter" style="width: 80px; height: 32px; border: 1px solid grey; margin-right: -18%; margin-top: -1%; float:right; background-color:darkblue; color:white; position: -webkit-sticky;">
                                            <option value="select">Filter</option>
                                    </select>
                                    <a href="#" style="color:green; float:right; margin-right: 1%;">Message</a>
                                    <a href="#" style="color:blue; float:right; margin-right: 3%;">Export</a> -->
                                    
									<h3 id="nameSearch" name="nameSearch"></h3>

								<table class="table table-bordered">
									<thead>
										<tr>
											<th><input type="checkbox" name="checkbox"></th>
											<th>No.</th>
											<th>Customer</th>
											<th>Contact No.</th>
											<th>IC No.</th>
											<th>Unpaid</th>
											<th>Paid</th>
											<th>Earning/Losses</th>
											<th>No of Times Overdue</th>
											<th>Overdue(date)</th>
											<th>Agent</th>
											<th>Stage</th>
											<th>Status</th>
											<th>Remark</th>

										</tr>
									</thead>
									<% for (let i=0; i<users.length; i++){%>
									<tbody>
										<tr>
											<td><input type="checkbox" name="checkbox">
											<td><%= (i+1) %></td>
											<td class="actions">
												<a href="/manager/customerDetails/personalInfo/<%= users[i]._id %>"><%= users[i].username %></a>
											</td>
											<td><%= users[i].phoneNumber %></td>
											<td><%= users[i].ic %></td>
											<td>0</td>
											<td>0</td>
											<td>0</td>
											<td>0</td>
											<td>0</td>
											<td></td>
											<td><%= users[i].status %></td>
											<td>Normal</td>
											<td>-</td>

										</tr>

									</tbody>
									<% } %>

									<!-- <tbody>
                                            <tr id="total">
												<td></td>
												<td>1</td>
												<td>1</td>
												<td></td>
												<td></td>
												<td>1</td>
												<td>1</td>
												<td>899.99</td>
												<td>0</td>
												<td>0</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
                                            </tr>
                                        </tbody> -->
								</table>

							</div>
						</div>
						<div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
							<ul class="pagination">
								<li class="paginate_button page-item previous disabled" id="datatable-default_previous">
									<a href="#" aria-controls="datatable-default" data-dt-idx="0" tabindex="0"
										class="page-link">
										<</a> </li> <li class="paginate_button page-item active"><a href="#"
												aria-controls="datatable-default" data-dt-idx="1" tabindex="0"
												class="page-link">1</a></li>
								<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
										data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
								<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
										data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
								<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
										data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
								<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
										data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
								<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
										data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
								<li class="paginate_button page-item next" id="datatable-default_next"><a href="#"
										aria-controls="datatable-default" data-dt-idx="7" tabindex="0"
										class="page-link">></a></li>
							</ul>
						</div>
						<select name="show"
							style="width: 100px; height: 32px; border: 1px solid grey; margin-right: -10%; margin-top: -5%; float:left; color:black;">
							<option value="select">Show: 10</option>
						</select>
						<div class="total-contents">
							<label>Total</label>
							<input type="text" class="totalContents" placeholder="Total: <%= users.length %>" size="10">
						</div>

					</div>
				</div>

			</div>

		</div>

	</div>
</body>

</html>
<% include ../../partion/managerHomeSearchBarFooter.ejs %>