<!DOCTYPE html>
<html>

<head>
	<title>Report</title>
	<% include ../../partion/header.ejs %>
	<style>
		/* .card{
				width: 210px; 
				height:200px;
			} */
		.card-img-top {
			width: 210px;
			height: 200px;
		}
	</style>

</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>

		<div role="main" class="main">

			<div class="container py-2">

				<div class="row mb-4 pb-3">

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/manager/reportPerformance"><img class="card-img-top"
									src="/img/icon/r1-agent-performance.png" alt="Card Image"
									width=10></a>
							<div class="card-body">
								<h4>Agent Performance</h4>
								<p><b><%= valueOfEachReport.agentPerformance %></b></p>
							</div>
						</div>
                    </div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/manager/reportPrincipal"><img class="card-img-top"
									src="/img/icon/r2-principal.png" alt="Card Image"
									width=10></a>
							<div class="card-body">
								<h4>Principal(RM)</h4>
								<p><b><%= valueOfEachReport.principal %></b></p>
							</div>
						</div>
                    </div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/manager/reportLendOut"><img class="card-img-top"
									src="/img/icon/r3-lend-out.png" alt="Card Image"
									width=10></a>
							<div class="card-body">
								<h4>Lend Out(RM)</h4>
								<p><b><%= valueOfEachReport.lendOut %></b></p>
							</div>
						</div>
                    </div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/manager/reportEarnings"><img class="card-img-top"
									src="/img/icon/r4-collected.png" alt="Card Image"
									width=10></a>
							<div class="card-body">
								<h4>Earnings(RM)</h4>
								<p><b><%= valueOfEachReport.earnings %></b></p>
							</div>
						</div>
                    </div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/manager/reportOutstanding"><img class="card-img-top"
									src="/img/icon/r5-outstanding.png" alt="Card Image"
									width=10></a>
							<div class="card-body">
								<h4>Outstanding</h4>
								<p><b><%= valueOfEachReport.outstanding %></b></p>
							</div>
						</div>
                    </div>
                    
				</div>

			</div>
		</div>
</body>

</html>