<!DOCTYPE html>
<html>
	<head>
		<title>Debt Collection Approval</title>	
        <% include ../partion/header.ejs %>
        <style>
            .selectionButton{
                border:1px solid grey; 
                background-color: white; 
                border-radius: 12px; 
                font-size: 15px; 
                padding:5px; 
                width:150px; 
                justify-content: center;
            }
            .selectionButtonSelected{
                border:1px solid grey; 
                border-radius: 12px; 
                color:white; 
                font-size: 15px; 
                padding:5px; 
                width:150px; 
                justify-content: center; 
                background-color: darkblue !important;
            }
        </style>

	</head>
	<body>
		    <div class="body">
                <% include ../partion/bodyHeader.ejs %>

			<div role="main" class="main">
			        <div class="container py-2">
                    
					<div class="row">
						<div class="col">

							<div class="row">
								<div class="col pb-3">
										<section class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5" style="background-color: white;">
											<div class="container">
												<div class="button-edit">
													<a href="/task/newDebtCollection"><button class="selectionButtonSelected">Pending</button></a>
													<a href="/task/agentApprovedDebtCollection"><button class="selectionButton"> Agent Approved</button></a>
                                                    <a href="/task/agentRejectedDebtCollection"><button class="selectionButton"> Agent Rejected</button></a>
                                                    <a href="/task/agentApprovedDebtCollectionManager"><button class="selectionButton">Manager Approved</button></a>
                                                    <a href="/task/agentRejectedDebtCollectionManager"><button class="selectionButton">Manager Rejected</button></a>													
												</div>
											</div>
										</section>

                                    <!-- <form action="#" class="edit-loan-table" id="loan-table">
                                        <input type="date" class="search-btn skills" name="start" id="start" >
                                        <input type="date" class="search-btn skills" name="endDate" id="endDate">
                                        <input type="search" class="search-btn skills" name="contact" id="contact" placeholder="Contact No.">   
                                        <button class="search-btn-btn" type="button"  style="background-color: darkblue; color: white; box-shadow: none; margin: 2%; border-radius: 12px; border: none; margin-top: 2%; font-size: 15px; width: 100px; height: 32px; ">Search</button>
                                    </form> -->

                                    <!-- <select name="filter" style="width: 80px; height: 32px; border: 1px solid grey; margin-right: -17%; margin-top: 0%; float:right; background-color:darkblue; color:white; position: -webkit-sticky;">
                                            <option value="select">Filter</option>
                                    </select> -->
                                    <!-- <a href="#" style="color:green; float:right; margin-right: 1%; margin:5px;">Message</a>
                                    <a href="#" style="color:blue; float:right; margin-right: 3%; margin:5px;">Export</a> -->
                                    
									<h3>Debt Collection Approval</h3>
                                    <div style="overflow-x:auto;">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" name="checkbox">
                                                    </th>
                                                    <th>Debt ID</th>
                                                    <th>Customer</th>
                                                    <th>Contact No.</th>
                                                    <th>Loan Type</th>
                                                    <th>Amount</th>
                                                    <th>Collected</th>
                                                    <th>Outstanding</th>
                                                    <th>Agent</th>
                                                    <th>Payment Due Date</th>
                                                    <th>Paid On</th>
                                                    <th>Receipt</th>
                                                    <th>Approval</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="checkbox" name="checkbox"></td>
                                                    <td>001</td>
                                                    <td>Peter Wong</td>
                                                    <td>0111245876</td>
                                                    <td>Personal</td>
                                                    <td>100.00</td>
                                                    <td>100.00</td>
                                                    <td>1000.00</td>
                                                    <td>Jerry Wong</td>
                                                    <td>May 25th, 2019</td>
                                                    <td>May 25th, 2019</td>
                                                    <td class="actions" style="color:red;">
                                                        <a href="#">Check</a>
                                                    </td>
                                                    <td class="actions">
                                                        <a href="#" style="color:green;">Approve</a>
                                                        <a href="#" style="color:red;">Reject</a>
                                                    </td>
        
                                                </tr>
                                                
                                            </tbody>
                                            
                                            <!-- <tbody>
                                                    <tr id="total">
                                                        <td>

                                                        </td>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>
                                                            10000.00
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            1000.00
                                                        </td>
                                                        <td>
                                                            12 Months
                                                        </td>
                                                        <td>
                                                            150.00
                                                        </td>
                                                        <td>
                                                            0.00
                                                        </td>
                                                        <td>
                                                            900.00
                                                        </td>
                                                        <td>
                                                            98.33
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            
                                                        </td>

            
                                                    </tr>
                                                    
                                            </tbody> -->
                                        </table>
                                    </div>

                                </div>
							</div>
							<div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
								<ul class="pagination">
									<li class="paginate_button page-item previous disabled" id="datatable-default_previous">
										<a href="#" aria-controls="datatable-default" data-dt-idx="0" tabindex="0" class="page-link"><</a></li>
										<li class="paginate_button page-item active"><a href="#" aria-controls="datatable-default" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
										<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
										<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
										<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
										<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
										<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
										<li class="paginate_button page-item next" id="datatable-default_next"><a href="#" aria-controls="datatable-default" data-dt-idx="7" tabindex="0" class="page-link">></a></li>
									</ul>
								</div>
                            <select name="show" style="width: 100px; height: 32px; border: 1px solid grey; margin-right: -10%; margin-top: -5%; float:left; color:black;">
                                <option value="select">Show: 10</option>
							</select>
							<div class="total-contents">
								<button style="background-color: white; border:none;">Total: 10</button>
							</div>

						</div>
					</div>

				</div>

            </div>
		</div>
	</body>
</html>