<!DOCTYPE html>
<html>
	<head>	
        <title>Loan Details</title>	
        <% include ../../partion/header.ejs %>

	</head>
	<body>
		<div class="body">
            <% include ../../partion/bodyHeader.ejs %>
			<div role="main" class="main">
					
				<div class="container py-2">					
                    <div class="row">
                        <div class="col">
                            <!-- <h2 style="margin-right: 30;">Edit Loan</h2> -->
						<div class="col-lg-9 order-1 order-lg-2" style="margin-left: auto; margin-right: auto; background-color: lightgray;">
                            <div class="overflow-hidden mb-1">
								<h2 class="font-weight-normal text-5 mb-0">Loan Details</h2>
							</div>
                            <form id="contactForm" class="contact-form" action="/agent/taskNewApplication/updateLoan" method="POST">
								<div class="contact-form-success alert alert-success d-none mt-4" id="contactSuccess">
									<strong>Success!</strong> 
								</div>
							
								<div class="contact-form-error alert alert-danger d-none mt-4" id="contactError">
									<strong>Error!</strong> There was an error.
									<span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
								</div>
								
                                <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label class=" font-weight-bold text-dark text-2">Loan Id</label>
                                            <input type="text" value="<%= loanDetails._id %>" data-msg-required="Please enter something." maxlength="100" class="form-control" name="loanId" id="loanId" readonly>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class=" font-weight-bold text-dark text-2">Loan Type</label>
                                            <input type="text" value="<%= loanDetails.loanType %>" data-msg-required="Please enter lowest amount." maxlength="100" class="form-control" name="loanType" id="loanType" required>
                                        </div>
                                </div>
                                <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label class=" font-weight-bold text-dark text-2">Amount (RM)</label>
                                            <input type="text" value="<%= loanDetails.amount %>" data-msg-required="Please enter something." maxlength="100" class="form-control" name="amount" id="amount" required>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class=" font-weight-bold text-dark text-2"> Duration (Month)</label>
                                            <input type="text" value="<%= loanDetails.duration %>" data-msg-required="Please enter something." maxlength="100" class="form-control" name="duration" id="duration" required>
                                        </div>
                                </div>
                                <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label class=" font-weight-bold text-dark text-2">Interest (RM)</label>
                                            <input type="text" value="<%= loanDetails.interest %>" data-msg-required="Please enter something." maxlength="100" class="form-control" name="interest" id="interest" required>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class=" font-weight-bold text-dark text-2">Processing Fee (RM)</label>
                                            <input type="text" value="<%= loanDetails.processingFee %>" data-msg-required="Please enter something." maxlength="100" class="form-control" name="processingFee" id="processingFee" required>
                                        </div>
                                </div>
                                <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label class=" font-weight-bold text-dark text-2">Installment (RM)</label>
                                            <input type="text" value="<%= loanDetails.installment %>" data-msg-required="Please enter something." maxlength="100" class="form-control" name="installment" id="installment" required>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class=" font-weight-bold text-dark text-2">Disbursement (RM)</label>
                                            <input type="text" value="<%= loanDetails.disbursement %>" data-msg-required="Please enter something." maxlength="100" class="form-control" name="disbursement" id="disbursement" required>
                                        </div>
                                </div>
                                <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label class=" font-weight-bold text-dark text-2">Interest Rate (%)</label>
                                            <input type="text" value="<%= loanDetails.interestRate %>" data-msg-required="Please enter something." maxlength="100" class="form-control" name="interestRate" id="interestRate" required>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class=" font-weight-bold text-dark text-2">Total Interst Rate (%)</label>
                                            <input type="text" value="<%= loanDetails.interestRateTotal %>" data-msg-required="Please enter something." maxlength="100" class="form-control" name="interestRateTotal" id="interestRateTotal" required>
                                        </div>
                                </div>
								<div class="form-row" >
									<div class="form-group col-lg-6" >
                                        <a href="/agent/taskNewApplication/newApplication" class="btn btn-primary btn-modern" style="float: right;">Back</a>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="submit" value="Update" class="btn btn-primary btn-modern" data-loading-text="Loading..." >
                                    </div>
								</div>
                            </form>
						</div>
					</div>
                </div>
				</div>
		</div>
	</body>
</html>