<!DOCTYPE html>
<html>

<head>
    <% include ../../partion/header.ejs %>
    <style>
        .selectReasonType {
                border: 1px solid black;
                border-radius: 50px;
                height: 40px;
                width: 90%;
                margin-bottom: 15px;
                cursor: pointer;
                background: white;
        }
    </style>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeader.ejs %>
        <div role="main" class="main">

            <div class="container py-2">

                <div class="row">
                    <div class="col">

                        <div class="row" style="margin-top:0;">
                            <div class="col">

                                <hr class="solid my-5">

                                <h4><%= reasonType %></h4>

                                <div class="formBox-language" style="background : white;margin-top:0;padding:0;">
                                    <form style="margin-top:0">
                                        <a href="/agent/settingChangeReason/beingBlacklisted"><button type="button" class="selectReasonType" name="beingBlacklisted">Reasons of being blacklisted</button></a><br>
                                        <a href="/agent/settingChangeReason/customerProfileDetailsRejection"><button type="button" class="selectReasonType" name="customerProfileDetailsRejection">Reason of customer profile detail rejection</button></a><br>
                                        <a href="/agent/settingChangeReason/uploadPhotoRejected"><button type="button" class="selectReasonType" name="uploadPhotoRejected">Reason of upload photo rejection</button></a><br>
                                        <a href="/agent/settingChangeReason/loanApplicationRejected"><button type="button" class="selectReasonType" name="loanApplicationRejected">Reason of loan application rejection</button></a><br>
                                        <a href="/agent/settingChangeReason/paymentRejection"><button type="button" class="selectReasonType" name="paymentRejection">Reasons of payment rejection</button></a><br>
                                        <a href="/agent/settingChangeReason/remainderUpComingPaymentDueDate"><button type="button" class="selectReasonType" name="remainderUpComingPaymentDueDate">Remainder of up coming payment due date</button></a><br>
                                        <a href="/agent/settingChangeReason/remainderOverdue"><button type="button" class="selectReasonType" name="remainderOverdue">Remainder overdue</button></a><br>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
</body>

</html>