<!DOCTYPE html>
<html>

<head>
    <% include ../../partion/header.ejs %>
    <style>
		body, html {
			height: 100%;
		}
		img{
			max-width:180px;
		}
		input[type=file]{
			padding:10px;
			background:#2d2d2d;
		}</style>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeaderManager.ejs %>
        <div role="main" class="main">

            <div class="container py-2">
                <div class="row">
                    <div class="col">
                        <h3><a href="/manager/setting">Setting</a> / <a href="/manager/settingAgent/addAgent">Add Agent</a></h3>
                        <div class="col-lg-9 order-1 order-lg-2"
                            style="margin-left: auto; margin-right: auto; background-color: lightgray;">
                            <br>
                            <form id="contactForm" class="contact-form" action="/managerSettingNewAgent" method="POST" enctype="multipart/form-data">
                                <h2>Edit Agent</h2>
                                
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Agent Name</label>
                                        <input type="text" value=""                                            
                                            class="form-control" name="name" id="name" required>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Email</label>
                                        <input type="email" value=""                                            
                                            class="form-control" name="email" id="email" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Contact Number</label>
                                        <input type="text" value=""                                            
                                            class="form-control" name="contactNumber" id="contactNumber" required>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Account Status</label>
							            <select id="user_time_zone" class="form-control" size="0" name="status">
                                        <option value="active" >Active</option>
                                        <option value="inactive" >Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">IC No.</label>
                                        <input type="text" value=""                                            
                                            class="form-control" name="ic" id="ic" required>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Bank Account Name</label>
                                        <input type="text" value=""                                            
                                            class="form-control" name="bankAccountName" id="bankAccountName" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Bank</label>
                                        <input type="text" value=""                                            
                                            class="form-control" name="bankName" id="bankName" required>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Bank Account No.</label>
                                        <input type="text" value=""                                            
                                            class="form-control" name="bankAccountNumber" id="bankAccountNumber" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">principal</label>
                                        <input type="number" value=""                                            
                                            class="form-control" name="amountHold" id="amountHold" required>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Referral Code</label>
                                        <input type="text" value=""                                            
                                            class="form-control" name="referralCode" id="referralCode">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Position</label>
                                        <select id="user_time_zone" class="form-control" size="0" name="level">
                                            <option value="agent" >Agent</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <a href="/manager/settingAgent/addAgent" style="float: left;" type="button"
                                            class="btn btn-info btn-modern">Add Sub-Agent
                                        </a>
                                    </div>
                                </div> -->
                                <br><br>
                                <div class="form-row">
                                    <!-- <form id="uploadFrontIcAgent" name="uploadFrontIcAgent" class="contact-form" action="/managerSettingAgentUploadFrontIcAgent" method="POST" enctype="multipart/form-data"> -->
                                        <div class="form-group col-lg-6">
                                            <label class=" font-weight-bold text-dark text-2">Front View of IC</label>
                                            <div class="col-sm-9">
                                                <img id="frontIC" style="width:70%;height: auto;"
                                                        src="http://128.199.170.141:7000/img/no-image.jpg"
                                                />
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="input-append">
                                                        <div class="uneditable-input">
                                                            <span class="fileupload-preview"></span>
                                                        </div>
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileupload-exists">Change</span>
                                                            <span class="fileupload-new">Select file</span>
                                                            <input type="file" style="max-width:180px;"
                                                                onchange='uploadFrontIC(this);' name="image" required />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </form> -->
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <a href="/manager/settingAgent"  type="button" style="float: right;"
                                            class="btn btn-danger btn-modern">Cancel
                                        </a>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="submit" value="Confirm" class="btn btn-primary btn-modern"
                                            data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
<script>
	function uploadFrontIC(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function(e) {
			    $("#frontIC").attr("src", e.target.result);
                // document.forms["uploadFrontIcAgent"].submit()
                // document.getElementById("uploadFrontIcAgent").submit()
			};
            reader.readAsDataURL(input.files[0]);
		}
    }
	// function uploadBackIC(input) {
	// 	if (input.files && input.files[0]) {
	// 		var reader = new FileReader();

	// 		reader.onload = function(e) {
	// 		    $("#backIC").attr("src", e.target.result);
	// 		};
	// 		reader.readAsDataURL(input.files[0]);
	// 	}
    // }
</script>