<!DOCTYPE html>
<html>

<head>
	<title>Agent</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/manager/setting">Setting</a> / <a href="/manager/settingAgent">Agent</a>
					</h3>
					<a style="width:50%;  display: inline-block;"
						href="/manager/settingAgent/addAgent">Add Agent</a><br><br>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>No.</th>
									<th>Agent</th>
									<th>Joined Date</th>
									<th>Lend Out</th>
									<th>Collected</th>
									<th>Expenses</th>
									<th>Bonus</th>
									<th>Expenses and Bonus</th>
									<th>Earnings/Losses</th>
									<th>Principal</th>
									<th>Outstanding</th>
									<th>Status</th>
									<th>Edit</th>
									<th>Delete</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<agentList.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
									<td><%= (i+1) %></td>
									<!-- <td class="actions">
												<a href="/manager/customerDetails/personalInfo/<%= agentList[i].agentId %>"></a><%= agentList[i].name %></a>
											</td> -->
									<td><%= agentList[i].name %></td>
									<td><%= agentList[i].createdAt %></td>
									<td><%= agentList[i].lendOut %></td>
									<td><%= agentList[i].collected %></td>
									<td><%= agentList[i].expenses %></td>
									<td><%= agentList[i].bonus %></td>
									<td><%= agentList[i].expensesAndBonus %></td>
									<% if(agentList[i].earningLosses < 0){ %>
									<td style="color:red"><%= (agentList[i].earningLosses*-1) %></td>
									<% }else{ %>
									<td style="color:green"><%= agentList[i].earningLosses %></td>
									<% } %>
									<td><%= agentList[i].principal %></td>
									<td><%= agentList[i].outstanding %></td>
									<% if(agentList[i].status == "active"){ %>
									<td style="color:green"><%= agentList[i].status %></td>
									<% }else{ %>
									<td style="color:red"><%= agentList[i].status %></td>
									<% } %>
									<td><a href="/manager/settingAgent/edit/<%= agentList[i].agentId %>"
											style="color:orange"><%= "Edit" %></a></td>
									<td><a href="/manager/settingAgent/deleteAgent/<%= agentList[i].agentId %>"
											style="color:red"><%= "Delete" %></a></td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>
<script>
	$(window).on('load', function () {
		var url = window.location.href
		if (url.indexOf("?deleteAgent=success") > 0) {
			Swal.fire({
				icon: 'success',
				title: '<font size="5" color="green">Success to delete agent</font>',
			})
		}
		if (url.indexOf("?updateAgent=success") > 0) {
			Swal.fire({
				icon: 'success',
				title: '<font size="5" color="green">Success to update agent</font>',
			})
		}
		if (url.indexOf("?newAgentSaved=success") > 0) {
			Swal.fire({
				icon: 'success',
				title: '<font size="5" color="green">Success to add new agent</font>',
			})
		}
	})
</script>