<!DOCTYPE html>
<html>

<head>
    <% include ../../partion/header.ejs %>
    <style>
        .selectLanguage {
            border: 1px solid black;
            border-radius: 50px;
            height: 40px;
            width: 90%;
            margin-bottom: 15px;
            cursor: pointer;
            background: white;
        }
        .selectedLanguage {
            color : white;
            background: blue;
        }
    </style>
</head>

<body>
    <% if(successUpdateLang && successUpdateLang == true){%>
        <script>
            Swal.fire({
                icon: 'success',
                title: '<font size="5" color="green">Success! Your language has been changed!</font>',
            })
        </script>
    <% } %>
    <div class="body">
        <% include ../../partion/bodyHeaderManager.ejs %>
        <div role="main" class="main">
            <div class="container py-2">

                <div class="row">
                    <div class="col">

                        <div class="row" style="margin-top:0;">
                            <div class="col">

                                <hr class="solid my-5">

                                <h4>Change Language</h4>

                                <!-- <div class="formBox-language" style="background : white;margin-top:0 "> -->
                                    <form>
                                        <a href="/manager/settingChangeLanguage/en"><button type="button" class="selectLanguage" name="lang" id="en" value="en">English</button></a>
                                        <a href="/manager/settingChangeLanguage/bm"><button type="button" class="selectLanguage" name="lang" id="bm" value="bm">Bahasa Malaysia</button></a>
                                        <a href="/manager/settingChangeLanguage/ch"><button type="button" class="selectLanguage" name="lang" id="ch" value="ch">中文</button></a>
                                    </form>
                                <!-- </div> -->
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
<script>
    $(window).on('load', function () {
        var lang = `<%= lang %>`
        if(lang == "en"){
            $("#en").addClass("selectedLanguage");
        }
        if(lang == "bm"){
            $("#bm").addClass("selectedLanguage");
        }
        if(lang == "ch"){
            $("#ch").addClass("selectedLanguage");
        }
    })
</script>