<!DOCTYPE html>
<html>

<head>
    <% include ../../partion/header.ejs %>
    <style>
        .selectReasonType {
                border: 1px solid black;
                border-radius: 50px;
                height: 40px;
                width: 90%;
                margin-bottom: 15px;
                cursor: pointer;
                background: white;
        }
    </style>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeaderManager.ejs %>
        <div role="main" class="main">

            <div class="container py-2">

                <div class="row">
                    <div class="col">

                        <div class="row" style="margin-top:0;">
                            <div class="col">

                                <hr class="solid my-5">

                                <h4>Edit Reason</h4>

                                <div class="formBox-language" style="background : white;margin-top:0;padding:0;">
                                    <form style="margin-top:0">
                                            <a href="/manager/settingChangeReason/beingBlacklisted"><button type="button" class="selectReasonType" name="beingBlacklisted">Reasons of being blacklisted</button></a><br>
                                        <input type="submit" name="customerProfileDetailsRejection" value="Reason of customer profile detail rejection"><br>
                                        <input type="submit" name="uploadPhotoRejected" value="Reason of upload photo rejection"><br>
                                        <input type="submit" name="loanApplicationRejected" value="Reason of loan application rejection"><br>
                                        <input type="submit" name="paymentRejection" value="Reasons of payment rejection"><br>
                                        <input type="submit" name="remainderUpComingPaymentDueDate" value="Remainder of up coming payment due date"><br>
                                        <input type="submit" name="remainderOverdue" value="Remainder overdue"><br>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
</body>

</html>