<!DOCTYPE html>
<html>

<head>
    <% include ../../partion/header.ejs %>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeaderManager.ejs %>
        <div role="main" class="main">

            <div class="container py-2">
                <div class="row">
                    <div class="col">
                        <h3><a href="/manager/setting">Setting</a> / <a href="/manager/settingManager/editManagerAccess">Edit Manager Access</a></h3>
                        <div class="col-lg-9 order-1 order-lg-2"
                            style="margin-left: auto; margin-right: auto; background-color: lightgray;">
                            <br>
                            <form id="contactForm" class="contact-form" action="/manager/settingManager/editManagerAccess" method="POST">
                                <h2>Edit Manager Access</h2>
                                
                                <input type="hidden" id="managerId" name="managerId" value="<%= managerDetails.managerId %>">
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Manager Name</label>
                                        <input type="text" value="<%= managerDetails.name %>"                                            
                                            class="form-control" name="name" id="name" required>
                                        <br>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Email</label>
                                        <input type="email" value="<%= managerDetails.email %>"                                            
                                            class="form-control" name="email" id="email" required>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Contact Number</label>
                                        <input type="text" value="<%= managerDetails.contactNumber %>"                                            
                                            class="form-control" name="contactNumber" id="contactNumber" required>
                                        <br>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Account Status</label>
							            <select id="user_time_zone" class="form-control" size="0" name="status">
                                        <option value="active" <% if(managerDetails && managerDetails.status == "active"){ %>selected<% } %> >Active</option>
                                        <option value="inactive" <% if(managerDetails && managerDetails.status == "inactive"){ %>selected<% } %> >Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                        <div class="form-group col-12">
                                            <label class=" font-weight-bold text-dark text-2">Manager Can Access</label>
                                        </div>
                                        
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="viewAllCustomerInfo" name="viewAllCustomerInfo" value="true" <% if(managerDetails && managerDetails.adminAccess.viewAllCustomerInfo == true){ %>checked<% } %> >
                                            <label class="font-weight-bold text-dark text-2" for="viewAllCustomerInfo" >View All Customer Info</label><br>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="editCustomerInfo" name="editCustomerInfo" value="true" <% if(managerDetails && managerDetails.adminAccess.editCustomerInfo == true){ %>checked<% } %> >
                                            <label class="font-weight-bold text-dark text-2" for="editCustomerInfo" >Edit Customer Info</label>
                                        </div>                                        
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="loanApplicationApproval" name="loanApplicationApproval" value="true" <% if(managerDetails && managerDetails.adminAccess.loanApplicationApproval == true){ %>checked<% } %> >
                                            <label class="font-weight-bold text-dark text-2" for="loanApplicationApproval" >Loan Application Approval</label><br>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="addLoan" name="addLoan" value="true" <% if(managerDetails && managerDetails.adminAccess.addLoan == true){ %>checked<% } %> >
                                            <label class="font-weight-bold text-dark text-2" for="addLoan" >Add Loan</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="disbursement" name="disbursement" value="true" <% if(managerDetails && managerDetails.adminAccess.disbursement == true){ %>checked<% } %> >
                                            <label class="font-weight-bold text-dark text-2" for="disbursement" >Disbursement</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="debtCollection" name="debtCollection" value="true" <% if(managerDetails && managerDetails.adminAccess.debtCollection == true){ %>checked<% } %> >
                                            <label class="font-weight-bold text-dark text-2" for="debtCollection" >Debt Collection</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="releaseCommission" name="releaseCommission" value="true" <% if(managerDetails && managerDetails.adminAccess.releaseCommission == true){ %>checked<% } %> >
                                            <label class="font-weight-bold text-dark text-2" for="releaseCommission" >Release Commission</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="blacklistRequest" name="blacklistRequest" value="true" <% if(managerDetails && managerDetails.adminAccess.blacklistRequest == true){ %>checked<% } %> >
                                            <label class="font-weight-bold text-dark text-2" for="blacklistRequest" >Blacklist Request</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="payExpenses" name="payExpenses" value="true" <% if(managerDetails && managerDetails.adminAccess.payExpenses == true){ %>checked<% } %> >
                                            <label class="font-weight-bold text-dark text-2" for="payExpenses" >Pay Expenses</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="bankedInBonusToAgent" name="bankedInBonusToAgent" value="true" <% if(managerDetails && managerDetails.adminAccess.bankedInBonusToAgent == true){ %>checked<% } %> >
                                            <label class="font-weight-bold text-dark text-2" for="bankedInBonusToAgent" >Banked In Bonus to Agent</label>
                                        </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <a href="/manager/settingManager" style="float: right;" type="button"
                                            class="btn btn-danger btn-modern">Back</a>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="submit" value="Confirm" class="btn btn-primary btn-modern"
                                            data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
<script>
    
    // $(window).on('load', function () {
    // })
</script>