<!DOCTYPE html>
<html>

<head>
	<title>Manager</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/manager/setting">Setting</a> / <a href="/manager/settingManager">Manager</a>
					</h3>


					<a style="width:50%;  display: inline-block;" href="/manager/settingManager/addManager">Add
						Manager</a><br><br>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>No.</th>
									<th>Manager</th>
									<th>Contact No.</th>
									<th>Email</th>
									<th>Joined Date</th>
									<th>Status</th>
									<th>edit Access</th>
									<th>Delete</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<managerList.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
									<td><%= (i+1) %></td>
									<!-- <td class="actions">
												<a href="/manager/customerDetails/personalInfo/<%= managerList[i].managerId %>"></a><%= managerList[i].name %></a>
											</td> -->
									<td><%= managerList[i].name %></td>
									<td><%= managerList[i].contactNumber %></td>
									<td><%= managerList[i].email %></td>
									<td><%= managerList[i].createdAt %></td>
									<td><%= managerList[i].status %></td>
									<td><a href="/manager/settingManager/editAccess/<%= managerList[i].managerId %>"
											style="color:orange"><%= "Edit Access" %></a></td>
									<td><a href="/manager/settingManager/deleteManager/<%= managerList[i].managerId %>"
											style="color:red"><%= "Delete" %></a></td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>
<script>
	$(window).on('load', function () {
		var url = window.location.href
		if (url.indexOf("?deleteManager=success") > 0) {
			Swal.fire({
				icon: 'success',
				title: '<font size="5" color="green">Success to delete manager</font>',
			})
		}
		if (url.indexOf("?updateManagerAccess=success") > 0) {
			Swal.fire({
				icon: 'success',
				title: '<font size="5" color="green">Success to update manager access</font>',
			})
		}
		if (url.indexOf("?newAdminSaved=success") > 0) {
			Swal.fire({
				icon: 'success',
				title: '<font size="5" color="green">Success to add new manager</font>',
			})
		}
	})
</script>