<!DOCTYPE html>
<html>

<head>
	<title>Search Table</title>
	<% include ../../partion/header.ejs %>
	<style>
	</style>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<div style="padding-top: 15%;" role="main">
			<div class="container2">
				<div class="padding2">
					<!-- <h3><a href="/agent/dashboard">Home</a> / <a href="/agent/dashboard/customerList">Customer List</a></h3> -->
					<h3 id="nameSearch" name="nameSearch"></h3><br>
					<% include ../../partion/agentHomeSearchBarHeader.ejs %>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>No.</th>
									<th><%= typeof langData !== 'undefined' && langData.dashboardList_customer ? langData.dashboardList_customer: "Customer" %></th>
									<th><%= typeof langData !== 'undefined' && langData.dashboardList_contactNo ? langData.dashboardList_contactNo: "Contact No." %></th>
									<th><%= typeof langData !== 'undefined' && langData.dashboardList_ic ? langData.dashboardList_ic: "IC No." %></th>
									<th><%= typeof langData !== 'undefined' && langData.dashboardList_unpaid ? langData.dashboardList_unpaid: "Unpaid" %></th>
									<th><%= typeof langData !== 'undefined' && langData.dashboardList_paid ? langData.dashboardList_paid: "Paid" %></th>
									<th><%= typeof langData !== 'undefined' && langData.dashboardList_earningLosses ? langData.dashboardList_earningLosses: "Earning/Losses" %></th>
									<th><%= typeof langData !== 'undefined' && langData.dashboardList_noOfTimesOverdue ? langData.dashboardList_noOfTimesOverdue: "No of Times Overdue" %></th>
									<th><%= typeof langData !== 'undefined' && langData.dashboardList_overdue ? langData.dashboardList_overdue: "Overdue(day)" %></th>
									<th><%= typeof langData !== 'undefined' && langData.dashboardList_agent ? langData.dashboardList_agent: "Agent" %></th>
									<th><%= typeof langData !== 'undefined' && langData.dashboardList_stage ? langData.dashboardList_stage: "Stage" %></th>
									<th><%= typeof langData !== 'undefined' && langData.dashboardList_status ? langData.dashboardList_status: "Status" %></th>
									<th><%= typeof langData !== 'undefined' && langData.dashboardList_remark ? langData.dashboardList_remark: "Remark" %></th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<users.length; i++){%>
									<tr>
										<td><input type="checkbox" name="checkbox">
										<td><%= (i+1) %></td>
										<td class="actions">
											<a href="/agent/customerDetails/personalInfo/<%= users[i]._id %>">
												<%= users[i].username %>
											</a>
										</td>
										<td><%= users[i].phoneNumber %></td>
										<td><%= users[i].ic %></td>
										<td><%= users[i].unpaid %></td>
										<td><%= users[i].paid %></td>
										<td><%= /* users[i].earningLosses */ %></td>
										<td><%= users[i].numberOverdue %></td>
										<td><%= users[i].dayOverdue %></td>
										<td><%= users[i].agent %></td>
										<% if(users[i].status != "blacklisted"){ %><td style="color:green"><%= users[i].status %></td><% }else{ %><td style="color:red">Blacklisted</td><% } %>
										<% if(users[i].blacklisted != true){ %><td style="color:green">Normal</td><% }else{ %><td style="color:red">Blacklisted</td><% } %>
										<td>-</td>

									</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>
		</div>
	</div>
</body>
</html>
<% include ../../partion/agentHomeSearchBarFooter.ejs %>
<script>
	var url = window.location.href
	function queryStringToJSON(queryString) {
			if (queryString.indexOf('?') > -1) {
				queryString = queryString.split('?')[1];
			}
			var pairs = queryString.split('&');
			var result = {};
			pairs.forEach(function (pair) {
				pair = pair.split('=');
				result[pair[0]] = decodeURIComponent(pair[1] || '');
			});
			return result;
	}
	// function loadPage(page,show){
    //     var searchByUsername = document.getElementById("searchByUsername").value;
    //     var searchByIc = document.getElementById("searchByIc").value;
    //     var searchByContact = document.getElementById("searchByContact").value;
    //     var searchByDayOverdue = document.getElementById("searchByDayOverdue").value;
    //     var url = window.location.href
    //     url = url.indexOf("&") > 0 ? url.substring(0,url.indexOf("&")) : url
    //     url = url + "&searchByUsername=" + searchByUsername + "&searchByIc=" + searchByIc + "&searchByContact=" + searchByContact + "&searchByDayOverdue=" + searchByDayOverdue + "&show=" + show + "&page=" + page;
	// 	window.location.replace(url);
	// }
	function showButton(show){
        var searchByUsername = document.getElementById("searchByUsername").value;
        var searchByIc = document.getElementById("searchByIc").value;
        var searchByContact = document.getElementById("searchByContact").value;
        var searchByDayOverdue = document.getElementById("searchByDayOverdue").value;
		var searchByPaid = document.getElementById("searchByPaid").value;
        var url = window.location.href
        url = url.indexOf("&") > 0 ? url.substring(0,url.indexOf("&")) : url
		url = url 	+ "&searchByUsername=" + searchByUsername 
				  	+ "&searchByIc=" + searchByIc 
				  	+ "&searchByContact=" + searchByContact 
				  	+ "&searchByDayOverdue=" + searchByDayOverdue 
				  	+ "&searchByPaid=" + searchByPaid;
		window.location.replace(url);
	}
</script>