<!DOCTYPE html>
<html>

<head>
	<title>Search Table</title>
	<% include ../../partion/header.ejs %>

</head>

<body>

	<div class="body">
			<div role="header" class="header">
					<% include ../../partion/bodyHeader.ejs %>
			</div>


		<div role="main" class="main">
			<div class="container py-2">
				<div class="row" style="margin-top: 15%">
					<div class="col">
							<table id="table_id" class="table table-bordered display" style="width:100%">
								<thead>
									<tr>
										<th><input type="checkbox" name="checkbox"></th>
										<th>No.</th>
										<th><%= typeof langData !== 'undefined' && langData.dashboardList_customer ? langData.dashboardList_customer: "Customer" %></th>
										<th><%= typeof langData !== 'undefined' && langData.dashboardList_contactNo ? langData.dashboardList_contactNo: "Contact No." %></th>
										<th><%= typeof langData !== 'undefined' && langData.dashboardList_ic ? langData.dashboardList_ic: "IC No." %></th>
										<th><%= typeof langData !== 'undefined' && langData.dashboardList_unpaid ? langData.dashboardList_unpaid: "Unpaid" %></th>
										<th><%= typeof langData !== 'undefined' && langData.dashboardList_paid ? langData.dashboardList_paid: "Paid" %></th>
										<th><%= typeof langData !== 'undefined' && langData.dashboardList_earningLosses ? langData.dashboardList_earningLosses: "Earning/Losses" %></th>
										<th><%= typeof langData !== 'undefined' && langData.dashboardList_noOfTimesOverdue ? langData.dashboardList_noOfTimesOverdue: "No of Times Overdue" %></th>
										<th><%= typeof langData !== 'undefined' && langData.dashboardList_overdue ? langData.dashboardList_overdue: "Overdue(day)" %></th>
										<th><%= typeof langData !== 'undefined' && langData.dashboardList_agent ? langData.dashboardList_agent: "Agent" %></th>
										<th><%= typeof langData !== 'undefined' && langData.dashboardList_stage ? langData.dashboardList_stage: "Stage" %></th>
										<th><%= typeof langData !== 'undefined' && langData.dashboardList_status ? langData.dashboardList_status: "Status" %></th>
										<th><%= typeof langData !== 'undefined' && langData.dashboardList_remark ? langData.dashboardList_remark: "Remark" %></th>
		
									</tr>
								</thead>
								<tbody>
								<% for (let i=0; i<users.length; i++){%>
									<tr>
										<td><input type="checkbox" name="checkbox">
										<td><%= (i+1) %></td>
										<td class="actions">
											<a href="/agent/customerDetails/personalInfo/<%= users[i]._id %>">
												<%= users[i].username %>
											</a>
										</td>
										<td><%= users[i].phoneNumber %></td>
										<td><%= users[i].ic %></td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td></td>
										<td><%= users[i].status %></td>
										<td>Normal</td>
										<td>-</td>
		
									</tr>
		
								<% } %>
								</tbody>
		
								<!-- <tbody>
										<tr id="total">
											<td></td>
											<td><%= users.length %></td>
											<td></td>
											<td></td>
											<td></td>
											<td><%= "0" %></td>
											<td><%= "0" %></td>
											<td><%= "0" %></td>
											<td><%= "0" %></td>
											<td><%= "0" %></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
									</tbody> -->
							</table>
					</div>
				</div>

			</div>

		</div>

	</div>
</body>
</html>
<% include ../../partion/agentHomeSearchBarFooter.ejs %>
<script>
	$(document).ready( function () {
		$('#table_id').DataTable({
			"paging": true,
			"pagingType": "full_numbers"
		});
	} );
	var url = window.location.href
	function queryStringToJSON(queryString) {
			if (queryString.indexOf('?') > -1) {
				queryString = queryString.split('?')[1];
			}
			var pairs = queryString.split('&');
			var result = {};
			pairs.forEach(function (pair) {
				pair = pair.split('=');
				result[pair[0]] = decodeURIComponent(pair[1] || '');
			});
			return result;
	}
	function loadPage(page,show){
        var searchByUsername = document.getElementById("searchByUsername").value;
        var searchByIc = document.getElementById("searchByIc").value;
        var searchByContact = document.getElementById("searchByContact").value;
        var searchByDayOverdue = document.getElementById("searchByDayOverdue").value;
        var url = window.location.href
        url = url.indexOf("&") > 0 ? url.substring(0,url.indexOf("&")) : url
        url = url + "&searchByUsername=" + searchByUsername + "&searchByIc=" + searchByIc + "&searchByContact=" + searchByContact + "&searchByDayOverdue=" + searchByDayOverdue + "&show=" + show + "&page=" + page;
		window.location.replace(url);
	}
	function showButton(show){
        var searchByUsername = document.getElementById("searchByUsername").value;
        var searchByIc = document.getElementById("searchByIc").value;
        var searchByContact = document.getElementById("searchByContact").value;
        var searchByDayOverdue = document.getElementById("searchByDayOverdue").value;
        var url = window.location.href
        url = url.indexOf("&") > 0 ? url.substring(0,url.indexOf("&")) : url
        url = url + "&searchByUsername=" + searchByUsername + "&searchByIc=" + searchByIc + "&searchByContact=" + searchByContact + "&searchByDayOverdue=" + searchByDayOverdue + "&show=" + show;
		window.location.replace(url);
	}

	function previousButton(){
		let queryStringJson = queryStringToJSON(url);
		let page = queryStringJson.page ? queryStringJson.page : 1
		let show = queryStringJson.show ? queryStringJson.show : 10
		loadPage(--page,show)
	}

	function nextButton(){
		let queryStringJson = queryStringToJSON(url);
		let page = queryStringJson.page ? queryStringJson.page : 1
		let show = queryStringJson.show ? queryStringJson.show : 10
		loadPage(++page,show)
	}

	function pageButton(page){
		let queryStringJson = queryStringToJSON(url);
		let show = queryStringJson.show ? queryStringJson.show : 10
		loadPage(page,show)
	}

    $(window).on('load', function () {
		var url = window.location.href
		
		let queryStringJson = queryStringToJSON(url);
		let page = queryStringJson.page ? queryStringJson.page : 1
		let show = queryStringJson.show ? queryStringJson.show : 10
		document.getElementById("page_"+page).classList.add('active')
		// document.getElementById("show"+show).classList.add('active')
		$('#show').val(show);

		'<%= firstPage %>' == 'true' ? document.getElementById("previousButton").classList.add('disabled','unclickable') : ""
		'<%= lastPage %>' == 'true' ? document.getElementById("nextButton").classList.add('disabled','unclickable') : ""
	})
</script>