<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<% include ../../partion/header.ejs %>
	<style>
		.card-img-top {
			width: 210px;
			height: 200px;
		}
	</style>

</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<div style="padding-top: 12%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/agent/dashboard">Home</a></h3>

					<form class="search-nav-form" style="padding-top: 0%;">
						<input type="search" class="search-btn skills" name="searchByUsername" id="searchByUsername"
							placeholder="Customer" style="width: 150px;">
						<input type="search" class="search-btn skills" name="searchByIc" id="searchByIc" placeholder="IC No." style="width: 150px;">
						<input type="search" class="search-btn skills" name="searchByContact" id="searchByContact"
							placeholder="Contact No." style="width: 150px;">
						<input type="search" class="search-btn skills" name="searchByDayOverdue" id="searchByDayOverdue"
							placeholder="Overdue Day" style="width: 150px;">
						<select id="searchByPaid" name="searchByPaid" style="width: 100px; height: 32px; border: 1px solid grey; margin: 20px;">
							<option value="" selected="true" disabled="true">Paid (%)</option>
							<option value="25">0% - 25%</option>
							<option value="50">25% - 50%</option>
							<option value="75">50% - 75%</option>
							<option value="100">75% - 100%</option>
						</select>
						<button id="searchButton" name="searchButton" class="search-btn-btn" type="button"
							style="background-color: darkblue; color: white; box-shadow: none; border-radius: 12px; border: none; font-size: 15px; width: 200px; height: 32px;">Search</button>
					</form>

					<div class="container2">
						<div class="row mb-4 pb-3" style="margin-top: -5%; margin-right: 80px; margin-left: -112px;">
							<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="2">
								<div class="card">
									<a href="dashboard/customerList?status=register"><img class="card-img-top"
											src="../img/icon/c1-new-customer.png" alt="Card Image" width=10></a>
									<div class="card-body">
										<h4><%= typeof langData !== 'undefined' && langData.dashboard_newCustomer ? langData.dashboard_newCustomer: "New Customer" %></h4>
										<p><b><%= userNoEachStatus.register %></b></p>
									</div>
								</div>
							</div>

							<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="2">
								<div class="card">
									<a href="dashboard/customerList?status=personalInfo"><img class="card-img-top"
											src="../img/icon/c2-personal-info.png" alt="Card Image"></a>
									<div class="card-body">
										<h4><%= typeof langData !== 'undefined' && langData.dashboard_personalInfo ? langData.dashboard_personalInfo: "Personal Info" %></h4>
										<p><b><%= userNoEachStatus.personalInfo %></b></p>
									</div>
								</div>
							</div>

							<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="2">
								<div class="card">
									<a href="dashboard/customerList?status=residentialInfo"><img class="card-img-top"
											src="../img/icon/c3-residential-info.png" alt="Card Image"></a>
									<div class="card-body">
										<h4><%= typeof langData !== 'undefined' && langData.dashboard_residentialInfo ? langData.dashboard_residentialInfo: "Residential Info" %></h4>
										<p><b><%= userNoEachStatus.residentialInfo %></b></p>
									</div>
								</div>
							</div>

							<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="2">
								<div class="card">
									<a href="dashboard/customerList?status=bankInfo"><img class="card-img-top"
											src="../img/icon/c4-bank-account.png" alt="Card Image"></a>
									<div class="card-body">
										<h4><%= typeof langData !== 'undefined' && langData.dashboard_bankAccount ? langData.dashboard_bankAccount: "Bank Account" %></h4>
										<p>
											<p><b><%= userNoEachStatus.bankInfo %></b></p>
										</p>
									</div>
								</div>
							</div>

							<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="2">
								<div class="card">
									<a href="dashboard/customerList?status=workingInfo"><img class="card-img-top"
											src="../img/icon/c5-working-info.png" alt="Card Image"></a>
									<div class="card-body">
										<h4><%= typeof langData !== 'undefined' && langData.dashboard_workingInfo ? langData.dashboard_workingInfo: "Working Info" %></h4>
										<p><b><%= userNoEachStatus.workingInfo %></b></p>
									</div>
								</div>
							</div>

							<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="2">
								<div class="card">
									<a href="dashboard/customerList?status=emergencyInfo"><img class="card-img-top"
											src="../img/icon/c6-emergency-contact.png" alt="Card Image"></a>
									<div class="card-body">
										<h4><%= typeof langData !== 'undefined' && langData.dashboard_emergencyInfo ? langData.dashboard_emergencyInfo: "Emergency Info" %></h4>
										<p><b><%= userNoEachStatus.emergencyInfo %></b></p>
									</div>
								</div>
							</div>

							<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="2">
								<div class="card">
									<a href="dashboard/customerList?status=loanApplication"><img class="card-img-top"
											src="../img/icon/c7-loan-application.png" alt="Card Image"></a>
									<div class="card-body">
										<h4><%= typeof langData !== 'undefined' && langData.dashboard_loanApplication ? langData.dashboard_loanApplication: "Loan Application" %></h4>
										<p><b><%= userNoEachStatus.loanApplication%></b></p>
									</div>
								</div>
							</div>

						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<script>
	$(function () {
		$("#searchButton").click(function (event) {
			var searchByUsername = document.getElementById("searchByUsername").value;
			var searchByIc = document.getElementById("searchByIc").value;
			var searchByContact = document.getElementById("searchByContact").value;
			var searchByDayOverdue = document.getElementById("searchByDayOverdue").value;
			var searchByPaid = document.getElementById("searchByPaid").value;
			var url = window.location.href
			url = url.indexOf("?") > 0 ? url.substring(0,url.indexOf("?")) : url
			url = url	+ "/customerList?status=&searchByUsername=" + searchByUsername 
					  	+ "&searchByIc=" + searchByIc 
						+ "&searchByContact=" + searchByContact 
						+ "&searchByDayOverdue=" + searchByDayOverdue 
					  	+ "&searchByPaid=" + searchByPaid;
			window.location.replace(url)
			// url = url.indexOf("?") > 0 ? url.substring(0,url.indexOf("?")) : url
			// url = url + "/customerList?searchByUsername=" + searchByUsername + "&searchByIc=" + searchByIc + "&searchByContact=" 
			// 	+ searchByContact + "&searchByDayOverdue=" + searchByDayOverdue + "&searchByPaid=" + searchByPaid;
			// window.location.replace(url);
		});
        });
</script>