<!DOCTYPE html>
<html>

<head>
    <title>Pending Disbursement</title>
    <% include ../../partion/header.ejs %>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeaderManager.ejs %>
        <div style="padding-top: 10%;" role="main">
            <div class="container2">
                <div class="padding2">
                    <h3><a href="/manager/task">Task</a> / <a href="/manager/taskDisbursement/pending">Pending
                            Disbursement</a></h3>

                    <% include ../../partion/managerTaskDisbursementHeader.ejs %>
                    <script>
                        document.getElementById("pending").classList.add('selectionButtonSelected');
                    </script><br>
                    <h3>Pending Disbursement</h3>
                    <div style="overflow-x:auto;">
                        <table class="table table-bordered mydatatable">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" name="checkbox">
                                    </th>
                                    <th>loan ID</th>
                                    <th>Customer</th>
                                    <th>Contact No.</th>
                                    <th>Loan Type</th>
                                    <th>Disbursement Amount</th>
                                    <th>Bank</th>
                                    <th>Bank Acc. Name</th>
                                    <th>Bank Acc. No.</th>
                                    <th>Agent</th>
                                    <th>Loan Approved On</th>
                                    <th>Reject</th>
                                    <th>Receipt</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i<loans.length; i++){%>
                                <tr>
                                    <td><input type="checkbox" name="checkbox"></td>
                                    <td><%= loans[i].loanId ? loans[i].loanId : "" %></td>
                                    <td class="actions">
                                        <a
                                            href="customerDetails/personalInfo/<%= loans[i].customerId %>/<%= loans[i].loanId %>"><%= loans[i].customerName %></a>
                                    </td>
                                    <td><%= loans[i].phoneNumber ? loans[i].phoneNumber : "" %></td>
                                    <td><%= loans[i].loanType ? loans[i].loanType : "" %></td>
                                    <td><%= loans[i].disbursement ? loans[i].disbursement : "" %></td>
                                    <td><%= loans[i].bankName ? loans[i].bankName : "" %></td>
                                    <td><%= loans[i].bankAccountName ? loans[i].bankAccountName : "" %></td>
                                    <td><%= loans[i].bankAccountNumber ? loans[i].bankAccountNumber : "" %></td>
                                    <td><%= loans[i].agent ? loans[i].agent : "" %></td>
                                    <td><%= loans[i].approvalOn ? loans[i].approvalOn : "" %></td>
                                    <td class="actions">
                                        <a href="rejectingLoan/<%= loans[i].loanId %>" style="color:red;">Reject</a>
                                    </td>
                                    <td>
                                        <a href="uploadReceipt/<%= loans[i].loanId ? loans[i].loanId : "" %>"
                                            style="color:blue;">Upload</a>
                                        <!-- <a href="#modal" style="color: blue; border: none; background-color: white; display: flex;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#formModal" data-id=<%= i %>>Upload</a> -->
                                    </td>

                                </tr>

                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>





                <!-- modal -->
                <div class="row align-items-center">
                    <div class="col-sm-9">

                        <div class="modal fade uploadReceiptModal" id="formModal" tabindex="-1" role="dialog"
                            aria-labelledby="formModalLabel" aria-modal="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Upload
                                            Receipt</h4>
                                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                    </div>

                                    <div class="modal-body">

                                        <form id="demo-form" class="mb-4" novalidate="novalidate"
                                            action="/managerUploadPaymentDisbursement" method="POST"
                                            enctype="multipart/form-data">
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Loan ID</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="loanId" class="form-control"
                                                        value="<%= loans[0] ? loans[0].loanId : "" %>" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Customer</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="name" class="form-control"
                                                        value="<%= loans[0] ? loans[0].customerName : "" %>" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Disbursement Amount</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="amount" class="form-control"
                                                        value="<%= loans[0] ? loans[0].disbursement : "" %>" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Bank</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="bankName" class="form-control"
                                                        value="<%= loans[0] ? loans[0].bankName : "" %>" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Bank Acc. Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="bankAccountName" class="form-control"
                                                        value="<%= loans[0] ? loans[0].bankAccountName : "" %>"
                                                        readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Bank Acc. No.</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="bankAccountNumber" class="form-control"
                                                        value="<%= loans[0] ? loans[0].bankAccountNumber : "" %>"
                                                        readonly />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Receipt</label>
                                                <div class="col-sm-9">
                                                    <img id="image" src="" />
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="input-append">
                                                            <div class="uneditable-input">
                                                                <i class="fas fa-file fileupload-exists"></i>
                                                                <span class="fileupload-preview"></span>
                                                            </div>
                                                            <span class="btn btn-default btn-file">
                                                                <span class="fileupload-exists">Change</span>
                                                                <span class="fileupload-new">Select file</span>
                                                                <input type="file" style="max-width:180px;"
                                                                    onchange='readURL(this);' name="image" required />
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="/manager/taskDisbursement/pending" type="button"
                                                    class="btn btn-light">Back</a>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade show rejectingLoanModal" id="myModal" data-backdrop="static"
                            data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Remark</h4>
                                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                    </div>

                                    <div class="modal-body">

                                        <form id="demo-form" class="mb-4" novalidate="novalidate"
                                            action="/manager/taskDisbursement/rejectingLoan/<%= loans[0] ? loans[0].loanId : "" %>"
                                            method="POST">
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Customer</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="name" class="form-control"
                                                        value="<%= loans[0] ? loans[0].customerName : "" %>" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Amount</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="amount" class="form-control"
                                                        value="<%= loans[0] ? loans[0].amount : "" %>" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Duration</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="bankName" class="form-control"
                                                        value="<%= loans[0] ? loans[0].duration : "" %>" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Reason</label>
                                                <div class="col-sm-9">
                                                    <select name="reason"
                                                        style="width: 100%; margin-right: auto; margin-left: auto;">
                                                        <!-- <option value="select">
                                                                    Choose reason here
                                                                </option> -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <!-- <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;"></label> -->
                                                <div class="col-sm-12">
                                                    <textarea rows="5" class="form-control"
                                                        placeholder="Or type your reason here" name="reason"
                                                        required></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="/manager/taskDisbursement/pending" type="button"
                                                    class="btn btn-light">Close</a>
                                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- <div class="modal-footer">
                                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save Changes</button>
                                            </div> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</body>

</html>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $("#image").attr("src", e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    $(window).on('load', function () {
        if ("<%= uploadReceiptModal %>" == "true") {
            $('.uploadReceiptModal').modal('show');
        } else {

        }
    });
    $(window).on('load', function () {
        if ("<%= rejectingLoanModal %>" == "true") {
            $('.rejectingLoanModal').modal('show');
        } else {

        }
    });
</script>