<!DOCTYPE html>
<html>

<head>
    <title>Disbursement Rejected</title>
    <% include ../../partion/header.ejs %>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeaderManager.ejs %>
        <div style="padding-top: 10%;" role="main">
            <div class="container2">
                <div class="padding2">
                    <h3><a href="/manager/task">Task</a> / <a href="/manager/taskDisbursement/rejected">Disbursement
                            Rejected</a></h3>

                    <% include ../../partion/managerTaskDisbursementHeader.ejs %>
                    <script>
                        document.getElementById("rejected").classList.add('selectionButtonSelected');
                    </script><br>
                    <h3>Disbursement Rejected</h3>
                    <div style="overflow-x:auto;">
                        <table class="table table-bordered mydatatable">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" name="checkbox">
                                    </th>
                                    <th>loan ID</th>
                                    <th>Customer</th>
                                    <th>Contact No.</th>
                                    <th>Loan Type</th>
                                    <th>Disbursement Amount</th>
                                    <th>Bank</th>
                                    <th>Bank Acc. Name</th>
                                    <th>Bank Acc. No.</th>
                                    <th>Agent</th>
                                    <th>Loan Approved On</th>
                                    <th>Disb. Rejected Date</th>
                                    <th>Remark</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i<loans.length; i++){%>
                                <tr>
                                    <td><input type="checkbox" name="checkbox"></td>
                                    <td><%= loans[i].loanId ? loans[i].loanId : "" %></td>
                                    <td class="actions">
                                        <a
                                            href="/manager/customerDetails/personalInfo/<%= loans[i].customerId %>"><%= loans[i].customerName %></a>
                                    </td>
                                    <td><%= loans[i].phoneNumber ? loans[i].phoneNumber : "" %></td>
                                    <td><%= loans[i].loanType ? loans[i].loanType : "" %></td>
                                    <td><%= loans[i].disbursement ? loans[i].disbursement : "" %></td>
                                    <td><%= loans[i].bankName ? loans[i].bankName : "" %></td>
                                    <td><%= loans[i].bankAccountName ? loans[i].bankAccountName : "" %></td>
                                    <td><%= loans[i].bankAccountNumber ? loans[i].bankAccountNumber : "" %></td>
                                    <td><%= loans[i].agent ? loans[i].agent : "" %></td>
                                    <td><%= loans[i].approvalOn ? loans[i].approvalOn : "" %></td>
                                    <td style="color:red;">
                                        <%= loans[i].approvalManagerTime ? loans[i].approvalManagerTime : "" %></td>
                                    <td class="actions">
                                        <a href="rejected/<%= loans[i].loanId %>" style="color:blue;">Check</a>
                                    </td>

                                </tr>

                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>






                <!-- modal -->
                <div class="row align-items-center">
                    <div class="col-sm-9">

                        <div class="modal fade show rejectReasonModal" id="myModal" data-backdrop="static"
                            data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">
                                            Remark</h4>
                                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                    </div>

                                    <div class="modal-body">

                                        <form id="demo-form" class="mb-4" novalidate="novalidate"
                                            action="/agent/taskNewApplication/rejectingLoan/<%= loans[0] ? loans[0].loanId : "" %>"
                                            method="POST">
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Issue</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="issue" class="form-control"
                                                        value="Loan Rejected" readonly />
                                                </div>
                                            </div>
                                            <!-- <div class="form-group row align-items-center">
                                                    <label class="col-sm-3 text-left text-sm-right mb-0"
                                                        style="color: black;">By</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="by" class="form-control"
                                                            value="<%= /* loans[0] ? loans[0].agent : "" */ %>" readonly />
                                                    </div>
                                                </div> -->
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Date</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="rejectionReasonAgent" class="form-control"
                                                        value="<%= loans[0] ? loans[0].approvalManagerTime : "" %>"
                                                        readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Reason</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="rejectionReasonAgent" class="form-control"
                                                        value="<%= loans[0] ? loans[0].rejectionReasonManager : "" %>"
                                                        readonly />
                                                </div>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/manager/taskDisbursement/rejected" type="button"
                                            class="btn btn-light">Close</a>
                                    </div>
                                    </form>
                                </div>
                                <!-- <div class="modal-footer">
                                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save Changes</button>
                                        </div> -->
                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</body>

</html>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $("#image").attr("src", e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    $(window).on('load', function () {
        if ("<%= rejectReasonModal %>" == "true") {
            $('.rejectReasonModal').modal('show');
        } else {

        }
    });
</script>