<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <script src="utf8.js"></script>
    <% include ../partion/header.ejs %>
</head>
<body>
    <% if(loginFail && loginFail==true){%>
        <script>
            Swal.fire({
                icon: 'error',
                title: '<font size="5" color="red">Invalid Username or Password</font>',
            })
        </script>
    <% } %>
    <div class="body-login">
        <div class="title-login"></div>
        <div class="login-container">
            <div class="left-box">
                <a href="#"><img src="img/icon/logo.png" style="width: 200px"></a>
            </div>
            <div class="right-box">
                <div class="formBox">
                    <form action="/login" method="POST">
                        <h1><%= langData.login_adminLogin %></h1>
                        <input type="text" name="username" placeholder="Username" value="">
                        <input type="password" name="password" placeholder="Password" value="">
                        <input type="submit" name="submit" value="<%= langData.login_submit %>"><br>
                        <a href="#"><%= langData.login_forgotPassword %></a>
                    </form>
                </div>
            </div>

        </div>
    </div>

</body>

</html>
<script>
        $(window).on('load', function () {
            var url = window.location.href
            if(url.indexOf("?updatePassword=success") > 0){
                Swal.fire({
                    icon: 'success',
                    title: '<font size="5" color="green">Success to update password. Please re-login again</font>',
                })
            }
            if(url.indexOf("?updatePassword=failed") > 0){
                Swal.fire({
                    icon: 'error',
                    title: '<font size="5" color="red">failed to update password. Please try again</font>',
                })
            }
        })
</script>