/* Add here all your CSS customizations */

.search-nav-form {
    margin-top: 0%;
    padding: 4%
    
}

#form-search-nav-form input{
    border-radius: 12px; 
    border: none; 
    font-size: 15px; 
    display: flex;
    justify-content: center;
    
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px; 
    text-align: center;
    background-color: white;
    margin: 0 0 0 100px;
    border-radius: 50px;
    margin-top: 10%; 
    height: 400px;
    width: 250px;
    cursor: pointer;
}

.search-btn{
    height: 10px;
    padding: 15px;
    border: 1px solid gray;
    margin-top: 2%;
    margin-left: 2%;
}

.skills{
    width: 200px;
}

.caption{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 12%;
}

p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

h4{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.main{
    /* margin-top: 0%; */
    margin-left: -15%;
    /* padding-left: -5%; */
}

.row{
    margin-top: 10%;
}


.body-login{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title-login{
    text-align: center;
    padding: 50px 20px;
}

 h1{
    margin: 0;
    color: black;
    padding: 0;
    text-transform: unset;
    font-size: 20px;
    text-align: center;
}

.login-container{
    width: 60%;
    height: 450px;
    background-color: white;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 5px 20px rgba(0,0,0.5);
}

.login-container .left-box{
    float: left;
    width: 35%;
    height: 447px;
    background-color: whitesmoke;
    background-size: cover;
    box-sizing: border-box;
    padding: 90px 50px;
}


.login-container .right-box{
    float: right;
    width: 60%;
    height: 447px;
    box-sizing: border-box;
    background-color: white;
}

.formBox{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background:#fff;
}

.formBox input{
    width: 100%;
    margin-bottom: 10px;
}

.formBox input[type="text"],
.formBox input[type="password"]{
    border: none;
    border-bottom: 2px solid #fff;
    height: 40px;
}

.formBox input[type="text"]:focus,
.formBox input[type="password"]:focus{
    border-bottom: 2px solid #fff;
}

.formBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: white;
    border-radius: 15px;
    background: darkblue;
    cursor: pointer;
}

.formBox a{
    color: darkblue;
    font-size: 12px;
    text-align: center;
}

.caption-task{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 5%;
}

.captionTask{
    margin-top: 0%;
    padding: 4%
}


.container-report{
    margin-top: 1%;
    margin-left: 13%;
    padding-left: -5%;
}

.reset-container{
    width: 80%;
    height: 650px;
    background-color: white;
    margin: 0 auto;
    border: 2px solid #fff;

}

.formBox-reset{
    text-align: center;
    margin-top: 15%;
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 450px;
    background:whitesmoke;

}


.formBox-reset input[type="password"]{
    border: none;
    border-bottom: 2px solid #fff;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}

.formBox input[type="password"]:focus{
    border-bottom: 2px solid #fff;
}

.formBox-reset input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: black;
    background: white;
    cursor: pointer;
    width: 20%;
    float: left;
    margin-left: 27%;
}

.formBox-reset input[type="reset"]{
    border: none;
    outline: none;
    height: 40px;
    color: white;
    background: darkblue;
    cursor: pointer;
    width: 20%;
    float: right;
    margin-right: 27%;
    
}

.formBox-reset label{
    float: left;
    color: black;
}

.h1-form h1{
    margin-top: 10%;
    color: black;
    float: left;
}


.language-container{
    width: 80%;
    height: 650px;
    background-color: white;
    margin: 0 auto;
    border: 2px solid #fff;

}

.formBox-language{
    text-align: center;
    margin-top: 15%;
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 420px;
    background:whitesmoke;
}

.formBox-language input[type="submit"]{
    border: 1px solid black;   
    border-radius: 50px;
    height: 40px;
    width: 90%;
    margin-bottom: 15px;
    cursor: pointer;
    background: white;

}

.formBox-language label{
    color: black;
    float: left;
    margin-top: -2%;
    font-size: 18px;
}



#submit-sub{
    border: none;   
    border-bottom: 2px solid #fff;  
    height: 40px;
    width: 30%;
    margin-bottom: 15px;
    cursor: pointer;
    background: darkblue;
    color: white;

}

.col h4{
    margin-top: -8%;
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.header-container-con {
    margin-top: 0%;
}

/* .reason-container{
    width: 100%;
    background-color: whitesmoke;
    margin: 0 auto;
    border: 2px solid #fff;
    margin-left: 10%;
    padding: 80px 50px;
} */



.h1-reason h4{
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.col-lg-6 p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 
}

.col h3{
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: none;
}


.table thead th {
    vertical-align: bottom;
    overflow-y: auto;
    /* width: 100%; */
}

.table td,
.table th{
    padding: 8px 12px;
    text-align: center;
    
}

.table th{
    background-color:whitesmoke;
}

.col .search-nav-form{
    margin-top: -10%;
}

#total{
    background-color:darkblue;
    color: white;
}

#search-table{
    margin-left: -5%;
    margin-right: -100%;
    
}

.total-contents {
    float: right;
    margin-right: -18%;
    margin-top: -5%;
}

.total-contents input[type="text"]{
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

.pagination{
    padding-left: 45%;
    margin:10px;
}

.page-link{
    border-radius: 50%;
}

.page-item:last-child .page-link{
    border-radius: 50%;
}

.page-item:first-child .page-link{
    border-radius: 50%;
}

.edit-loan-table{
    border-radius: 12px; 
    border: none; 
    font-size: 15px; 
    display: flex;
    justify-content: center;
    margin-top: -5%;
    margin-bottom: 4%;
    /* float: left; */
    /* margin-right: 50%; */
    margin-left: 12%;
}

.edit-loan-table[type="button"]{
    border: none;
    border-bottom: 2px solid #fff;
    height: 45px;
    display: flex;
}

.page-header .container{
    float: left;
    margin-left: 20%;
    margin-top: -8%;
}

.tablecenter{
    margin-top: 5%;
    margin-left: 0%
}


.selectionButton {
    border: 1px solid grey;
    background-color: white;
    border-radius: 12px;
    font-size: 15px;
    padding: 5px;
    width: 150px;
    justify-content: center;
}

.selectionButtonSelected {
    border: 1px solid grey;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 150px;
    justify-content: center;
    background-color: darkblue !important;
}
.tab { display:inline-block; margin-left: 40px; }
.headerSelected {
    color: blue;
}
.unclickable {
    pointer-events: none;
    cursor: default;
}
.dataTables_length {
    color: black;
}

.dataTables_filter {
    color: black;
}
.dataTables_info {
    color: black;
}
.dataTables_paginate  {
    color: black;
}
.container2 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.padding2{
    padding-right: 5%;
    padding-bottom: 50px;
    padding-left: 5%;
}

