<!DOCTYPE html>
<html>

<head>

	<title>Emergency Contact</title>
	<% include ../../partion/header.ejs %>
	<style>
		.selectionButtonSelected {
			border: 1px solid grey;
			border-radius: 12px;
			color: white;
			font-size: 15px;
			padding: 5px;
			width: 150px;
			justify-content: center;
			background-color: lightblue !important;
		}
	</style>

</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>
		<div role="main" class="main">

			<div class="container py-2">
				<div class="row">
					<div class="col">
						<div class="row align-items-center">
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								<% /* include ../../partion/managerCustomerInfoHeader.ejs */ %>
							</div>
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								<% include ../../partion/managerCustomerInfoHeader2.ejs %>
								<script>
									document.getElementById("emergencyContactInfo").classList.add('selectionButtonSelected');
								</script>
							</div>
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								<select class="form-control form-control-lg mb-3 text-2"
									style="width: 100px; float: right;">
									<!-- <option>Option 1</option>
									<option>Option 2</option>
									<option>Option 3</option> -->
								</select>
								<button type="button" class="btn btn-light mb-2" style="float: right; border: none;">Add
									Loan</button>
							</div>
						</div>
						<div class="col-lg-9 order-1 order-lg-2"
							style="margin-left: auto; margin-right: auto; background-color: lightgray;">
							<div class="overflow-hidden mb-1">
								<h2 class="font-weight-normal text-5 mb-0">Emergency Contact 1</h2>
							</div>
							<form id="contactForm" class="contact-form" action="#" method="POST">
								<div class="contact-form-success alert alert-success d-none mt-4" id="contactSuccess">
									<strong>Success!</strong>
								</div>

								<div class="contact-form-error alert alert-danger d-none mt-4" id="contactError">
									<strong>Error!</strong> There was an error.
									<span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
								</div>

								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Name</label>
										<input type="text" value="<%= userDetails.emergencyContact[0].name %>" data-msg-required="Please enter the name."
											maxlength="100" class="form-control" name="ename" id="ename" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Relationship</label>
										<input type="text" value="<%= userDetails.emergencyContact[0].relationship %>" data-msg-required="Please enter the relationship."
											maxlength="100" class="form-control" name="relationship" id="relationship"
											required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Contact No.</label>
										<input type="text" value="<%= userDetails.emergencyContact[0].contactNumber %>" data-msg-required="Please enter the contact number."
											maxlength="100" class="form-control" name="cnumber" id="cnumber" required>
									</div>
								</div>

								<div class="overflow-hidden mb-1">
									<h2 class="font-weight-normal text-5 mb-0">Emergency Contact 2</h2>
								</div>

								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Name</label>
										<input type="text" value="<%= userDetails.emergencyContact[1].name %>" data-msg-required="Please enter the name."
											maxlength="100" class="form-control" name="ename2" id="ename2" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Relationship</label>
										<input type="text" value="<%= userDetails.emergencyContact[1].relationship %>" data-msg-required="Please enter the relationship."
											maxlength="100" class="form-control" name="relationship2" id="relationship2"
											required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Contact No.</label>
										<input type="text" value="<%= userDetails.emergencyContact[1].contactNumber %>" data-msg-required="Please enter the contact number."
											maxlength="100" class="form-control" name="cnumber2" id="cnumber2" required>
									</div>
								</div>

								<div class="form-row">
									<div class="form-group col-lg-4">
										<!-- <label class="font-weight-bold text-dark text-2">Status</label>
										<select class="form-control form-control-lg mb-3 text-2">
											<option>Agent Approved</option>
											<option>Option 2</option>
											<option>Option 3</option>
										</select> -->
									</div>
								</div>
								<div class="form-row" >
									<div class="form-group col-lg-6" >
                                        <a href="/manager/taskDisbursement/rejectingLoan/<%= loanId %>" class="btn btn-danger btn-modern" style="float: right;">Reject</a>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <a href="/manager/taskDisbursement/approve/<%= loanId %>" class="btn btn-success btn-modern" style="color:white;">Approve</a>
                                    </div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

</body>

</html>