<!DOCTYPE html>
<html>

<head>
	<title>Bonus Banked In</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/manager/expenses">Expenses</a> / <a href="/manager/expensesBankedIn">Bonus Banked
							In</a></h3>

					<% include ../../partion/managerExpensesHeader.ejs %>
					<script>
						document.getElementById("expensesBankedIn").classList.add('selectionButtonSelected');
					</script><br>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>No.</th>
									<th>Agent</th>
									<th>Lend Out</th>
									<th>Expenses</th>
									<th>Bonus</th>
									<th>Expenses and Bonus</th>
									<th>Principal</th>
									<th>Pending Date</th>
									<th>Banked In</th>
									<th>Receipt</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<expenses.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
									<td><%= i+1 %></td>
									<td><%= expenses[i].agentName %></td>
									<td><%= expenses[i].lendOut %></td>
									<td><%= expenses[i].totalExpenses %></td>
									<td><%= expenses[i].bonus %></td>
									<td><%= expenses[i].totalExpensesBonus %></td>
									<td><%= expenses[i].principal %></td>
									<td><%= expenses[i].createdAt %></td>
									<td><%= expenses[i].paidAt %></td>
									<% if(expenses[i].paymentProof == "-") { %>
									<td>-</td>
									<% }else{ %>
									<td style="color:blue;cursor: pointer;"
										onclick="checkReceipt(`<%= expenses[i].paymentProof %>`)">Check</td>
									<% } %>


								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>
<script>
	function checkReceipt(url) {
		url != "undefined" && url != undefined && url != "" ? url : "http://128.199.170.141:7000/img/no-image.jpg"
		Swal.fire({
			imageUrl: /* url.indexOf("http") > 0 ? url : "http://"+ */url,
		})
	}
</script>