<!DOCTYPE html>
<html>

<head>
    <title>Pending Bonus</title>
    <% include ../../partion/header.ejs %>
    <style>
        body, html {
            height: 100%;
        }
        img{
            max-width:180px;
        }
        input[type=file]{
            padding:10px;
            background:#2d2d2d;
        }
    </style>
</head>

<body>
    <div class="body">
    <% include ../../partion/bodyHeaderManager.ejs %>
        <div style="padding-top: 10%;" role="main">
                <div class="container2">
                    <div class="padding2">
                        <h3><a href="/manager/expenses">Expenses</a> / <a href="/manager/expensesPending">Pending
                                    Bonus</a></h3>
                        
                                    <% include ../../partion/managerExpensesHeader.ejs %>
                                    <script>
                                        document.getElementById("pending").classList.add('selectionButtonSelected');
                                    </script><br>
                        <div style="overflow-x:auto;">
                            <table class="table table-bordered mydatatable">
                                <thead>
                                        <tr>
                                            <th><input type="checkbox" name="checkbox"></th>
                                            <th>No.</th>
                                            <th>Agent</th>
                                            <th>Lend Out</th>
                                            <th>Expenses</th>
                                            <th>Bonus</th>
                                            <th>Expenses and Bonus</th>
                                            <th>Principal</th>
                                            <th>Pending Date</th>
                                            <th>Receipt</th>

                                        </tr>
                                </thead>
                                <tbody>
                                <% for (let i=0; i<expenses.length; i++){%>
                                        <tr>
                                            <td><input type="checkbox" name="checkbox">
                                            <td><%= i+1 %></td>
                                            <td><%= expenses[i].agentName %></td>
                                            <td><%= expenses[i].lendOut %></td>
                                            <td><%= expenses[i].totalExpenses %></td>
                                            <td><%= expenses[i].bonus %></td>
                                            <td><%= expenses[i].totalExpensesBonus %></td>
                                            <td><%= expenses[i].principal %></td>
                                            <td><%= expenses[i].createdAt %></td>
                                            <td><a href="/manager/expensesPending/<%= expenses[i].expensesId %>">Upload</a></td>

                                        </tr>

                                <% } %>
								
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- modal -->
                    <div class="modal fade uploadReceiptModal" id="formModal" tabindex="-1" role="dialog"
                        aria-labelledby="formModalLabel" aria-modal="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Upload Receipt
                                    </h4>
                                </div>

                                <div class="modal-body">

                                    <form id="demo-form" class="mb-4" novalidate="novalidate"
                                        action="/managerUploadPaymentExpenses" method="POST"
                                        enctype="multipart/form-data">
                                        <input type="hidden" id="expensesId" name="expensesId" value="<%=  expenses[0] ? expenses[0].expensesId : ""  %>">
                                        <div class="form-group row align-items-center">
                                            <label class="col-sm-3 text-left text-sm-right mb-0"
                                                style="color: black;">Agent/Sub-Agent</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="agentName" class="form-control"
                                                    value="<%=  expenses[0] ? expenses[0].agentName : ""  %>" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label class="col-sm-3 text-left text-sm-right mb-0"
                                                style="color: black;">Commission(RM)</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="expenses" class="form-control"
                                                    value="<%= expenses[0] ? expenses[0].totalExpenses : "" %>" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label class="col-sm-3 text-left text-sm-right mb-0"
                                                style="color: black;">Bank</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="bankName" class="form-control"
                                                    value="<%= expenses[0] ? expenses[0].agentBankName : "" %>" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label class="col-sm-3 text-left text-sm-right mb-0"
                                                style="color: black;">Bank Acc. Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="bankAccountName" class="form-control"
                                                    value="<%= expenses[0] ? expenses[0].agentBankAccountName : "" %>" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label class="col-sm-3 text-left text-sm-right mb-0"
                                                style="color: black;">Bank Acc. No.</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="bankAccountNumber" class="form-control"
                                                    value="<%= expenses[0] ? expenses[0].agentBankAccountNumber : "" %>"
                                                    readonly />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-3 text-left text-sm-right mb-0"
                                                style="color: black;">Receipt</label>
                                            <div class="col-sm-9">
                                                <img id="image" src="" />
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="input-append">
                                                        <div class="uneditable-input">
                                                            <i class="fas fa-file fileupload-exists"></i>
                                                            <span class="fileupload-preview"></span>
                                                        </div>
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileupload-exists">Change</span>
                                                            <span class="fileupload-new">Select file</span>
                                                            <input type="file" style="max-width:180px;"
                                                                onchange='readURL(this);' name="image" required />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/manager/expensesPending" type="button"
                                                class="btn btn-light">Back</a>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            

        </div>
    </div>
</body>
</html>
<script>
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function(e) {
			$("#image").attr("src", e.target.result);
			};

			reader.readAsDataURL(input.files[0]);
		}
    }
    $(window).on('load',function(){
        if("<%= uploadReceiptModal %>" == "true"){
            $('.uploadReceiptModal').modal('show');
        }else{

        }
    });
</script>