<!DOCTYPE html>
<html>

<head>
	<title>Blacklisted Customer</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/agent/customer">Customer</a> / <a href="/agent/customerBlacklisted">Blacklisted
							Customer</a></h3>

					<h3>Blacklisted Customer : <%= allBlacklisted.length %></h3>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>No.</th>
									<th>Customer</th>
									<th>Blacklisted Date</th>
									<th>Contact No.</th>
									<th>IC No.</th>
									<th>Unpaid</th>
									<th>Paid</th>
									<th>Earnings/Losses</th>
									<th>No. of Times Overdue</th>
									<th>Overdue (Day)</th>
									<th>Agent</th>
									<th>Stage</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Overtake</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<allBlacklisted.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
									<td><%= i+1 %></td>
									<td class="actions">
										<a
											href="/agent/customerDetails/personalInfo/<%= allBlacklisted[i].userId %>"><%= allBlacklisted[i].username %></a>
									</td>
									<td><%= allBlacklisted[i].blacklistedAt %></td>
									<td><%= allBlacklisted[i].phoneNumber %></td>
									<td><%= allBlacklisted[i].ic %></td>
									<td><%= allBlacklisted[i].unpaid %></td>
									<td><%= allBlacklisted[i].paid %></td>
									<td><%= allBlacklisted[i].earningsAndLosses %></td>
									<td><%= allBlacklisted[i].numberOverdue %></td>
									<td><%= allBlacklisted[i].dayOverdue %></td>
									<td><%= allBlacklisted[i].agent %></td>
									<td style="color:green"><%= allBlacklisted[i].stage %></td>
									<td style="color:red"><%= allBlacklisted[i].status %></td>
									<td>-</td>
									<td>Overtake</td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>