<!DOCTYPE html>
<html>

<head>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<!-- <form action="#" class="search-nav-form">
					<div class="caption">
						<caption><b>Customer</b></caption>
					</div>
						<input type="search" class="search-btn skills" name="customer" id="customer" placeholder="Customer">
						<input type="search" class="search-btn skills" name="ic" id="ic" placeholder="IC No.">
						<input type="search" class="search-btn skills" name="contact" id="contact" placeholder="Contact No.">
						<input type="search" class="search-btn skills" name="overdue" id="overdue" placeholder="Overdue Day">
						<select name="paid" style="width: 200px; height: 32px; border: 1px solid grey; margin: 20px;">
							<option value="select">Paid (%)</option>
						</select>
						<button class="search-btn-btn" type="button"  style="background-color: darkblue; color: white; box-shadow: none; border-radius: 12px; border: none; font-size: 15px; width: 200px; height: 32px;">Search</button>
				</form> -->
		<div role="main" class="main">

			<div class="container py-2">

				<div class="row mb-4 pb-3">
					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/agent/customerOnLoan"><img class="card-img-top"
									src="../img/icon/c1-new-customer.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>On Loan</h4>
								<p><b><%= valueOfEachItem.onLoan %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/agent/customerOverduePayment"><img class="card-img-top"
									src="../img/icon/cc2-overdue.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Overdue Payment</h4>
								<p><b><%= valueOfEachItem.overduePayment %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/agent/customerPaid"><img class="card-img-top" src="../img/icon/cc3-paid.png"
									alt="Card Image"></a>
							<div class="card-body">
								<h4>Paid</h4>
								<p><b><%= valueOfEachItem.paid %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/agent/customerInProgress"><img class="card-img-top"
									src="../img/icon/cc4-in-progress.png" alt="Card Image"
									style="width: 210px; height:200px;"></a>
							<div class="card-body">
								<h4>In Progress</h4>
								<p>
									<p><b><%= valueOfEachItem.inProgress %></b></p>
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/agent/customerBlacklisted"><img class="card-img-top"
									src="../img/icon/cc5-blacklisted.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Blacklist</h4>
								<p><b><%= valueOfEachItem.blacklisted %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/agent/customerRejected"><img class="card-img-top"
									src="../img/icon/cc6-rejected.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Rejected</h4>
								<p><b><%= valueOfEachItem.rejected %></b></p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
</body>

</html>