<!DOCTYPE html>
<html>

<head>
	<title>Overdue Payment</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/agent/customer">Customer</a> / <a href="/agent/customerOverduePayment">Overdue
							Payment</a></h3>

					<h3>Overdue Payment : <%= allOnLoan.length %></h3>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>No.</th>
									<th>Loan ID</th>
									<th>Loan Approved On</th>
									<th>Customer</th>
									<th>Contact No.</th>
									<th>Loan Type</th>
									<th>Amount</th>
									<th>Duration</th>
									<th>Installment</th>
									<th>Collected</th>
									<th>Outstanding</th>
									<th>No. of Times Overdue</th>
									<th>Overdue(Day)</th>
									<th>Overdue Amount</th>
									<th>Earnings/Losses(RM)</th>
									<th>Agent</th>
									<th>Status</th>
									<th>Remark</th>

								</tr>
							<tbody>
								<% for (let i=0; i<allOnLoan.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
									<td><%= i+1 %></td>
									<td><%= allOnLoan[i].loanId %></td>
									<td><%= allOnLoan[i].approvedAt %></td>
									<td class="actions">
										<a
											href="/agent/customerDetails/personalInfo/<%= allOnLoan[i].userId %>"><%= allOnLoan[i].username %></a>
									</td>
									<td><%= allOnLoan[i].phoneNumber %></td>
									<td><%= allOnLoan[i].loanType %></td>
									<td><%= allOnLoan[i].amount %></td>
									<td><%= allOnLoan[i].duration %></td>
									<td><%= allOnLoan[i].installment %></td>
									<td><%= allOnLoan[i].collected %></td>
									<td><%= allOnLoan[i].outstanding %></td>
									<td><%= allOnLoan[i].numberOverdue %></td>
									<td><%= allOnLoan[i].dayOverdue %></td>
									<td><%= allOnLoan[i].amountOverdue %></td>
									<% if(allOnLoan[i].earningsAndLosses > 0){ %>
									<td style="color:green"><%= allOnLoan[i].earningsAndLosses %></td>
									<% }else{ %>
									<td style="color:red"><%= -1*(allOnLoan[i].earningsAndLosses) %></td>
									<% } %>
									<td><%= allOnLoan[i].agent %></td>
									<td><%= allOnLoan[i].status %></td>
									<td>-</td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>