<!DOCTYPE html>
<html>

<head>
	<title>Rejected Customer</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/agent/customer">Customer</a> / <a href="/agent/customerRejected">Rejected</a></h3>

					<h3>Rejected Customer : <%= allRejected.length %></h3>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>No.</th>
									<th>Customer</th>
									<th>Rejected Date</th>
									<th>Contact No.</th>
									<th>IC No.</th>
									<th>Unpaid</th>
									<th>Paid</th>
									<th>Earnings/Losses</th>
									<th>No. of Times Overdue</th>
									<th>Overdue (Day)</th>
									<th>Agent</th>
									<th>Stage</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Overtake</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<allRejected.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
									<td><%= i+1 %></td>
									<td class="actions">
										<a
											href="/agent/customerDetails/personalInfo/<%= allRejected[i].userId %>"><%= allRejected[i].username %></a>
									</td>
									<td><%= allRejected[i].rejectedAt %></td>
									<td><%= allRejected[i].phoneNumber %></td>
									<td><%= allRejected[i].ic %></td>
									<td><%= allRejected[i].unpaid %></td>
									<td><%= allRejected[i].paid %></td>
									<% if(allRejected[i].earningsAndLosses > 0){ %>
									<td style="color:green"><%= allRejected[i].earningsAndLosses %></td>
									<% }else{ %>
									<td style="color:red"><%= -1*(allRejected[i].earningsAndLosses) %></td>
									<% } %>
									<td><%= allRejected[i].numberOverdue %></td>
									<td><%= allRejected[i].dayOverdue %></td>
									<td><%= allRejected[i].agent %></td>
									<td style="color:green"><%= allRejected[i].stage %></td>
									<td style="color:orange"><%= allRejected[i].status %></td>
									<td style="color:blue"><%= allRejected[i].remark %></td>
									<td>Overtake</td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>