<!DOCTYPE html>
<html>

<head>
	<title>Payment Record</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<% include ../../partion/bodyHeader.ejs %>

	<div role="main" class="main">
		<div class="container py-2">

			<div class="row">
				<div class="col">

					<div class="row" style="margin-top: 5%">
						<div class="col pb-3">
							<h3>Payment Record (loan ID: <%= loanId %>)  <p class="tab">Disbursement: RM<%= disbursement %></p>  <p class="tab">Outstanding: RM<%= outstanding %></p></h3>

							<div style="overflow-x:auto;">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th><input type="checkbox" name="checkbox"></th>
											<th>No.</th>
											<th>Payment ID</th>
											<th>Status</th>
											<th>Agent</th>
											<th>Installment</th>
											<th>Payment Due Date</th>
											<th>Paid</th>
											<th>Paid On</th>
											<th>Paymnet</th>

										</tr>
									</thead>
									<% for (let i=0; i<allPaymentRecord.length; i++){%>
									<tbody>
										<tr>
											<td><input type="checkbox" name="checkbox">
											<td><%= i+1 %></td>
											<td><%= allPaymentRecord[i].paymentId %></td>
											<td><%= allPaymentRecord[i].status %></td>
											<td><%= allPaymentRecord[i].agent %></td>
											<td><%= allPaymentRecord[i].installment %></td>
											<td><%= allPaymentRecord[i].paymentDueDate %></td>
											<td><%= allPaymentRecord[i].amount %></td>
											<td style="color:green"><%= allPaymentRecord[i].createdAt %></td>
											<!-- <td><%= "Check" %></td> -->
                                            <td class="actions" style="color:lightblue;">
                                                <a href="/agent/reportPaymentRecord/<%= loanId %>/<%= allPaymentRecord[i].paymentId%>">Check</a>
                                            </td>

										</tr>

									</tbody>
									<% } %>

									<!-- <tbody>
                                            <tr id="total">
												<td></td>
												<td>1</td>
												<td>1</td>
												<td></td>
												<td></td>
												<td>1</td>
												<td>1</td>
												<td>899.99</td>
												<td>0</td>
												<td>0</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
                                            </tr>
                                        </tbody> -->
								</table>
							</div>

						</div>
					</div>
					<div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
						<ul class="pagination">
							<li class="paginate_button page-item previous disabled" id="datatable-default_previous">
								<a href="#" aria-controls="datatable-default" data-dt-idx="0" tabindex="0"
									class="page-link">
									<</a> </li> <li class="paginate_button page-item active"><a href="#"
											aria-controls="datatable-default" data-dt-idx="1" tabindex="0"
											class="page-link">1</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
							<li class="paginate_button page-item next" id="datatable-default_next"><a href="#"
									aria-controls="datatable-default" data-dt-idx="7" tabindex="0"
									class="page-link">></a></li>
						</ul>
					</div>
					<select name="show"
						style="width: 100px; height: 32px; border: 1px solid grey; margin-right: -10%; margin-top: -5%; float:left; color:black;">
						<option value="select">Show: 10</option>
					</select>
					<div class="total-contents">
						<label>Total</label>
						<input type="text" class="totalContents" placeholder="Total: " size="10">
                    </div>

                    <div class="row align-items-center">
                        <div class="col-sm-9">

                            <div class="modal fade show paymentProofModal" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true" >
                                <div class="modal-dialog" >
                                    <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                        <div class="modal-header">
                                                <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Receipt</h4>
                                            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                        </div>
                                        
                                        <div class="modal-body" >
                                                
                                            <form id="demo-form" class="mb-4" novalidate="novalidate" >
                                                
                                                <div class="form-group row">
                                                    <label class="col-sm-12 text-left text-sm-center mb-0"
                                                        style="color: black;">Receipt Preview</label>

                                                    <img id="image" style="width:70%;height: auto;"
                                                    <% if(allPaymentRecord.lengh > 0){%>
                                                        src="<%= (allPaymentRecord[0].paymentProof && allPaymentRecord[0].paymentProof.substring(0, 4) != "http") ? "http://" + allPaymentRecord[0].paymentProof : allPaymentRecord[0].paymentProof %>"
                                                        <% }else{ %>
                                                            src="http://128.199.170.141:7000/img/no-image.jpg"
                                                        <% } %>
                                                    />

                                                </div>

                                                <div class="modal-footer">
                                                    <a href="/agent/report" type="button" class="btn btn-light">Close</a>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- <div class="modal-footer">
                                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save Changes</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>


				</div>
			</div>

		</div>

	</div>
</body>
<script>
    $(window).on('load',function(){
        if("<%= paymentProofModal %>" == "true"){
            $('.paymentProofModal').modal('show');
        }else{

        }
    });
</script>