<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<% include ../../partion/header.ejs %>
	<style>
		/* .card{
				width: 210px; 
				height:200px;
			} */
		.card-img-top {
			width: 210px;
			height: 200px;
		}
	</style>

</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>

		<div role="main" class="main">

			<div class="container py-2">

				<div class="row mb-4 pb-3">
					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/manager/taskDisbursement/pending"><img class="card-img-top"
									src="/img/icon/ta1-disbursement.png" alt="Card Image"
									width=10></a>
							<div class="card-body">
								<h4>Disbursement</h4>
								<p><b><%= numberOfEachTask.disbursement %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/manager/taskDebtCollection/pending"><img class="card-img-top"
									src="/img/icon/t2-debt-collected.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Debt Collection</h4>
								<p><b><%= numberOfEachTask.debtCollection %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/manager/taskBlacklistRequest/pending"><img class="card-img-top"
									src="/img/icon/ta3-blacklist.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Blacklist Request</h4>
								<p><b><%= numberOfEachTask.blacklistRequest %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/manager/taskReleaseCommission/pending"><img class="card-img-top"
									src="/img/icon/ta4-release.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Release Commission</h4>
								<p><b><%= numberOfEachTask.releaseCommmission %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/manager/taskPayExpenses/pending"><img class="card-img-top"
									src="/img/icon/ta5-pay-expenses.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Pay Expenses</h4>
								<p><b><%= numberOfEachTask.payExpenses %></b></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
</body>

</html>