<!DOCTYPE html>
<html>

<head>
	<title>Agent Performance</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/manager/report">Report</a> / <a href="/manager/reportPerformance">Agent Performance</a>
					</h3>

					<h3>Agent Performance</h3>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>No.</th>
									<th>Agent</th>
									<th>Joined Date</th>
									<th>Lend Out</th>
									<th>Collected</th>
									<th>Expenses</th>
									<th>Bonus</th>
									<th>Expenses and Bonus</th>
									<th>Earnings/Losses</th>
									<th>Principal</th>
									<th>Outstanding</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<0; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
									<td><%= i+1 %></td>
									<td>James Wong</td>
									<td>May 25th, 2019</td>
									<td>1000.00</td>
									<td>100.00</td>
									<td>100.00</td>
									<td>100.00</td>
									<td>200.00</td>
									<td>899.00</td>
									<td>1000.00</td>
									<td>899.00</td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>