<!DOCTYPE html>
<html>

<head>
	<title>Lend Out</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
			<% include ../../partion/bodyHeaderManager.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/manager/report">Report</a> / <a href="/manager/reportLendOut">Lend Out</a></h3>

					<h3>Lend Out: RM<%= totalLendOut %></h3>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>Loan ID</th>
									<th>Customer</th>
									<th>Contact No.</th>
									<th>Loan Type</th>
									<th>Approved On</th>
									<th>Amount</th>
									<th>Duration</th>
									<th>Interest</th>
									<th>Offset</th>
									<th>Disursement</th>
									<th>Collected</th>
									<th>Outstanding</th>
									<th>Agent</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<allLendOut.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
										<!-- <td><%= /* i+1 */ %></td> -->
									<td class="actions" style="color:blue;">
										<a
											href="/manager/reportPaymentRecord/<%= allLendOut[i].loanId %>"><%= allLendOut[i].loanId %></a>
									</td>
									<td><%= allLendOut[i].username %></td>
									<td><%= allLendOut[i].phoneNumber %></td>
									<td><%= allLendOut[i].loanType %></td>
									<td><%= allLendOut[i].approvedOn %></td>
									<td><%= allLendOut[i].amount %></td>
									<td><%= allLendOut[i].duration %></td>
									<td><%= allLendOut[i].interest %></td>
									<td><%= allLendOut[i].offset %></td>
									<td><%= allLendOut[i].disbursement %></td>
									<td><%= allLendOut[i].collected %></td>
									<td><%= allLendOut[i].outstanding %></td>
									<td><%= allLendOut[i].agent %></td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>