<!DOCTYPE html>
<html>

<head>
	<title>Outstanding</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/manager/report">Report</a> / <a href="/manager/reportOutstanding">Outstanding</a></h3>

					<h3>Outstanding: RM<%= totalOutstanding %></h3>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>Loan ID</th>
									<th>Customer</th>
									<th>Contact No.</th>
									<th>Agent</th>
									<th>Loan Type</th>
									<th>Approved On</th>
									<th>Amount</th>
									<th>Type</th>
									<th>Overdue (Day)</th>
									<th>Disursement</th>
									<th>Collected</th>
									<th>Outstanding</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<allOutstanding.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
										<!-- <td><%= /* i+1 */ %></td> -->
									<td class="actions" style="color:blue;">
										<a href="/manager/reportPaymentRecord/<%= allOutstanding[i].loanId %>">
											<%= allOutstanding[i].loanId %>
										</a>
									</td>
									<td><%= allOutstanding[i].username %></td>
									<td><%= allOutstanding[i].phoneNumber %></td>
									<td><%= allOutstanding[i].agent %></td>
									<td><%= allOutstanding[i].loanType %></td>
									<td><%= allOutstanding[i].approvedOn %></td>
									<td><%= allOutstanding[i].amount %></td>
									<td><%= allOutstanding[i].paymentType %></td>
									<td><%= allOutstanding[i].dayOverdue %></td>
									<td><%= allOutstanding[i].disbursement %></td>
									<td><%= allOutstanding[i].collected %></td>
									<td><%= allOutstanding[i].outstanding %></td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>