<!DOCTYPE html>
<html>

<head>
	<title>Payment Record</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">

					<h3>Payment Record (loan ID: <%= loanId %>) <p class="tab">Disbursement: RM<%= disbursement %></p>
						<p class="tab">Outstanding: RM<%= outstanding %></p>
					</h3>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>No.</th>
									<th>Payment ID</th>
									<th>Status</th>
									<th>Agent</th>
									<th>Installment</th>
									<th>Payment Due Date</th>
									<th>Paid</th>
									<th>Paid On</th>
									<th>Paymnet</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<allPaymentRecord.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
									<td><%= i+1 %></td>
									<td><%= allPaymentRecord[i].paymentId %></td>
									<td><%= allPaymentRecord[i].status %></td>
									<td><%= allPaymentRecord[i].agent %></td>
									<td><%= allPaymentRecord[i].installment %></td>
									<td><%= allPaymentRecord[i].paymentDueDate %></td>
									<td><%= allPaymentRecord[i].amount %></td>
									<td style="color:green"><%= allPaymentRecord[i].createdAt %></td>
									<!-- <td><%= "Check" %></td> -->
									<td class="actions" style="color:lightblue;">
										<a
											href="/manager/reportPaymentRecord/<%= loanId %>/<%= allPaymentRecord[i].paymentId%>">Check</a>
									</td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>
<script>
	$(window).on('load', function () {
		if ("<%= paymentProofModal %>" == "true") {
			$('.paymentProofModal').modal('show');
		} else {

		}
	});
</script>