<!DOCTYPE html>
<html>

<head>
	<title>In Progress</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/manager/customer">Customer</a> / <a href="/manager/customerInProgress">In Progress</a>
					</h3>

					<h3>In Progress : <%= allInProgress.length %></h3>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>No.</th>
									<th>Customer</th>
									<th>Joined Date</th>
									<th>Contact</th>
									<th>IC No.</th>
									<th>Stage</th>
									<th>Agent</th>
									<th>Status</th>
									<th>Remark</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<allInProgress.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
									<td><%= i+1 %></td>
									<td class="actions">
										<a
											href="/manager/customerDetails/personalInfo/<%= allInProgress[i].userId %>"><%= allInProgress[i].username %></a>
									</td>
									<td><%= allInProgress[i].createdAt %></td>
									<td><%= allInProgress[i].phoneNumber %></td>
									<td><%= allInProgress[i].ic %></td>
									<td><%= allInProgress[i].stage %></td>
									<td><%= allInProgress[i].agent %></td>
									<td><%= allInProgress[i].status %></td>
									<td>-</td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>