<!DOCTYPE html>
<html>

<head>
	<title>Bonus Banked In</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<% include ../../partion/bodyHeaderManager.ejs %>

	<div role="main" class="main">
		<div class="container py-2">

			<div class="row">
				<div class="col">

					<div class="row" style="margin-top: 5%">
						<div class="col pb-3">
							<!-- <hr class="solid my-5"> -->
							<!-- <form action="#" class="search-nav-form" id="search-table">
                                        <input type="search" class="search-btn skills" name="customer" id="customer" placeholder="Customer">
                                        <input type="search" class="search-btn skills" name="ic" id="ic" placeholder="IC No.">
                                        <input type="search" class="search-btn skills" name="contact" id="contact" placeholder="Contact No.">
                                        <input type="search" class="search-btn skills" name="overdue" id="overdue" placeholder="Overdue Day">
                                        <select name="paid" style="width: 80px; height: 32px; border: 1px solid grey; margin: 20px;">
                                        <option value="select">Paid (%)</option>
                                        </select>
                                        <button class="search-btn-btn" type="button"  style="background-color: darkblue; color: white; box-shadow: none; border-radius: 12px; border: none; font-size: 15px; width: 100px; height: 32px; ">Search</button>
                                    </form> -->
							<!-- <select name="filter" style="width: 80px; height: 32px; border: 1px solid grey; margin-right: -18%; margin-top: -1%; float:right; background-color:darkblue; color:white; position: -webkit-sticky;">
                                            <option value="select">Filter</option>
                                    </select>
                                    <a href="#" style="color:green; float:right; margin-right: 1%;">Message</a>
                                    <a href="#" style="color:blue; float:right; margin-right: 3%;">Export</a>
									-->
							
                            <section
                                class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
                                style="background-color: white;">
                                <div class="container">
                                        <% include ../../partion/managerExpensesHeader.ejs %>
                                        <script>
                                            document.getElementById("expensesBankedIn").classList.add('selectionButtonSelected');
                                        </script>
                                </div>
							</section>	
								
							<h3><a href="/manager/expenses">Expenses</a> / <a href="/manager/expensesBankedIn">Bonus Banked In</a></h3>

							<div style="overflow-x:auto;">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th><input type="checkbox" name="checkbox"></th>
											<th>No.</th>
											<th>Agent</th>
											<th>Lend Out</th>
											<th>Expenses</th>
											<th>Bonus</th>
											<th>Expenses and Bonus</th>
											<th>Principal</th>
											<th>Pending Date</th>
											<th>Banked In</th>
											<th>Receipt</th>

										</tr>
									</thead>
									<% for (let i=0; i<expenses.length; i++){%>
									<tbody>
										<tr>
											<td><input type="checkbox" name="checkbox">
											<td><%= i+1 %></td>
											<td><%= expenses[i].agentName %></td>
											<td><%= expenses[i].lendOut %></td>
											<td><%= expenses[i].totalExpenses %></td>
											<td><%= expenses[i].bonus %></td>
											<td><%= expenses[i].totalExpensesBonus %></td>
											<td><%= expenses[i].principal %></td>
											<td><%= expenses[i].createdAt %></td>
											<td><%= expenses[i].paidAt %></td>
											<% if(expenses[i].paymentProof == "-") { %>
												<td>-</td> 
											<% }else{ %>
												<td style="color:blue;cursor: pointer;" onclick="checkReceipt(`<%= expenses[i].paymentProof %>`)">Check</td>
											<% } %> 
											

										</tr>

									</tbody>
									<% } %>

									<!-- <tbody>
                                            <tr id="total">
												<td></td>
												<td>1</td>
												<td>1</td>
												<td></td>
												<td></td>
												<td>1</td>
												<td>1</td>
												<td>899.99</td>
												<td>0</td>
												<td>0</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
                                            </tr>
                                        </tbody> -->
								</table>
							</div>

						</div>
					</div>
					<div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
						<ul class="pagination">
							<li class="paginate_button page-item previous disabled" id="datatable-default_previous">
								<a href="#" aria-controls="datatable-default" data-dt-idx="0" tabindex="0"
									class="page-link">
									<</a> </li> <li class="paginate_button page-item active"><a href="#"
											aria-controls="datatable-default" data-dt-idx="1" tabindex="0"
											class="page-link">1</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
							<li class="paginate_button page-item next" id="datatable-default_next"><a href="#"
									aria-controls="datatable-default" data-dt-idx="7" tabindex="0"
									class="page-link">></a></li>
						</ul>
					</div>
					<select name="show"
						style="width: 100px; height: 32px; border: 1px solid grey; margin-right: -10%; margin-top: -5%; float:left; color:black;">
						<option value="select">Show: 10</option>
					</select>
					<div class="total-contents">
						<label>Total</label>
						<input type="text" class="totalContents" placeholder="Total: " size="10">
                    </div>
                    
                    <!-- modal -->
                    

				</div>
			</div>

		</div>

	</div>
</body>

<script>
	function checkReceipt(url) {		
		url != "undefined" && url != undefined && url != "" ? url : "http://128.199.170.141:7000/img/no-image.jpg"
		Swal.fire({
			imageUrl: /* url.indexOf("http") > 0 ? url : "http://"+ */url,
		})
    }
</script>