<!DOCTYPE html>
<html>

<head>
	<title>Expenses Overall</title>
	<% include ../../partion/header.ejs %>
    <style>
        body, html {
            height: 100%;
        }
        img{
            max-width:180px;
        }
        input[type=file]{
            padding:10px;
            background:#2d2d2d;
        }
    </style>
</head>

<body>
	<% include ../../partion/bodyHeaderManager.ejs %>

	<div role="main" class="main">
		<div class="container py-2">

			<div class="row">
				<div class="col">

					<div class="row" style="margin-top: 5%">
						<div class="col pb-3">
							<!-- <hr class="solid my-5"> -->
							<!-- <form action="#" class="search-nav-form" id="search-table">
                                        <input type="search" class="search-btn skills" name="customer" id="customer" placeholder="Customer">
                                        <input type="search" class="search-btn skills" name="ic" id="ic" placeholder="IC No.">
                                        <input type="search" class="search-btn skills" name="contact" id="contact" placeholder="Contact No.">
                                        <input type="search" class="search-btn skills" name="overdue" id="overdue" placeholder="Overdue Day">
                                        <select name="paid" style="width: 80px; height: 32px; border: 1px solid grey; margin: 20px;">
                                        <option value="select">Paid (%)</option>
                                        </select>
                                        <button class="search-btn-btn" type="button"  style="background-color: darkblue; color: white; box-shadow: none; border-radius: 12px; border: none; font-size: 15px; width: 100px; height: 32px; ">Search</button>
                                    </form> -->
							<!-- <select name="filter" style="width: 80px; height: 32px; border: 1px solid grey; margin-right: -18%; margin-top: -1%; float:right; background-color:darkblue; color:white; position: -webkit-sticky;">
                                            <option value="select">Filter</option>
                                    </select>
                                    <a href="#" style="color:green; float:right; margin-right: 1%;">Message</a>
                                    <a href="#" style="color:blue; float:right; margin-right: 3%;">Export</a>
									-->
							
                            <section
                                class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
                                style="background-color: white;">
                                <div class="container">
                                        <% include ../../partion/managerExpensesHeader.ejs %>
                                        <script>
                                            document.getElementById("overall").classList.add('selectionButtonSelected');
                                        </script>
                                </div>
							</section>	
								
							<h3><a href="/manager/expenses">Expenses</a> / <a href="/manager/expensesOverall">Overall </a></h3>

							<div style="overflow-x:auto;">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th><input type="checkbox" name="checkbox"></th>
											<th>No.</th>
											<th>Agent</th>
											<th>Lend Out</th>
											<th>Expenses</th>
											<th>Bonus</th>
											<th>Expenses and Bonus</th>
											<th>Principal</th>
											<th>Adjust Principal</th>
											<th>Give Out Bonus</th>

										</tr>
									</thead>
									<% for (let i=0; i<expenses.length; i++){%>
									<tbody>
										<tr>
											<td><input type="checkbox" name="checkbox">
											<td><%= i+1 %></td>
											<td><%= expenses[i].agentName %></td>
											<td><%= expenses[i].lendOut %></td>
											<td><%= expenses[i].totalExpenses %></td>
											<td><%= expenses[i].bonus %></td>
											<td><%= expenses[i].totalExpensesBonus %></td>
											<td><%= expenses[i].principal %></td>
											<td>Adjust</td>
                                            <td><a href="/manager/expensesOverall/<%= expenses[i].expensesId %>">Give Out</a></td>

										</tr>

									</tbody>
									<% } %>

									<!-- <tbody>
                                            <tr id="total">
												<td></td>
												<td>1</td>
												<td>1</td>
												<td></td>
												<td></td>
												<td>1</td>
												<td>1</td>
												<td>899.99</td>
												<td>0</td>
												<td>0</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
                                            </tr>
                                        </tbody> -->
								</table>
							</div>

						</div>
					</div>
					<div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
						<ul class="pagination">
							<li class="paginate_button page-item previous disabled" id="datatable-default_previous">
								<a href="#" aria-controls="datatable-default" data-dt-idx="0" tabindex="0"
									class="page-link">
									<</a> </li> <li class="paginate_button page-item active"><a href="#"
											aria-controls="datatable-default" data-dt-idx="1" tabindex="0"
											class="page-link">1</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
									data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
							<li class="paginate_button page-item next" id="datatable-default_next"><a href="#"
									aria-controls="datatable-default" data-dt-idx="7" tabindex="0"
									class="page-link">></a></li>
						</ul>
					</div>
					<select name="show"
						style="width: 100px; height: 32px; border: 1px solid grey; margin-right: -10%; margin-top: -5%; float:left; color:black;">
						<option value="select">Show: 10</option>
					</select>
					<div class="total-contents">
						<label>Total</label>
						<input type="text" class="totalContents" placeholder="Total: " size="10">
                    </div>
                    
                    <!-- modal -->
                    <div class="modal fade giveOutBonusModel" id="formModal" tabindex="-1" role="dialog"
					aria-labelledby="formModalLabel" aria-modal="true">
					<div class="modal-dialog">
						<div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
							<div class="modal-header">
								<h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Give Out Bonus
								</h4>
							</div>

							<div class="modal-body">

								<form id="demo-form" class="mb-4" novalidate="novalidate"
									action="/managerGiveOutBonus" method="POST"
									enctype="multipart/form-data">
									<input type="hidden" id="agentId" name="agentId" value="<%=  expenses[0] ? expenses[0].agentId : ""  %>">
									<div class="form-group row align-items-center">
										<label class="col-sm-3 text-left text-sm-right mb-0"
											style="color: black;">Agent/Sub-Agent</label>
										<div class="col-sm-9">
											<input type="text" name="agentName" class="form-control"
												value="<%=  expenses[0] ? expenses[0].agentName : ""  %>" readonly />
										</div>
									</div>
									<div class="form-group row align-items-center">
										<label class="col-sm-3 text-left text-sm-right mb-0"
											style="color: black;">Bank Acc. Name</label>
										<div class="col-sm-9">
											<input type="text" name="bankAccountName" class="form-control"
												value="<%= expenses[0] ? expenses[0].agentBankAccountName : "" %>" readonly />
										</div>
									</div>
									<div class="form-group row align-items-center">
										<label class="col-sm-3 text-left text-sm-right mb-0"
											style="color: black;">Bank Acc. No.</label>
										<div class="col-sm-9">
											<input type="text" name="bankAccountNumber" class="form-control"
												value="<%= expenses[0] ? expenses[0].agentBankAccountNumber : "" %>"
												readonly />
										</div>
									</div>
									<div class="form-group row align-items-center">
										<label class="col-sm-3 text-left text-sm-right mb-0"
											style="color: black;">Bank</label>
										<div class="col-sm-9">
											<input type="text" name="bankName" class="form-control"
												value="<%= expenses[0] ? expenses[0].agentBankName : "" %>" readonly />
										</div>
									</div>
									<div class="form-group row align-items-center">
										<label class="col-sm-3 text-left text-sm-right mb-0"
											style="color: black;">Commission(RM)</label>
										<div class="col-sm-9">
											<input type="number" name="expenses" class="form-control"
												value="" required />
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-3 text-left text-sm-right mb-0"
											style="color: black;">Receipt</label>
										<div class="col-sm-9">
											<img id="image" src="" />
											<div class="fileupload fileupload-new" data-provides="fileupload">
												<div class="input-append">
													<div class="uneditable-input">
														<i class="fas fa-file fileupload-exists"></i>
														<span class="fileupload-preview"></span>
													</div>
													<span class="btn btn-default btn-file">
														<span class="fileupload-exists">Change</span>
														<span class="fileupload-new">Select file</span>
														<input type="file" style="max-width:180px;"
															onchange='readURL(this);' name="image" required />
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
											<label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;">Reason</label>
											<div class="col-sm-9">
											<select name="reasonOption" style="width: 100%; margin-right: auto; margin-left: auto;">
												<!-- <option value="select">
													Choose reason here
												</option> -->
											</select>
										</div>
									</div>
									<div class="form-group row">
										<!-- <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;"></label> -->
										<div class="col-sm-12">
											<textarea rows="5" class="form-control" placeholder="Or type your reason here" name="reason" required></textarea>
										</div>
									</div>
									<div class="modal-footer">
										<a href="/manager/expensesOverall" type="button"
											class="btn btn-light">Back</a>
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
                    

				</div>
			</div>

		</div>

	</div>
</body>

<script>
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function(e) {
			$("#image").attr("src", e.target.result);
			};

			reader.readAsDataURL(input.files[0]);
		}
    }
    $(window).on('load',function(){
        if("<%= giveOutBonusModel %>" == "true"){
            $('.giveOutBonusModel').modal('show');
        }else{

        }
    });
</script>