<button id="personalInfo" type="button" class="btn btn-light mb-2"><a
    href="/agent/customerDetails/personalInfo/<%= userDetails._id %>"
    style="text-decoration: none; color: black;">Personal Info</a></button>
<button id="residentialInfo" type="button" class="btn btn-light mb-2"><a
    href="/agent/customerDetails/residentialInfo/<%= userDetails._id %>"
    style="text-decoration: none; color: black;">Residential Info</a></button>
<button id="bankAccountInfo" type="button" class="btn btn-light mb-2"><a
    href="/agent/customerDetails/bankAccountInfo/<%= userDetails._id %>"
    style="text-decoration: none; color: black;">Bank Acc</a></button>
<button id="workingInfo" type="button" class="btn btn-light mb-2"><a
    href="/agent/customerDetails/workingInfo/<%= userDetails._id %>"
    style="text-decoration: none; color: black;">Working Info</a></button>
<button id="emergencyContactInfo" type="button" class="btn btn-light mb-2"><a
    href="/agent/customerDetails/emergencyContactInfo/<%= userDetails._id %>"
    style="text-decoration: none; color: black;">Emer. Contact</a></button>