<div class="button-edit">
    <a href="/agent/expensesPending"><button id="pending" class="selectionButton">Pending</button></a>
    <a href="/agent/expensesPaid"><button id="paidExpenses" class="selectionButton">
             Paid Expenses</button></a>
    <a href="/agent/expensesBonus"><button id="bonus" class="selectionButton">
            Bonus</button></a>
    <a href="/agent/expensesOverall"><button id="overall" class="selectionButton">
            Overall</button></a>
</div>