<div class="button-edit">
    <a href="/agent/taskNewApplication/newApplication"><button id="newApplication" class="selectionButton">Pending</button></a>
    <a href="/agent/taskNewApplication/approvedApplication"><button id="approvedApplication" class="selectionButton">
            Agent Approved</button></a>
    <a href="/agent/taskNewApplication/rejectedApplication"><button id="rejectedApplication" class="selectionButton">
            Agent Rejected</button></a>
    <a href="/agent/taskNewApplication/loanDisbursedApproved"><button id="loanDisbursedApproved" class="selectionButton">
            Disbursed</button></a>
    <a href="/agent/taskNewApplication/loanDisbursedRejected"><button id="loanDisbursedRejected" class="selectionButton">
            Manager Rejected</button></a>
</div>