	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	

    <meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Responsive HTML5 Template">
	<meta name="author" content="okler.net">

	<!-- Favicon -->
	<link rel="shortcut icon" href="http://128.199.170.141:7000/img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="http://128.199.170.141:7000/img/apple-touch-icon.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="http://128.199.170.141:7000/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://128.199.170.141:7000/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="http://128.199.170.141:7000/vendor/animate/animate.min.css">
	<link rel="stylesheet" href="http://128.199.170.141:7000/vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="http://128.199.170.141:7000/vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="http://128.199.170.141:7000/vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="http://128.199.170.141:7000/vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="http://128.199.170.141:7000/css/theme.css">
	<link rel="stylesheet" href="http://128.199.170.141:7000/css/theme-elements.css">
	<link rel="stylesheet" href="http://128.199.170.141:7000/css/theme-blog.css">
	<link rel="stylesheet" href="http://128.199.170.141:7000/css/theme-shop.css">
		
	<!-- Demo CSS -->


	<!-- Skin CSS -->
	<link rel="stylesheet" href="http://128.199.170.141:7000/css/skins/default.css"> 

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="http://128.199.170.141:7000/css/custom.css">

	<!-- Head Libs -->
	<script src="http://128.199.170.141:7000/vendor/modernizr/modernizr.min.js"></script>
    <style>
        .selectionButton{
            border:1px solid grey; 
            background-color: white; 
            border-radius: 12px; 
            font-size: 15px; 
            padding:5px; 
            width:150px; 
            justify-content: center;
        }
        .selectionButtonSelected{
            border:1px solid grey; 
            border-radius: 12px; 
            color:white; 
            font-size: 15px; 
            padding:5px; 
            width:150px; 
            justify-content: center; 
            background-color: darkblue !important;
        }
    </style>

        

	<!-- Vendor -->
	<script src="http://128.199.170.141:7000/vendor/jquery/jquery.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/jquery.appear/jquery.appear.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/jquery.cookie/jquery.cookie.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/popper/umd/popper.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/common/common.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/jquery.validation/jquery.validate.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/jquery.gmap/jquery.gmap.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/isotope/jquery.isotope.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/owl.carousel/owl.carousel.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/vide/jquery.vide.min.js"></script>
	<script src="http://128.199.170.141:7000/vendor/vivus/vivus.min.js"></script>
		
	<!-- Theme Base, Components and Settings -->
	<script src="http://128.199.170.141:7000/js/theme.js"></script>
		
	<!-- Theme Custom -->
	<script src="http://128.199.170.141:7000/js/custom.js"></script>
		
	<!-- Theme Initialization Files -->
	<script src="http://128.199.170.141:7000/js/theme.init.js"></script>