<% var URL = "http://128.199.170.141:7000" %>

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Porto - Responsive HTML5 Template">
<meta name="author" content="okler.net">

<!-- Favicon -->
<link rel="shortcut icon" href="<% URL %>/img/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="<% URL %>/img/apple-touch-icon.png">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

<!-- Web Fonts  -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet"
	type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="<% URL %>/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="<% URL %>/vendor/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="<% URL %>/vendor/animate/animate.min.css">
<link rel="stylesheet" href="<% URL %>/vendor/simple-line-icons/css/simple-line-icons.min.css">
<link rel="stylesheet" href="<% URL %>/vendor/owl.carousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="<% URL %>/vendor/owl.carousel/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="<% URL %>/vendor/magnific-popup/magnific-popup.min.css">

<!-- Theme CSS -->
<link rel="stylesheet" href="<% URL %>/css/theme.css">
<link rel="stylesheet" href="<% URL %>/css/theme-elements.css">
<link rel="stylesheet" href="<% URL %>/css/theme-blog.css">
<link rel="stylesheet" href="<% URL %>/css/theme-shop.css">

<!-- Demo CSS -->
<link rel="stylesheet" type="text/css" href="<% URL %>/vendor/dataTables/datatables.css"/>


<!-- Skin CSS -->
<link rel="stylesheet" href="<% URL %>/css/skins/default.css">

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="<% URL %>/css/custom.css">

<!-- Head Libs -->
<script src="<% URL %>/vendor/modernizr/modernizr.min.js"></script>

<!-- Alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<!-- Vendor -->
<script src="<% URL %>/vendor/jquery/jquery.min.js"></script>
<script src="<% URL %>/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="<% URL %>/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="<% URL %>/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="<% URL %>/vendor/popper/umd/popper.min.js"></script>
<script src="<% URL %>/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="<% URL %>/vendor/common/common.min.js"></script>
<script src="<% URL %>/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="<% URL %>/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="<% URL %>/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="<% URL %>/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="<% URL %>/vendor/isotope/jquery.isotope.min.js"></script>
<script src="<% URL %>/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="<% URL %>/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="<% URL %>/vendor/vide/jquery.vide.min.js"></script>
<script src="<% URL %>/vendor/vivus/vivus.min.js"></script>
<script src="<% URL %>/vendor/dataTables/datatables.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="<% URL %>/js/theme.js"></script>

<!-- Theme Custom -->
<script src="<% URL %>/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="<% URL %>/js/theme.init.js"></script>

<script>
	$(document).ready( function () {
		$('.mydatatable').DataTable({
			"sPaginationType": "full_numbers"
		});
	});
</script>