<div class="button-edit">
    <a href="/manager/expensesOverall"><button id="overall" class="selectionButton">
            Overall</button></a>
    <a href="/manager/expensesPending"><button id="pending" class="selectionButton">
            Pending</button></a>
    <a href="/manager/expensesBankedIn"><button id="expensesBankedIn" class="selectionButton">
             Banked In</button></a>
</div>