<form action="#" class="edit-loan-table" id="loan-table">
    <input type="date" class="search-btn skills" name="searchByStartDate" id="searchByStartDate" >
    <input type="date" class="search-btn skills" name="searchByEndDate" id="searchByEndDate">
    <select name="searchByAgent"  class="search-btn skills" placeholder="Agent" style="color:black">
        <option value="Agent" selected>Agent</option>
    </select> 
    <input type="search" class="search-btn skills" name="searchByContact" id="searchByContact" placeholder="Contact No.">   
    <button id="searchButton" class="search-btn-btn" type="button"  style="background-color: darkblue; color: white; box-shadow: none; margin: 2%; border-radius: 12px; border: none; margin-top: 2%; font-size: 15px; width: 100px; height: 32px; ">Search</button>
</form>