<!DOCTYPE html>
<html>

<head>
	<title>Collected</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/agent/report">Report</a> / <a href="/agent/reportCollected">COLLECTED</a></h3>

					<h3>Collected: RM<%= totalCollected %></h3>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>Loan ID</th>
									<th>Customer</th>
									<th>Contact No.</th>
									<th>Loan Type</th>
									<th>Approved On</th>
									<th>Amount</th>
									<th>Duration</th>
									<th>Interest</th>
									<th>Offset</th>
									<th>Disursement</th>
									<th>Collected</th>
									<th>Outstanding</th>
									<th>Overdue(Day)</th>
									<th>Agent</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<allCollected.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
										<!-- <td><%= /* i+1 */ %></td> -->
									<td class="actions" style="color:blue;">
										<a
											href="/agent/reportPaymentRecord/<%= allCollected[i].loanId %>"><%= allCollected[i].loanId %></a>
									</td>
									<td class="actions">
										<a
											href="/agent/customerDetails/personalInfo/<%= allCollected[i].userId %>"><%= allCollected[i].username %></a>
									</td>
									<td><%= allCollected[i].phoneNumber %></td>
									<td><%= allCollected[i].loanType %></td>
									<td><%= allCollected[i].approvedOn %></td>
									<td><%= allCollected[i].amount %></td>
									<td><%= allCollected[i].duration %></td>
									<td><%= allCollected[i].interest %></td>
									<td><%= allCollected[i].offset %></td>
									<td><%= allCollected[i].disbursement %></td>
									<td><%= allCollected[i].collected %></td>
									<td><%= allCollected[i].outstanding %></td>
									<td><%= allCollected[i].overdue %></td>
									<td><%= allCollected[i].agent %></td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>