<!DOCTYPE html>
<html>

<head>
    <title>Search Table</title>
    <% include ../../partion/header.ejs %>
    <style>
    </style>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeader.ejs %>
        <div style="padding-top: 15%;" role="main">
                <div class="container2">
                    <div class="padding2">
                        <h3><a href="/agent/setting">Report</a> / <a href="/agent/reportLendOut">Lend Out</a>
                        </h3>
                        <h3>Lend Out: RM<%= totalLendOut %></h3>
                        <div style="overflow-x:auto;">
                            <table class="table table-bordered mydatatable">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="checkbox"></th>
                                        <th>Loan ID</th>
                                        <th>Customer</th>
                                        <th>Contact No.</th>
                                        <th>Loan Type</th>
                                        <th>Approved On</th>
                                        <th>Amount</th>
                                        <th>Duration</th>
                                        <th>Interest</th>
                                        <th>Offset</th>
                                        <th>Disursement</th>
                                        <th>Collected</th>
                                        <th>Outstanding</th>
                                        <th>Agent</th>

                                    </tr>
                                </thead>
                                <tbody>
                                <% for (let i=0; i<allLendOut.length; i++){%>
                                    <tr>
                                        <td><input type="checkbox" name="checkbox">
                                            <!-- <td><%= /* i+1 */ %></td> -->
                                        <td class="actions" style="color:blue;">
                                            <a href="/agent/reportPaymentRecord/<%= allLendOut[i].loanId %>"><%= allLendOut[i].loanId %></a>
                                        </td>
                                        <td class="actions">
                                            <a href="/agent/customerDetails/personalInfo/<%= allLendOut[i].userId %>"><%= allLendOut[i].username %></a>
                                        </td>
                                        <td><%= allLendOut[i].phoneNumber %></td>
                                        <td><%= allLendOut[i].loanType %></td>
                                        <td><%= allLendOut[i].approvedOn %></td>
                                        <td><%= allLendOut[i].amount %></td>
                                        <td><%= allLendOut[i].duration %></td>
                                        <td><%= allLendOut[i].interest %></td>
                                        <td><%= allLendOut[i].offset %></td>
                                        <td><%= allLendOut[i].disbursement %></td>
                                        <td><%= allLendOut[i].collected %></td>
                                        <td><%= allLendOut[i].outstanding %></td>
                                        <td><%= allLendOut[i].agent %></td>

                                    </tr>

                                <% } %>
                            </tbody>

                                <!-- <tbody>
                                        <tr id="total">
                                            <td></td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td></td>
                                            <td></td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>899.99</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody> -->
                            </table>
                        </div>
                    </div>
                    

                </div>
            

        </div>
    </div>
</body>

</html>

<script>

    $(window).on('load', function () {
        var url = window.location.href
        url.includes("/agent/dashboard") ? document.getElementById("headerHome").classList.add('active') :
            url.includes("/agent/task") ? document.getElementById("headerTask").classList.add('active') :
                url.includes("/agent/customer") ? document.getElementById("headerCustomer").classList.add('active') :
                    url.includes("/agent/report") ? document.getElementById("headerReport").classList.add('active') :
                        url.includes("/agent/expenses") ? document.getElementById("headerExpenses").classList.add('active') :
                            url.includes("/agent/setting") ? document.getElementById("headerSetting").classList.add('active') :
                                "";
    })

    var url = window.location.href
    function queryStringToJSON(queryString) {
        if (queryString.indexOf('?') > -1) {
            queryString = queryString.split('?')[1];
        }
        var pairs = queryString.split('&');
        var result = {};
        pairs.forEach(function (pair) {
            pair = pair.split('=');
            result[pair[0]] = decodeURIComponent(pair[1] || '');
        });
        return result;
    }
    // function loadPage(page,show){
    //     var searchByUsername = document.getElementById("searchByUsername").value;
    //     var searchByIc = document.getElementById("searchByIc").value;
    //     var searchByContact = document.getElementById("searchByContact").value;
    //     var searchByDayOverdue = document.getElementById("searchByDayOverdue").value;
    //     var url = window.location.href
    //     url = url.indexOf("&") > 0 ? url.substring(0,url.indexOf("&")) : url
    //     url = url + "&searchByUsername=" + searchByUsername + "&searchByIc=" + searchByIc + "&searchByContact=" + searchByContact + "&searchByDayOverdue=" + searchByDayOverdue + "&show=" + show + "&page=" + page;
    // 	window.location.replace(url);
    // }
    function showButton(show) {
        var searchByUsername = document.getElementById("searchByUsername").value;
        var searchByIc = document.getElementById("searchByIc").value;
        var searchByContact = document.getElementById("searchByContact").value;
        var searchByDayOverdue = document.getElementById("searchByDayOverdue").value;
        var url = window.location.href
        url = url.indexOf("&") > 0 ? url.substring(0, url.indexOf("&")) : url
        url = url + "&searchByUsername=" + searchByUsername + "&searchByIc=" + searchByIc + "&searchByContact=" + searchByContact + "&searchByDayOverdue=" + searchByDayOverdue + "&show=" + show;
        window.location.replace(url);
    }

    // function previousButton(){
    // 	let queryStringJson = queryStringToJSON(url);
    // 	let page = queryStringJson.page ? queryStringJson.page : 1
    // 	let show = queryStringJson.show ? queryStringJson.show : 10
    // 	loadPage(--page,show)
    // }

    // function nextButton(){
    // 	let queryStringJson = queryStringToJSON(url);
    // 	let page = queryStringJson.page ? queryStringJson.page : 1
    // 	let show = queryStringJson.show ? queryStringJson.show : 10
    // 	loadPage(++page,show)
    // }

    // function pageButton(page){
    // 	let queryStringJson = queryStringToJSON(url);
    // 	let show = queryStringJson.show ? queryStringJson.show : 10
    // 	loadPage(page,show)
    // }

    $(window).on('load', function () {
        var url = window.location.href

        let queryStringJson = queryStringToJSON(url);
        // let page = queryStringJson.page ? queryStringJson.page : 1
        // let show = queryStringJson.show ? queryStringJson.show : 10
        // document.getElementById("page_"+page).classList.add('active')
        // document.getElementById("show"+show).classList.add('active')
        // $('#show').val(show);
    })
</script>