<!DOCTYPE html>
<html>

<head>
	<title>Payment Record</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/agent/report">Report</a> / <a href="/agent/reportLendOut">Lend Out</a></h3>

					<h3>Payment Record (loan ID: <%= loanId %>) <p class="tab">Disbursement: RM<%= disbursement %></p>
						<p class="tab">Outstanding: RM<%= outstanding %></p>
					</h3>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>No.</th>
									<th>Payment ID</th>
									<th>Status</th>
									<th>Agent</th>
									<th>Installment</th>
									<th>Payment Due Date</th>
									<th>Paid</th>
									<th>Paid On</th>
									<th>Paymnet</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<allPaymentRecord.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
									<td><%= i+1 %></td>
									<td><%= allPaymentRecord[i].paymentId %></td>
									<td><%= allPaymentRecord[i].status %></td>
									<td><%= allPaymentRecord[i].agent %></td>
									<td><%= allPaymentRecord[i].installment %></td>
									<td><%= allPaymentRecord[i].paymentDueDate %></td>
									<td><%= allPaymentRecord[i].amount %></td>
									<td style="color:green"><%= allPaymentRecord[i].createdAt %></td>
									<!-- <td><%= "Check" %></td> -->
									<td class="actions" style="color:lightblue;">
										<a
											href="/agent/reportPaymentRecord/<%= loanId %>/<%= allPaymentRecord[i].paymentId%>">Check</a>
									</td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>

				<!-- modal -->
				<div class="row align-items-center">
					<div class="col-sm-9">

						<div class="modal fade show paymentProofModal" id="myModal" data-backdrop="static"
							data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
							aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
									<div class="modal-header">
										<h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Receipt
										</h4>
										<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
									</div>

									<div class="modal-body">

										<form id="demo-form" class="mb-4" novalidate="novalidate">

											<div class="form-group row">
												<label class="col-sm-12 text-left text-sm-center mb-0"
													style="color: black;">Receipt Preview</label>

												<img id="image" style="width:70%;height: auto;"
													<% if(allPaymentRecord.lengh > 0){%>
													src="<%= (allPaymentRecord[0].paymentProof && allPaymentRecord[0].paymentProof.substring(0, 4) != "http") ? "http://" + allPaymentRecord[0].paymentProof : allPaymentRecord[0].paymentProof %>"
													<% }else{ %> src="http://128.199.170.141:7000/img/no-image.jpg"
													<% } %> />

											</div>

											<div class="modal-footer">
												<a href="/agent/report" type="button" class="btn btn-light">Close</a>
											</div>
										</form>
									</div>
									<!-- <div class="modal-footer">
                                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save Changes</button>
                                        </div> -->
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>


		</div>
	</div>
</body>

</html>
<script>
	$(window).on('load', function () {
		if ("<%= paymentProofModal %>" == "true") {
			$('.paymentProofModal').modal('show');
		} else {

		}
	});
</script>