<!DOCTYPE html>
<html>

<head>
	<title>Principal Record</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/agent/report">Report</a> / <a href="/agent/reportPrincipal">Principal</a></h3>

					<table style="width: 100%">
						<th>
							<h3>Lend Out: RM<%= '5000.00' %></h3>
						</th>
						<th>
							<h3>Expenses: RM<%= '200.00' %></h3>
						</th>
						<th>
							<h3>Bonus: RM<%= '100.00' %></h3>
						</th>
						<th>
							<h3>Principal: RM<%= '5000.00' %></h3>
						</th>
					</table>

					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>ID</th>
									<th>Category</th>
									<th>Remark</th>
									<th>Expenses Receipt</th>
									<th>Status</th>
									<th>Amount</th>
									<th>Principal</th>
									<th>Pending Started</th>
									<th>Paid On</th>
									<th>Receipt</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<1; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
										<!-- <td><%= /* i+1 */ %></td> -->
									<td>001</td>
									<td>Bonus</td>
									<td>Performance Bonus</td>
									<td>Check</td>
									<td>Banked In</td>
									<td>100.00</td>
									<td>5000.00</td>
									<td>May 25th, 2019</td>
									<td>May 25th, 2019</td>
									<td>Check</td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>