<!DOCTYPE html>
<html>

<head>
	<title>Principal</title>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">
					<h3><a href="/agent/report">Report</a> / <a href="/agent/reportPrincipal">Principal</a></h3>

					<h3>Principal: RM<%= /* '5000.00' */ %></h3>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkbox"></th>
									<th>No.</th>
									<th>Agent</th>
									<th>Position</th>
									<th>Sub. Agent/Agent</th>
									<th>Lend Out</th>
									<th>Expenses</th>
									<th>Bonus</th>
									<th>Principal</th>
									<th>Status</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<0; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
									<td><%= i+1 %></td>
									<td>James Wong</td>
									<td>Sub Agent</td>
									<td>Jerry Wong</td>
									<td>1500.00</td>
									<td>200.00</td>
									<td>100.00</td>
									<td>5000.00</td>
									<td>Active</td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>