<!DOCTYPE html>
<html>

<head>
	<% include ../../partion/header.ejs %>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<!-- <form action="#" class="search-nav-form">
					<div class="caption">
						<caption><b>Customer</b></caption>
					</div>
						<input type="search" class="search-btn skills" name="customer" id="customer" placeholder="Customer">
						<input type="search" class="search-btn skills" name="ic" id="ic" placeholder="IC No.">
						<input type="search" class="search-btn skills" name="contact" id="contact" placeholder="Contact No.">
						<input type="search" class="search-btn skills" name="overdue" id="overdue" placeholder="Overdue Day">
						<select name="paid" style="width: 200px; height: 32px; border: 1px solid grey; margin: 20px;">
							<option value="select">Paid (%)</option>
						</select>
						<button class="search-btn-btn" type="button"  style="background-color: darkblue; color: white; box-shadow: none; border-radius: 12px; border: none; font-size: 15px; width: 200px; height: 32px;">Search</button>
				</form> -->
		<div role="main" class="main">

			<div class="container py-2">

				<div class="row mb-4 pb-3">
					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/agent/reportPerformance"><img class="card-img-top"
									src="../img/icon/r1-agent-performance.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Agent Performance</h4>
								<p><b><%= valueOfEachReport.agentPerformance %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/agent/reportPrincipal"><img class="card-img-top"
									src="../img/icon/r2-principal.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Principal(RM)</h4>
								<p><b><%= valueOfEachReport.principal %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/agent/reportLendOut"><img class="card-img-top" src="../img/icon/r3-lend-out.png"
									alt="Card Image"></a>
							<div class="card-body">
								<h4>Lend Out(RM)</h4>
								<p><b><%= valueOfEachReport.lendOut %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/agent/reportCollected"><img class="card-img-top"
									src="../img/icon/r4-collected.png" alt="Card Image"
									style="width: 210px; height:200px;"></a>
							<div class="card-body">
								<h4>Collected(RM)</h4>
								<p>
									<p><b><%= valueOfEachReport.collected %></b></p>
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="/agent/reportOutstanding"><img class="card-img-top"
									src="../img/icon/r5-outstanding.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Outstanding(RM)</h4>
								<p><b><%= valueOfEachReport.outstanding %></b></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
</body>

</html>