<!DOCTYPE html>
<html>

<head>
	<title>Working Info</title>
	<% include ../../partion/header.ejs %>
	<style>
		.selectionButtonSelected {
			border: 1px solid grey;
			border-radius: 12px;
			color: white;
			font-size: 15px;
			padding: 5px;
			width: 150px;
			justify-content: center;
			background-color: lightblue !important;
		}
	</style>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<div role="main" class="main">

			<div class="container py-2">
				<div class="row">
					<div class="col">
						<div class="row align-items-center">
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								<% /* include ../../partion/agentCustomerInfoHeader.ejs */ %>
							</div>
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								<% include ../../partion/agentCustomerInfoHeader2.ejs %>
								<script>
									document.getElementById("workingInfo").classList.add('selectionButtonSelected');
								</script>
							</div>
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								<select class="form-control form-control-lg mb-3 text-2"
									style="width: 100px; float: right;">
									<!-- <option>#</option>
									<option>#</option>
									<option>#</option> -->
								</select>
								<button type="button" class="btn btn-light mb-2" style="float: right; border: none;">Add
									Loan</button>
							</div>
						</div>
						<div class="col-lg-9 order-1 order-lg-2"
							style="margin-left: auto; margin-right: auto; background-color: lightgray;">
							<br>
							<form id="contactForm" class="contact-form" action="#" method="POST">
								<div class="contact-form-success alert alert-success d-none mt-4" id="contactSuccess">
									<strong>Success!</strong>
								</div>

								<div class="contact-form-error alert alert-danger d-none mt-4" id="contactError">
									<strong>Error!</strong> There was an error.
									<span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
								</div>
								<div class="form-row">
									<div class="col-sm-6">
										<button type="button" class="btn btn-rounded btn-light mb-2"
											style="float: right;"><a href="customer_working_info.html"
												style="text-decoration: none; color: black;">Working Info</a></button>
									</div>
									<div class="col-lg-6">
										<button disabled type="button" class="btn btn-rounded btn-light mb-2"><a
												href="customer_company_info.html"
												style="text-decoration: none; color: black;">Company Info</a></button>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Company Name</label>
										<input type="text" value="<%= userDetails.companyName %>"
											data-msg-required="Please enter the company name." maxlength="100"
											class="form-control" name="companyname" id="companyname" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Position</label>
										<input type="text" value="<%= userDetails.position %>"
											data-msg-required="Please enter the position." maxlength="100"
											class="form-control" name="position" id="position" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Income</label>
										<input type="text" value="<%= userDetails.monthlyIncome %>"
											data-msg-required="Please enter the income." maxlength="100"
											class="form-control" name="income" id="income" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Company Contact</label>
										<input type="text" value="<%= userDetails.companyContactNumber %>"
											data-msg-required="Please enter the contact." maxlength="100"
											class="form-control" name="contact" id="contact" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Company Address</label>
										<textarea maxlength="5000" data-msg-required="Please enter your message."
											rows="8" class="form-control" name="message" id="message"
											required><%= userDetails.companyAddress %></textarea>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-lg-4">
										<label class=" font-weight-bold text-dark text-2">Poscode</label>
										<input type="text" value="<%= userDetails.companyPostcode %>"
											data-msg-required="Please enter the subject." maxlength="100"
											class="form-control" name="poscode" id="subject" required>
									</div>
									<div class="form-group col-lg-4">
										<label class=" font-weight-bold text-dark text-2">City</label>
										<input type="text" value="<%= userDetails.companyCity %>"
											data-msg-required="Please enter the subject." maxlength="100"
											class="form-control" name="city" id="subject" required>
									</div>
									<div class="form-group col-lg-4">
										<label class=" font-weight-bold text-dark text-2">State</label>
										<select class="form-control form-control-lg mb-3 text-2">
											<option value="Kuala Lumpur"
												<%- userDetails.companyState== "Kuala Lumpur" ? selected="selected" : "" %>>
												Kuala Lumpur</option>
											<option value="Selangor"
												<%- userDetails.companyState== "Selangor" ? selected="selected" : "" %>>
												Selangor</option>
											<option value="Penang"
												<%- userDetails.companyState== "Penang" ? selected="selected" : "" %>>
												Penang</option>
											<option value="Johor"
												<%- userDetails.companyState== "Johor" ? selected="selected" : "" %>>
												Johor</option>
											<option value="Negeri Sembilan"
												<%- userDetails.companyState== "Negeri Sembilan" ? selected="selected" : "" %>>
												Negeri Sembilan</option>
											<option value="Pahang"
												<%- userDetails.companyState== "Pahang" ? selected="selected" : "" %>>
												Pahang</option>
											<option value="Malacca"
												<%- userDetails.companyState== "Malacca" ? selected="selected" : "" %>>
												Malacca</option>
											<option value="Perak"
												<%- userDetails.companyState== "Perak" ? selected="selected" : "" %>>
												Perak</option>
											<option value="Kelantan"
												<%- userDetails.companyState== "Kelantan" ? selected="selected" : "" %>>
												Kelantan</option>
											<option value="Terengganu"
												<%- userDetails.companyState== "Terengganu" ? selected="selected" : "" %>>
												Terengganu</option>
											<option value="Kedah"
												<%- userDetails.companyState== "Kedah" ? selected="selected" : "" %>>
												Kedah</option>
											<option value="Perlis"
												<%- userDetails.companyState== "Perlis" ? selected="selected" : "" %>>
												Perlis</option>
											<option value="Sabah"
												<%- userDetails.companyState== "Sabah" ? selected="selected" : "" %>>
												Sabah</option>
											<option value="Sarawak"
												<%- userDetails.companyState== "Sarawak" ? selected="selected" : "" %>>
												Sarawak</option>
											<option value="Labuan"
												<%- userDetails.companyState== "Labuan" ? selected="selected" : "" %>>
												Labuan</option>
										</select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-lg-4">
										<label class="font-weight-bold text-dark text-2">Salary/Paid Slip</label>
										<div class="fileupload fileupload-new" data-provides="fileupload">
											<img id="image" style="width:70%;height: auto;"
											<% if(userDetails.payslip[0]) {%>
												src="<%= (userDetails.payslip[0] && userDetails.payslip[0].value.substring(0, 4) != "http") ? "http://" + userDetails.payslip[0].value : "" %>" 
												<% }else{ %>
													src="http://128.199.170.141:7000/img/no-image.jpg"
												<% } %>
											/>
											<!-- <div class="input-append">
													<div class="uneditable-input">
														<span class="fileupload-preview"></span>
													</div>
													<span class="btn btn-default btn-file" style="width: 200px;">
														<span class="fileupload-exists">Change</span>
														<span class="fileupload-new">Select file</span>
														<input type="file" />
													</span>
													<a href="#" class="btn btn-default fileupload-exists"
														data-dismiss="fileupload">Remove</a>
												</div> -->
										</div>
									</div>
									<div class="form-group col-lg-4">
										<label class="font-weight-bold text-dark text-2">Salary/Paid Slip</label>
										<div class="fileupload fileupload-new" data-provides="fileupload">
											<img id="image" style="width:70%;height: auto;"
											<% if(userDetails.payslip[1]) {%>
												src="<%= (userDetails.payslip[1] && userDetails.payslip[1].value.substring(0, 4) != "http") ? "http://" + userDetails.payslip[1].value : "" %>"
												<% }else{ %>
													src="http://128.199.170.141:7000/img/no-image.jpg"
												<% } %>
											/>
											<!-- <div class="input-append">
														<div class="uneditable-input">
															<span class="fileupload-preview"></span>
														</div>
														<span class="btn btn-default btn-file" style="width: 200px;">
															<span class="fileupload-exists">Change</span>
															<span class="fileupload-new">Select file</span>
															<input type="file" />
														</span>
														<a href="#" class="btn btn-default fileupload-exists"
															data-dismiss="fileupload">Remove</a>
													</div> -->
										</div>
									</div>
									<div class="form-group col-lg-4">
										<label class="font-weight-bold text-dark text-2">Salary/Paid Slip</label>
										<div class="fileupload fileupload-new" data-provides="fileupload">
											<img id="image" style="width:70%;height: auto;"
											<% if(userDetails.payslip[2]) {%>
												src="<%= (userDetails.payslip[2] && userDetails.payslip[2].value.substring(0, 4) != "http") ? "http://" + userDetails.payslip[2].value : "" %>"
												<% }else{ %>
													src="http://128.199.170.141:7000/img/no-image.jpg"
												<% } %>
											/>
											<!-- <div class="input-append">
														<div class="uneditable-input">
															<span class="fileupload-preview"></span>
														</div>
														<span class="btn btn-default btn-file" style="width: 200px;">
															<span class="fileupload-exists">Change</span>
															<span class="fileupload-new">Select file</span>
															<input type="file" />
														</span>
														<a href="#" class="btn btn-default fileupload-exists"
															data-dismiss="fileupload">Remove</a>
													</div> -->
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-lg-4">
											<label class="font-weight-bold text-dark text-2">EPF Statement</label>
											<div class="fileupload fileupload-new" data-provides="fileupload">
												<img id="image" style="width:70%;height: auto;"
												<% if(userDetails.EPFStatement[0]) {%>
													src="<%= (userDetails.EPFStatement[0] && userDetails.EPFStatement[0].value.substring(0, 4) != "http") ? "http://" + userDetails.EPFStatement[0].value : "" %>"
													<% }else{ %>
														src="http://128.199.170.141:7000/img/no-image.jpg"
													<% } %>
												/>
												<!-- <div class="input-append">
														<div class="uneditable-input">
															<span class="fileupload-preview"></span>
														</div>
														<span class="btn btn-default btn-file" style="width: 200px;">
															<span class="fileupload-exists">Change</span>
															<span class="fileupload-new">Select file</span>
															<input type="file" />
														</span>
														<a href="#" class="btn btn-default fileupload-exists"
															data-dismiss="fileupload">Remove</a>
													</div> -->
											</div>
										</div>
										<div class="form-group col-lg-4">
											<label class="font-weight-bold text-dark text-2">EPF Statement</label>
											<div class="fileupload fileupload-new" data-provides="fileupload">
												<img id="image" style="width:70%;height: auto;"
												<% if(userDetails.EPFStatement[1]) {%>
													src="<%= (userDetails.EPFStatement[1] && userDetails.EPFStatement[1].value.substring(0, 4) != "http") ? "http://" + userDetails.EPFStatement[1].value : "" %>"
													<% }else{ %>
														src="http://128.199.170.141:7000/img/no-image.jpg"
													<% } %>
												/>
												<!-- <div class="input-append">
														<div class="uneditable-input">
															<span class="fileupload-preview"></span>
														</div>
														<span class="btn btn-default btn-file" style="width: 200px;">
															<span class="fileupload-exists">Change</span>
															<span class="fileupload-new">Select file</span>
															<input type="file" />
														</span>
														<a href="#" class="btn btn-default fileupload-exists"
															data-dismiss="fileupload">Remove</a>
													</div> -->
											</div>
										</div>
										<div class="form-group col-lg-4">
											<label class="font-weight-bold text-dark text-2">EPF Statement</label>
											<div class="fileupload fileupload-new" data-provides="fileupload">
												<img id="image" style="width:70%;height: auto;"
												<% if(userDetails.EPFStatement[2]) {%>
													src="<%= (userDetails.EPFStatement[2] && userDetails.EPFStatement[2].value.substring(0, 4) != "http") ? "http://" + userDetails.EPFStatement[2].value : "" %>"
													<% }else{ %>
														src="http://128.199.170.141:7000/img/no-image.jpg"
													<% } %>
												/>
												<!-- <div class="input-append">
														<div class="uneditable-input">
															<span class="fileupload-preview"></span>
														</div>
														<span class="btn btn-default btn-file" style="width: 200px;">
															<span class="fileupload-exists">Change</span>
															<span class="fileupload-new">Select file</span>
															<input type="file" />
														</span>
														<a href="#" class="btn btn-default fileupload-exists"
															data-dismiss="fileupload">Remove</a>
													</div>
											</div> -->
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-lg-12">
												<label class="font-weight-bold text-dark text-2">Offer Letter</label>
												<div class="fileupload fileupload-new" data-provides="fileupload">
													<img id="image" style="width:70%;height: auto;"
													<% if(userDetails.companyOfferLetter[0]) {%>
														src="<%= (userDetails.companyOfferLetter[0] && userDetails.companyOfferLetter[0].value.substring(0, 4) != "http") ? "http://" + userDetails.companyOfferLetter[0].value : "" %>" 
														<% }else{ %>
															src="http://128.199.170.141:7000/img/no-image.jpg"
														<% } %>
													/>
													<!-- <div class="input-append">
														<div class="uneditable-input">
															<span class="fileupload-preview"></span>
														</div>
														<span class="btn btn-default btn-file" style="width: 200px;">
															<span class="fileupload-exists">Change</span>
															<span class="fileupload-new">Select file</span>
															<input type="file" />
														</span>
														<a href="#" class="btn btn-default fileupload-exists"
															data-dismiss="fileupload">Remove</a>
													</div> -->
												</div>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-lg-12">
												<!-- <label class="font-weight-bold text-dark text-2">Status</label>
											<select class="form-control form-control-lg mb-3 text-2">
												<option>Agent Approved</option>
												<option>Option 2</option>
												<option>Option 3</option>
											</select> -->
											</div>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-lg-6">
										<a href="/agent/taskNewApplication/rejectingLoan/<%= loanId %>"
											class="btn btn-danger btn-modern" style="float: right;">Reject</a>
									</div>
									<div class="form-group col-lg-6">
										<a href="/agent/taskNewApplication/customerDetails/emergencyContactInfo/<%= userDetails._id %>/<%= loanId %>"
											class="btn btn-primary btn-modern" style="color:white;">Next</a>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>

</body>

</html>