<!DOCTYPE html>
<html>

<head>

    <title>Personal residentialInfo</title>
    <% include ../../partion/header.ejs %>
    <style>
        .selectionButtonSelected {
            border: 1px solid grey;
            border-radius: 12px;
            color: white;
            font-size: 15px;
            padding: 5px;
            width: 150px;
            justify-content: center;
            background-color: lightblue !important;
        }
    </style>

</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeaderManager.ejs %>

        <div role="main" class="main">

            <div class="container py-2">
                <div class="row">
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-9">
                                <% /* include ../../partion/managerCustomerInfoHeader.ejs */ %>
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-9">
                                <% include ../../partion/managerCustomerDetailsViewHeader.ejs %>
                                <script>
                                    document.getElementById("personalInfo").classList.add('selectionButtonSelected');
                                </script>
                            </div>
                        </div>
                        <div class="col-lg-9 order-1 order-lg-2"
                            style="margin-left: auto; margin-right: auto; background-color: lightgray;">
                            <br>
                            <form id="contactForm" class="contact-form" action="#" method="POST">
                                <div class="contact-form-success alert alert-success d-none mt-4" id="contactSuccess">
                                    <strong>Success!</strong> Your message has been sent to us.
                                </div>

                                <div class="contact-form-error alert alert-danger d-none mt-4" id="contactError">
                                    <strong>Error!</strong> There was an error sending your message.
                                    <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class=" font-weight-bold text-dark text-2">Full Name</label>
                                        <input type="text" data-msg-required="Please enter your name."
                                            class="form-control" name="name" id="name"
                                            value="<%= userDetails.username %>" readonly>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class=" font-weight-bold text-dark text-2">Ic No.</label>
                                        <input type="text" data-msg-required="Please enter your ic." maxlength="100"
                                            class="form-control" name="ic" id="ic" value="<%= userDetails.ic %>"
                                            readonly>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <label class=" font-weight-bold text-dark text-2">Race</label>
                                        <input type="text" data-msg-required="Please enter the subject." maxlength="100"
                                            class="form-control" name="subject" id="subject"
                                            value="<%= userDetails.race %>" readonly>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class=" font-weight-bold text-dark text-2">Gender</label>
                                        <select class="form-control form-control-lg mb-3 text-2">
                                            <option value="male"
                                                <%- userDetails.gender && userDetails.gender.toLowerCase() == "male" ? selected="selected" : "" %>>
                                                Male</option>
                                            <option value="female"
                                                <%- userDetails.gender && userDetails.gender.toLowerCase() == "female" ? selected="selected" : "" %>>
                                                Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <label class="font-weight-bold text-dark text-2">Education</label>
                                        <select class="form-control form-control-lg mb-3 text-2">
                                            <option value="High school below"
                                                <%- userDetails.education== "High school below" ? selected="selected" : "" %>>
                                                High school below</option>
                                            <option value="High school"
                                                <%- userDetails.education== "High school" ? selected="selected" : "" %>>
                                                High school</option>
                                            <option value="College"
                                                <%- userDetails.education== "College" ? selected="selected" : "" %>>
                                                College</option>
                                            <option value="Undergraduate"
                                                <%- userDetails.education== "Undergraduate" ? selected="selected" : "" %>>
                                                Undergraduate</option>
                                            <option value="Master / Degree"
                                                <%- userDetails.education== "Master / Degree" ? selected="selected" : "" %>>
                                                Master / Degree</option>
                                            <option value="Doctor"
                                                <%- userDetails.education== "Doctor" ? selected="selected" : "" %>>
                                                Doctor</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="font-weight-bold text-dark text-2">Martial Status</label>
                                        <select class="form-control form-control-lg mb-3 text-2">
                                            <option value="Single"
                                                <%- userDetails.marriage== "Single" ? selected="selected" : "" %>>Single
                                            </option>
                                            <option value="Married and educated"
                                                <%- userDetails.marriage== "Married and educated" ? selected="selected" : "" %>>
                                                Married and educated</option>
                                            <option value="Married and not educated"
                                                <%- userDetails.marriage== "Married and not educated" ? selected="selected" : "" %>>
                                                Married and not educated</option>
                                            <option value="Divorced"
                                                <%- userDetails.marriage== "Divorced" ? selected="selected" : "" %>>
                                                Divorced</option>
                                            <option value="Other"
                                                <%- userDetails.marriage== "Other" ? selected="selected" : "" %>>Other
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-4">
                                        <label class="font-weight-bold text-dark text-2">Front view of IC</label>
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <img id="image" style="width:70%;height: auto;"
                                                <% if(userDetails.frontICUrl && userDetails.frontICUrl.value) {%>
                                                    src="<%= (userDetails.frontICUrl && userDetails.frontICUrl.value.substring(0, 4) != "http") ? "http://" + userDetails.frontICUrl.value : userDetails.frontICUrl.value %>"
                                                <% }else{ %>
                                                    src="http://128.199.170.141:7000/img/no-image.jpg"
                                                <% } %>
                                            />
                                            <!-- <div class="input-append">
                                                <div class="uneditable-input">
                                                    <span class="fileupload-preview"></span>
                                                </div>
                                                <span class="btn btn-default btn-file" style="width: 200px;">
                                                    <span class="fileupload-exists">Change</span>
                                                    <span class="fileupload-new">Select file</span>
                                                    <input type="file" />
                                                </span>
                                                <a href="#" class="btn btn-default fileupload-exists"
                                                    data-dismiss="fileupload">Remove</a>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label class="font-weight-bold text-dark text-2">Back view of IC</label>
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <img id="image" style="width:70%;height: auto;"
                                                <% if(userDetails.backICUrl && userDetails.backICUrl.value) {%>
                                                    src="<%= (userDetails.backICUrl && userDetails.backICUrl.value.substring(0, 4) != "http") ? "http://" + userDetails.backICUrl.value : userDetails.backICUrl.value %>"
                                                <% }else{ %>
                                                    src="http://128.199.170.141:7000/img/no-image.jpg"
                                                <% } %>
                                            />
                                                <!-- <div class="input-append">
                                                <div class="uneditable-input">
                                                    <span class="fileupload-preview"></span>
                                                </div>
                                                <span class="btn btn-default btn-file" style="width: 200px;">
                                                    <span class="fileupload-exists">Change</span>
                                                    <span class="fileupload-new">Select file</span>
                                                    <input type="file" />
                                                </span>
                                                <a href="#" class="btn btn-default fileupload-exists"
                                                    data-dismiss="fileupload">Remove</a>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label class="font-weight-bold text-dark text-2">Profile Picture</label>
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <img id="image" style="width:70%;height: auto;"
                                                <% if(userDetails.profilePictureUrl && userDetails.profilePictureUrl.value) {%>
                                                    src="<%= (userDetails.profilePictureUrl && userDetails.profilePictureUrl.value.substring(0, 4) != "http") ? "http://" + userDetails.profilePictureUrl.value : userDetails.profilePictureUrl.value %>"
                                                <% }else{ %>
                                                    src="http://128.199.170.141:7000/img/no-image.jpg"
                                                <% } %>
                                            />
                                                <!-- <div class="input-append">
                                                <div class="uneditable-input">
                                                    <span class="fileupload-preview"></span>
                                                </div>
                                                <span class="btn btn-default btn-file" style="width: 200px;">
                                                    <span class="fileupload-exists">Change</span>
                                                    <span class="fileupload-new">Select file</span>
                                                    <input type="file" />
                                                </span>
                                                <a href="#" class="btn btn-default fileupload-exists"
                                                    data-dismiss="fileupload">Remove</a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <label class="font-weight-bold text-dark text-2">Status</label>
                                        <select class="form-control form-control-lg mb-3 text-2">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                    </div>
                                </div>
								<div class="form-row" >
									<div class="form-group col-lg-6" >
                                        <a href="/manager/customer" class="btn btn-danger btn-modern" style="float: right;">Back</a>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <a href="/manager/customerDetails/residentialInfo/<%= userDetails._id %>" class="btn btn-primary btn-modern" style="color:white;">Next</a>
                                    </div>
								</div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>