<!DOCTYPE html>
<html>

<head>

	<title>Residential Info</title>
	<% include ../../partion/header.ejs %>
	<style>
		.selectionButtonSelected {
			border: 1px solid grey;
			border-radius: 12px;
			color: white;
			font-size: 15px;
			padding: 5px;
			width: 150px;
			justify-content: center;
			background-color: lightblue !important;
		}
	</style>

</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>
		<div role="main" class="main">

			<div class="container py-2">
				<div class="row">
					<div class="col">
						<div class="row align-items-center">
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								<% /* include ../../partion/managerCustomerInfoHeader.ejs */ %>
							</div>
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								<% include ../../partion/managerCustomerDetailsViewHeader.ejs %>
								<script>
									document.getElementById("residentialInfo").classList.add('selectionButtonSelected');
								</script>
							</div>
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								<select class="form-control form-control-lg mb-3 text-2"
									style="width: 100px; float: right;">
									<option>Option 1</option>
									<option>Option 2</option>
									<option>Option 3</option>
								</select>
								<button type="button" class="btn btn-light mb-2" style="float: right; border: none;">Add
									Loan</button>
							</div>
						</div>
						<div class="col-lg-9 order-1 order-lg-2"
							style="margin-left: auto; margin-right: auto; background-color: lightgray;">
							<br>
							<form id="contactForm" class="contact-form" action="#" method="POST">
								<div class="contact-form-success alert alert-success d-none mt-4" id="contactSuccess">
									<strong>Success!</strong> Your message has been sent to us.
								</div>

								<div class="contact-form-error alert alert-danger d-none mt-4" id="contactError">
									<strong>Error!</strong> There was an error sending your message.
									<span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
								</div>

								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Resindential Type</label>
										<select class="form-control form-control-lg mb-3 text-2">
											<option value="Rent"
												<%- userDetails.residentialType== "Rent" ? selected="selected" : "" %>>
												Rent</option>
											<option value="Self Owned"
												<%- userDetails.residentialType== "Self Owned" ? selected="selected" : "" %>>
												Self Owned</option>
											<option value="Parent Owned"
												<%- userDetails.residentialType== "Parent Owned" ? selected="selected" : "" %>>
												Parent Owned</option>
											<option value="Company Owned"
												<%- userDetails.residentialType== "Company Owned" ? selected="selected" : "" %>>
												Company Owned</option>
										</select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Address</label>
										<textarea maxlength="5000" data-msg-required="Please enter your message."
											rows="8" class="form-control" name="message" id="message"
											required><%= userDetails.address %></textarea>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-lg-4">
										<label class=" font-weight-bold text-dark text-2">Poscode</label>
										<input type="text" value="<%= userDetails.postcode %>"
											data-msg-required="Please enter the subject." maxlength="100"
											class="form-control" name="poscode" id="subject" required>
									</div>
									<div class="form-group col-lg-4">
										<label class=" font-weight-bold text-dark text-2">City</label>
										<input type="text" value="<%= userDetails.city %>"
											data-msg-required="Please enter the subject." maxlength="100"
											class="form-control" name="city" id="subject" required>
									</div>
									<div class="form-group col-lg-4">
										<label class=" font-weight-bold text-dark text-2">State</label>
										<input type="text" value="<%= userDetails.state %>"
											data-msg-required="Please enter the subject." maxlength="100"
											class="form-control" name="state" id="subject" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-lg-4">
										<label class="font-weight-bold text-dark text-2">Utility Bill</label>
										<div class="fileupload fileupload-new" data-provides="fileupload">
											<img id="image" style="width:70%;height: auto;"
												<% if(userDetails.residentialImageProofUrl[0]) {%>
													src="<%= (userDetails.residentialImageProofUrl[0] && userDetails.residentialImageProofUrl[0].value.substring(0, 4) != "http") ? "http://" + userDetails.residentialImageProofUrl[0].value : userDetails.frontICUrl.value %>"
												<% }else{ %>
													src="http://128.199.170.141:7000/img/no-image.jpg"
												<% } %>
											/>
										<!-- <div class="input-append">
                                                <div class="uneditable-input">
                                                    <span class="fileupload-preview"></span>
                                                </div>
                                                <span class="btn btn-default btn-file" style="width: 200px;">
                                                    <span class="fileupload-exists">Change</span>
                                                    <span class="fileupload-new">Select file</span>
                                                    <input type="file" />
                                                </span>
                                                <a href="#" class="btn btn-default fileupload-exists"
                                                    data-dismiss="fileupload">Remove</a>
                                            </div> -->
										</div>
									</div>
									<div class="form-group col-lg-4">
										<label class="font-weight-bold text-dark text-2">Utility Bill</label>
										<div class="fileupload fileupload-new" data-provides="fileupload">
											<img id="image" style="width:70%;height: auto;"
											<% if(userDetails.residentialImageProofUrl[1]) {%>
												src="<%= (userDetails.residentialImageProofUrl[1] && userDetails.residentialImageProofUrl[1].value.substring(0, 4) != "http") ? "http://" + userDetails.residentialImageProofUrl[1].value : "" %>"
												<% }else{ %>
													src="http://128.199.170.141:7000/img/no-image.jpg"
												<% } %>
											/>
											<!-- <div class="input-append">
                                                <div class="uneditable-input">
                                                    <span class="fileupload-preview"></span>
                                                </div>
                                                <span class="btn btn-default btn-file" style="width: 200px;">
                                                    <span class="fileupload-exists">Change</span>
                                                    <span class="fileupload-new">Select file</span>
                                                    <input type="file" />
                                                </span>
                                                <a href="#" class="btn btn-default fileupload-exists"
                                                    data-dismiss="fileupload">Remove</a>
                                            </div> -->
										</div>
									</div>
									<div class="form-group col-lg-4">
										<label class="font-weight-bold text-dark text-2">Utility Bill</label>
										<div class="fileupload fileupload-new" data-provides="fileupload">
											<img id="image" style="width:70%;height: auto;"
											<% if(userDetails.residentialImageProofUrl[2]) {%>
												src="<%= (userDetails.residentialImageProofUrl[2] && userDetails.residentialImageProofUrl[2].value.substring(0, 4) != "http") ? "http://" + userDetails.residentialImageProofUrl[2].value : "" %>"
												<% }else{ %>
													src="http://128.199.170.141:7000/img/no-image.jpg"
												<% } %>
											/>
											<!-- <div class="input-append">
                                                <div class="uneditable-input">
                                                    <span class="fileupload-preview"></span>
                                                </div>
                                                <span class="btn btn-default btn-file" style="width: 200px;">
                                                    <span class="fileupload-exists">Change</span>
                                                    <span class="fileupload-new">Select file</span>
                                                    <input type="file" />
                                                </span>
                                                <a href="#" class="btn btn-default fileupload-exists"
                                                    data-dismiss="fileupload">Remove</a>
                                            </div> -->
										</div>
									</div>
								</div>
								<div class="form-row">
									<!-- <div class="form-group col-lg-6">
										<label class="font-weight-bold text-dark text-2">manager Approved</label>
										<select class="form-control form-control-lg mb-3 text-2">
											<option>Option 1</option>
											<option>Option 2</option>
											<option>Option 3</option>
										</select>
									</div> -->
								</div>
								<div class="form-row" >
									<div class="form-group col-lg-6" >
                                        <a href="/manager/customer" class="btn btn-danger btn-modern" style="float: right;">Back</a>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <a href="/manager/customerDetails/bankAccountInfo/<%= userDetails._id %>" class="btn btn-primary btn-modern" style="color:white;">Next</a>
                                    </div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>

</body>

</html>