<!DOCTYPE html>
<html>

<head>
	<title>Search Table</title>
	<% include ../../partion/header.ejs %>
	<style>
	</style>
</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>
		<div style="padding-top: 10%;" role="main">
			<div class="container2">
				<div class="padding2">

					<h3><a href="/manager/dashboard">Home</a> / <a href="/manager/dashboard/customerList">Customer
							List</a></h3><br>

					<% include ../../partion/managerHomeSearchBarHeader.ejs %>
					<h3 id="nameSearch" name="nameSearch"></h3>
					<div style="overflow-x:auto;">
						<table class="table table-bordered mydatatable">
							<thead>
								<tr>
									<th><input type="checkbox" name="checkboxMain"></th>
									<th>No.</th>
									<th>Customer</th>
									<th>Contact No.</th>
									<th>IC No.</th>
									<th>Unpaid</th>
									<th>Paid</th>
									<th>Earning/Losses</th>
									<th>No of Times Overdue</th>
									<th>Overdue(date)</th>
									<th>Agent</th>
									<th>Stage</th>
									<th>Status</th>
									<th>Remark</th>

								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i<users.length; i++){%>
								<tr>
									<td><input type="checkbox" name="checkbox">
									<td><%= (i+1) %></td>
									<td class="actions">
										<a
											href="/manager/customerDetails/personalInfo/<%= users[i]._id %>"><%= users[i].username %></a>
									</td>
									<td><%= users[i].phoneNumber %></td>
									<td><%= users[i].ic %></td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td></td>
									<td><%= users[i].status %></td>
									<td>Normal</td>
									<td>-</td>

								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</div>


			</div>


		</div>
	</div>
</body>

</html>
<% include ../../partion/managerHomeSearchBarFooter.ejs %>