<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<% include ../../partion/header.ejs %>
	<style>
		/* .card{
				width: 210px; 
				height:200px;
			} */
		.card-img-top {
			width: 210px;
			height: 200px;
		}
	</style>

</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>
		<!-- <form action="#" class="search-nav-form">
					<div class="caption" style="margin-top: 5%">
						<caption><b>Home</b></caption>
					</div>
						<input type="search" class="search-btn skills" name="customer" id="customer" placeholder="Customer">
						<input type="search" class="search-btn skills" name="ic" id="ic" placeholder="IC No.">
						<input type="search" class="search-btn skills" name="contact" id="contact" placeholder="Contact No.">
						<input type="search" class="search-btn skills" name="overdue" id="overdue" placeholder="Overdue Day">
						<select name="paid" style="width: 200px; height: 32px; border: 1px solid grey; margin: 20px;">
							<option value="select">Paid (%)</option>
						</select>
						<button class="search-btn-btn" type="button"  style="background-color: darkblue; color: white; box-shadow: none; border-radius: 12px; border: none; font-size: 15px; width: 200px; height: 32px;">Search</button>
			</form> -->
		<div role="main" class="main">

			<div class="container py-2">

				<div class="row mb-4 pb-3">
					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="dashboard/customerList?status=register"><img class="card-img-top"
									src="../img/icon/c1-new-customer.png" alt="Card Image" width=10></a>
							<div class="card-body">
								<h4>New Customer</h4>
								<p><b><%= userNoEachStatus.register %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="dashboard/customerList?status=personalInfo"><img class="card-img-top"
									src="../img/icon/c2-personal-info.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Personal Info</h4>
								<p><b><%= userNoEachStatus.personalInfo %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="dashboard/customerList?status=residentialInfo"><img class="card-img-top"
									src="../img/icon/c3-residential-info.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Residential Info</h4>
								<p><b><%= userNoEachStatus.residentialInfo %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="dashboard/customerList?status=bankInfo"><img class="card-img-top"
									src="../img/icon/c4-bank-account.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Bank Account</h4>
								<p>
									<p><b><%= userNoEachStatus.bankInfo %></b></p>
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="dashboard/customerList?status=workingInfo"><img class="card-img-top"
									src="../img/icon/c5-working-info.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Working Info</h4>
								<p><b><%= userNoEachStatus.workingInfo %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="dashboard/customerList?status=emergencyInfo"><img class="card-img-top"
									src="../img/icon/c6-emergency-contact.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Emergency Info</h4>
								<p><b><%= userNoEachStatus.emergencyInfo %></b></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<div class="card">
							<a href="dashboard/customerList?status=loanApplication"><img class="card-img-top"
									src="../img/icon/c7-loan-application.png" alt="Card Image"></a>
							<div class="card-body">
								<h4>Loan Application</h4>
								<p><b><%= userNoEachStatus.loanApplication%></b></p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
</body>

</html>