<!DOCTYPE html>
<html>

<head>
    <% include ../../partion/header.ejs %>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeaderManager.ejs %>
        <div role="main" class="main">

            <div class="container py-2">
                <div class="row">
                    <div class="col">
                        <h3><a href="/manager/setting">Setting</a> / <a href="/manager/settingManager/addManager">Add Manager</a></h3>
                        <div class="col-lg-9 order-1 order-lg-2"
                            style="margin-left: auto; margin-right: auto; background-color: lightgray;">
                            <br>
                            <form id="contactForm" class="contact-form" action="/manager/settingManager/addManager" method="POST">
                                <h2>Add Manager</h2>

                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Manager Name</label>
                                        <input type="text" value=""                                            
                                            class="form-control" name="name" id="name" required>
                                        <br>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Email</label>
                                        <input type="email" value=""                                            
                                            class="form-control" name="email" id="email" required>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Contact Number</label>
                                        <input type="text" value=""                                            
                                            class="form-control" name="contactNumber" id="contactNumber" required>
                                        <br>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Account Status</label>
                                        <!-- <input type="number" value=""                                            
                                            class="form-control" name="highestDurationPersonal" id="highestDurationPersonal" required>
                                        <br> -->
							            <select id="user_time_zone" class="form-control" size="0" name="status">
                                            <option value="active">Active</option>
                                            <option value="inactive">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                        <div class="form-group col-12">
                                            <label class=" font-weight-bold text-dark text-2">Manager Can Access</label>
                                        </div>
                                        <!-- viewAllCustomerInfo : { type: Boolean, default: false },
                                        editCustomerInfo : { type: Boolean, default: false },
                                        loanApplicationApproval : { type: Boolean, default: false },
                                        addLoan : { type: Boolean, default: false },
                                        disbursement : { type: Boolean, default: false },
                                        debtCollection : { type: Boolean, default: false },
                                        releaseCommission : { type: Boolean, default: false },
                                        blacklistRequest : { type: Boolean, default: false },
                                        payExpenses : { type: Boolean, default: false },
                                        bankedInBonusToAgent : { type: Boolean, default: false }, -->
                                        
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="viewAllCustomerInfo" name="viewAllCustomerInfo" value="true">
                                            <label class="font-weight-bold text-dark text-2" for="viewAllCustomerInfo" >View All Customer Info</label><br>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="editCustomerInfo" name="editCustomerInfo" value="true">
                                            <label class="font-weight-bold text-dark text-2" for="editCustomerInfo" >Edit Customer Info</label>
                                        </div>                                        
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="loanApplicationApproval" name="loanApplicationApproval" value="true">
                                            <label class="font-weight-bold text-dark text-2" for="loanApplicationApproval" >Loan Application Approval</label><br>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="addLoan" name="addLoan" value="true">
                                            <label class="font-weight-bold text-dark text-2" for="addLoan" >Add Loan</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="disbursement" name="disbursement" value="true">
                                            <label class="font-weight-bold text-dark text-2" for="disbursement" >Disbursement</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="debtCollection" name="debtCollection" value="true">
                                            <label class="font-weight-bold text-dark text-2" for="debtCollection" >Debt Collection</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="releaseCommission" name="releaseCommission" value="true">
                                            <label class="font-weight-bold text-dark text-2" for="releaseCommission" >Release Commission</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="blacklistRequest" name="blacklistRequest" value="true">
                                            <label class="font-weight-bold text-dark text-2" for="blacklistRequest" >Blacklist Request</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="payExpenses" name="payExpenses" value="true">
                                            <label class="font-weight-bold text-dark text-2" for="payExpenses" >Pay Expenses</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <input type="checkbox" id="bankedInBonusToAgent" name="bankedInBonusToAgent" value="true">
                                            <label class="font-weight-bold text-dark text-2" for="bankedInBonusToAgent" >Banked In Bonus to Agent</label>
                                        </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <a href="/manager/settingManager" style="float: right;" type="button"
                                            class="btn btn-danger btn-modern">Back</a>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="submit" value="Confirm" class="btn btn-primary btn-modern"
                                            data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>