<!DOCTYPE html>
<html>

<head>
    <% include ../../partion/header.ejs %>
</head>

<body>
    <% if(updatePasswordSuccess && updatePasswordSuccess==true){%>
        <script>
            Swal.fire({
                icon: 'success',
                title: '<font size="5" color="green">Success! Your Password has been changed!</font>',
            })
        </script>
    <% } %>
    <% if(updatePasswordFail && updatePasswordFail == true){%>
        <script>
            Swal.fire({
                icon: 'error',
                title: '<font size="5" color="red">Change Password Failed</font>',
            })
        </script>
    <% } %>
    <div class="body">
        <% include ../../partion/bodyHeaderManager.ejs %>
        <div role="main" class="main">

            <div class="container py-2">
                <div class="row">
                    <div class="col">
                        <h2>Change Password</h2>
                        <div class="col-lg-9 order-1 order-lg-2"
                            style="margin-left: auto; margin-right: auto; background-color: lightgray;">
                            <br>
                            <form id="contactForm" class="contact-form" action="/manager/settingChangePassword" method="POST">
                                <div class="contact-form-success alert alert-success d-none mt-4" id="contactSuccess">
                                    <strong>Success!</strong>
                                </div>

                                <div class="contact-form-error alert alert-danger d-none mt-4" id="contactError">
                                    <strong>Error!</strong>
                                    <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class=" font-weight-bold text-dark text-2">Current Password</label>
                                        <input type="password" value=""
                                            data-msg-required="Please enter current password." maxlength="100"
                                            class="form-control" name="currentPassword" id="currentPassword" required>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class=" font-weight-bold text-dark text-2">Key in New Password</label>
                                        <input type="password" value="" data-msg-required="Please enter new password."
                                            maxlength="100" class="form-control" name="newPassword" id="newPassword"
                                            required> <br>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class=" font-weight-bold text-dark text-2">Retype New Password</label>
                                        <input type="password" value="" data-msg-required="Please retype new password."
                                            maxlength="100" class="form-control" name="retypePassword"
                                            id="retypePassword" required> <br>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <input type="reset" value="Cancel" class="btn btn-danger btn-modern"
                                            data-loading-text="Loading..." style="float: right;">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="submit" value="Confirm" class="btn btn-primary btn-modern"
                                            data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>