<!DOCTYPE html>
<html>

<head>
    <% include ../../partion/header.ejs %>
</head>

<body>
    <% if(updateLoanDetailsSuccess && updateLoanDetailsSuccess == true){%>
        <script>
            Swal.fire({
                icon: 'success',
                title: '<font size="5" color="green">Success! Loan Details updated!</font>',
            })
        </script>
    <% } %>
    <% if(updateLoanDetailsFailed && updateLoanDetailsFailed == true){%>
        <script>
            Swal.fire({
                icon: 'error',
                title: '<font size="5" color="red">Failed to update loan details</font>',
            })
        </script>
    <% } %>
    <div class="body">
        <% include ../../partion/bodyHeaderManager.ejs %>
        <div role="main" class="main">

            <div class="container py-2">
                <div class="row">
                    <div class="col">
                        <h3><a href="/manager/setting">Setting</a> / <a href="/manager/settingLoanDetails">Loan Details</a></h3>
                        <div class="col-lg-9 order-1 order-lg-2"
                            style="margin-left: auto; margin-right: auto; background-color: lightgray;">
                            <br>
                            <form id="contactForm" class="contact-form" action="/manager/settingLoanDetails" method="POST">
                                <h2>Personal Loan Details</h2>

                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Lowest Amount (RM)</label>
                                        <input type="number" value="<%= loanDetails.lowestAmountPersonal %>"                                            
                                            class="form-control" name="lowestAmountPersonal" id="lowestAmountPersonal" required>
                                        <br>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Highest Amount (RM)</label>
                                        <input type="number" value="<%= loanDetails.highestAmountPersonal %>"                                            
                                            class="form-control" name="highestAmountPersonal" id="highestAmountPersonal" required>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Minimum Duration (Month)</label>
                                        <input type="number" value="<%= loanDetails.minimumDurationPersonal %>"                                            
                                            class="form-control" name="minimumDurationPersonal" id="minimumDurationPersonal" required>
                                        <br>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Highest Duration (Month)</label>
                                        <input type="number" value="<%= loanDetails.highestDurationPersonal %>"                                            
                                            class="form-control" name="highestDurationPersonal" id="highestDurationPersonal" required>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Interest (%)</label>
                                        <input type="number" value="<%= loanDetails.interestPersonal %>"                                            
                                            class="form-control" name="interestPersonal" id="interestPersonal" required>
                                        <br>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">admin Fee (%)</label>
                                        <input type="number" value="<%= loanDetails.adminFeePersonal %>"                                            
                                            class="form-control" name="adminFeePersonal" id="adminFeePersonal" required>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Overdue (Day)</label>
                                        <input type="number" value="<%= loanDetails.overduePersonal %>"                                            
                                            class="form-control" name="overduePersonal" id="overduePersonal" required>
                                        <br>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">fine (%)</label>
                                        <input type="number" value="<%= loanDetails.finePersonal %>"                                            
                                            class="form-control" name="finePersonal" id="finePersonal" required>
                                        <br>
                                    </div>
                                </div>

                                <h2>Company Loan Details</h2>

                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Lowest Amount (RM)</label>
                                        <input type="number" value="<%= loanDetails.lowestAmountCompany %>"                                            
                                            class="form-control" name="lowestAmountCompany" id="lowestAmountCompany" required>
                                        <br>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Highest Amount (RM)</label>
                                        <input type="number" value="<%= loanDetails.highestAmountCompany %>"                                            
                                            class="form-control" name="highestAmountCompany" id="highestAmountCompany" required>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Minimum Duration (Month)</label>
                                        <input type="number" value="<%= loanDetails.minimumDurationCompany %>"                                            
                                            class="form-control" name="minimumDurationCompany" id="minimumDurationCompany" required>
                                        <br>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Highest Duration (Month)</label>
                                        <input type="number" value="<%= loanDetails.highestDurationCompany %>"                                            
                                            class="form-control" name="highestDurationCompany" id="highestDurationCompany" required>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Interest (%)</label>
                                        <input type="number" value="<%= loanDetails.interestCompany %>"                                            
                                            class="form-control" name="interestCompany" id="interestCompany" required>
                                        <br>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">admin Fee (%)</label>
                                        <input type="number" value="<%= loanDetails.adminFeeCompany %>"                                            
                                            class="form-control" name="adminFeeCompany" id="adminFeeCompany" required>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">Overdue (Day)</label>
                                        <input type="number" value="<%= loanDetails.overdueCompany %>"                                            
                                            class="form-control" name="overdueCompany" id="overdueCompany" required>
                                        <br>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class=" font-weight-bold text-dark text-2">fine (%)</label>
                                        <input type="number" value="<%= loanDetails.fineCompany %>"                                            
                                            class="form-control" name="fineCompany" id="fineCompany" required>
                                        <br>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <a href="/manager/setting" style="float: right;" type="button"
                                            class="btn btn-danger btn-modern">Back</a>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="submit" value="Confirm" class="btn btn-primary btn-modern"
                                            data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>