<!DOCTYPE html>
<html>

<head>
	<title>Manager</title>
	<% include ../../partion/header.ejs %>

</head>

<body>

	<div class="body">
		<% include ../../partion/bodyHeaderManager.ejs %>

		<div role="main" class="main">
			<div class="container py-2">

				<div class="row">
					<div class="col">

						<div class="row" style="margin-top: 5%">
							<div class="col pb-3">
                                    
                                    <h3><a href="/manager/setting">Setting</a> / <a href="/manager/settingManager">Manager</a>
                                        <input type="search" class="search-btn skills" name="searchByUsername" id="searchByUsername" 
                                                placeholder="<%= "Manager" %>">  
                                        <button id="searchButton" class="search-btn-btn" type="button"  style="background-color: darkblue; color: white; box-shadow: none; margin: 2%; border-radius: 12px; border: none; margin-top: 2%; font-size: 15px; width: 100px; height: 32px; ">
                                                <%= "Search" %>
                                        </button>
                                            <a style="text-align: right; width:50%;  display: inline-block;" href="/manager/settingManager/addManager">Add Manager</a>
                                    </h3>

								<table class="table table-bordered">
									<thead>
										<tr>
											<th><input type="checkbox" name="checkbox"></th>
											<th>No.</th>
											<th>Manager</th>
											<th>Contact No.</th>
											<th>Email</th>
											<th>Joined Date</th>
											<th>Status</th>
											<th>edit Access</th>
											<th>Delete</th>

										</tr>
									</thead>
									<% for (let i=0; i<managerList.length; i++){%>
									<tbody>
										<tr>
											<td><input type="checkbox" name="checkbox">
											<td><%= (i+1) %></td>
											<!-- <td class="actions">
												<a href="/manager/customerDetails/personalInfo/<%= managerList[i].managerId %>"></a><%= managerList[i].name %></a>
											</td> -->
											<td><%= managerList[i].name %></td>
											<td><%= managerList[i].contactNumber %></td>
											<td><%= managerList[i].email %></td>
											<td><%= managerList[i].createdAt %></td>
											<td><%= managerList[i].status %></td>
											<td><a href="/manager/settingManager/editAccess/<%= managerList[i].managerId %>" style="color:orange"><%= "Edit Access" %></a></td>
											<td><a href="/manager/settingManager/deleteManager/<%= managerList[i].managerId %>" style="color:red"><%= "Delete" %></a></td>

										</tr>

									</tbody>
									<% } %>

									<!-- <tbody>
                                            <tr id="total">
												<td></td>
												<td>1</td>
												<td>1</td>
												<td></td>
												<td></td>
												<td>1</td>
												<td>1</td>
												<td>899.99</td>
												<td>0</td>
												<td>0</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
                                            </tr>
                                        </tbody> -->
								</table>

							</div>
						</div>
						<div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
							<ul class="pagination">
								<li class="paginate_button page-item previous disabled" id="datatable-default_previous">
									<a href="#" aria-controls="datatable-default" data-dt-idx="0" tabindex="0"
										class="page-link">
										<</a> </li> <li class="paginate_button page-item active"><a href="#"
												aria-controls="datatable-default" data-dt-idx="1" tabindex="0"
												class="page-link">1</a></li>
								<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
										data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
								<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
										data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
								<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
										data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
								<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
										data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
								<li class="paginate_button page-item "><a href="#" aria-controls="datatable-default"
										data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
								<li class="paginate_button page-item next" id="datatable-default_next"><a href="#"
										aria-controls="datatable-default" data-dt-idx="7" tabindex="0"
										class="page-link">></a></li>
							</ul>
						</div>
						<select name="show"
							style="width: 100px; height: 32px; border: 1px solid grey; margin-right: -10%; margin-top: -5%; float:left; color:black;">
							<option value="select">Show: 10</option>
						</select>
						<div class="total-contents">
							<label>Total</label>
							<input type="text" class="totalContents" value="Total: <%= managerList.length %>" size="10" readonly>
						</div>

					</div>
				</div>

			</div>

		</div>

	</div>
</body>

</html>
<script>
    $(window).on('load', function () {
        var url = window.location.href
        if(url.indexOf("?deleteManager=success") > 0){
            Swal.fire({
                icon: 'success',
                title: '<font size="5" color="green">Success to delete manager</font>',
            })
        }
        if(url.indexOf("?updateManagerAccess=success") > 0){
            Swal.fire({
                icon: 'success',
                title: '<font size="5" color="green">Success to update manager access</font>',
            })
        }
        if(url.indexOf("?newAdminSaved=success") > 0){
            Swal.fire({
                icon: 'success',
                title: '<font size="5" color="green">Success to add new manager</font>',
            })
        }
    })
    
    $(function () {
        $("#searchButton").click(function (event) {
            var searchByUsername = document.getElementById("searchByUsername").value;
            var url = window.location.href
            url = url.indexOf("?") > 0 ? url.substring(0,url.indexOf("?")) : url
            url = url + "?searchByUsername=" + searchByUsername
            window.location.replace(url)
        })
    })
</script>