<!DOCTYPE html>
<html>

<head>

	<title>Personal Bank Info</title>
	<% include ../../partion/header.ejs %>
	<style>
		.selectionButtonSelected {
			border: 1px solid grey;
			border-radius: 12px;
			color: white;
			font-size: 15px;
			padding: 5px;
			width: 150px;
			justify-content: center;
			background-color: lightblue !important;
		}
	</style>

</head>

<body>
	<div class="body">
		<% include ../../partion/bodyHeader.ejs %>
		<div role="main" class="main">

			<div class="container py-2">
				<div class="row">
					<div class="col">
						<div class="row align-items-center">
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								<% /* include ../../partion/agentCustomerInfoHeader.ejs */ %>
							</div>
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
									<% include ../../partion/agentCustomerDetailsViewHeader.ejs %>
									<script>
										document.getElementById("bankAccountInfo").classList.add('selectionButtonSelected');
									</script>
							</div>
							<div class="col-sm-3">
							</div>
							<div class="col-sm-9">
								<select class="form-control form-control-lg mb-3 text-2"
									style="width: 100px; float: right;">
									<option>Option 1</option>
									<option>Option 2</option>
									<option>Option 3</option>
								</select>
								<button type="button" class="btn btn-light mb-2" style="float: right; border: none;">Add
									Loan</button>
							</div>
						</div>
						<div class="col-lg-9 order-1 order-lg-2"
							style="margin-left: auto; margin-right: auto; background-color: lightgray;">
							<br>


							<form id="contactForm" class="contact-form" action="#" method="POST">
								<div class="contact-form-success alert alert-success d-none mt-4" id="contactSuccess">
									<strong>Success!</strong>
								</div>

								<div class="contact-form-error alert alert-danger d-none mt-4" id="contactError">
									<strong>Error!</strong> There was an error.
									<span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
								</div>

								<div class="form-row">
									<div class="col-sm-6">
										<button type="button" class="btn btn-rounded btn-light mb-2"
											style="float: right;"><a href="customer_bank_info.html"
												style="text-decoration: none; color: black;">Personal Bank
												Acc</a></button>
									</div>
									<div class="col-lg-6">
										<button disabled type="button" class="btn btn-rounded btn-light mb-2"><a
												href="customer_company_bank_info.html"
												style="text-decoration: none; color: black;">Company Bank
												Acc</a></button>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Bank</label>
										<input type="text" value="<%= userDetails.bankName %>"
											data-msg-required="Please enter the bank account number." maxlength="100"
											class="form-control" name="account" id="account" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Name Registered in Bank
											Account</label>
										<input type="text" value="<%= userDetails.bankAccountName %>" data-msg-required="Please enter the name."
											maxlength="100" class="form-control" name="namebank" id="namebank" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label class=" font-weight-bold text-dark text-2">Bank Account Number</label>
										<input type="text" value="<%= userDetails.bankAccountNumber %>"
											data-msg-required="Please enter the bank account number." maxlength="100"
											class="form-control" name="account" id="account" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-lg-4">
										<label class="font-weight-bold text-dark text-2">Bank Statement</label>
										<div class="fileupload fileupload-new" data-provides="fileupload">
											<img id="image" style="width:70%;height: auto;"
											<% if(userDetails.bankAccountStatement[0]) {%>
												src="<%= (userDetails.bankAccountStatement[0] && userDetails.bankAccountStatement[0].value.substring(0, 4) != "http") ? "http://" + userDetails.bankAccountStatement[0].value : "" %>"
												<% }else{ %>
													src="http://128.199.170.141:7000/img/no-image.jpg"
												<% } %>
											/>
											<!-- <div class="input-append">
												<div class="uneditable-input">
													<span class="fileupload-preview"></span>
												</div>
												<span class="btn btn-default btn-file" style="width: 200px;">
													<span class="fileupload-exists">Change</span>
													<span class="fileupload-new">Select file</span>
													<input type="file" />
												</span>
												<a href="#" class="btn btn-default fileupload-exists"
													data-dismiss="fileupload">Remove</a>
											</div> -->
										</div>
									</div>
									<div class="form-group col-lg-4">
										<label class="font-weight-bold text-dark text-2">Bank Statement</label>
										<div class="fileupload fileupload-new" data-provides="fileupload">
												<img id="image" style="width:70%;height: auto;"
												<% if(userDetails.bankAccountStatement[1]) {%>
													src="<%= (userDetails.bankAccountStatement[1] && userDetails.bankAccountStatement[1].value.substring(0, 4) != "http") ? "http://" + userDetails.bankAccountStatement[1].value : "" %>"
													<% }else{ %>
														src="http://128.199.170.141:7000/img/no-image.jpg"
													<% } %>
												/>
												<!-- <div class="input-append">
													<div class="uneditable-input">
														<span class="fileupload-preview"></span>
													</div>
													<span class="btn btn-default btn-file" style="width: 200px;">
														<span class="fileupload-exists">Change</span>
														<span class="fileupload-new">Select file</span>
														<input type="file" />
													</span>
													<a href="#" class="btn btn-default fileupload-exists"
														data-dismiss="fileupload">Remove</a>
												</div> -->
										</div>
									</div>
									<div class="form-group col-lg-4">
										<label class="font-weight-bold text-dark text-2">Bank Statement</label>
										<div class="fileupload fileupload-new" data-provides="fileupload">
												<img id="image" style="width:70%;height: auto;"
												<% if(userDetails.bankAccountStatement[2]) {%>
													src="<%= (userDetails.bankAccountStatement[2] && userDetails.bankAccountStatement[2].value.substring(0, 4) != "http") ? "http://" + userDetails.bankAccountStatement[2].value : "" %>"
													<% }else{ %>
														src="http://128.199.170.141:7000/img/no-image.jpg"
													<% } %>
												/>
												<!-- <div class="input-append">
													<div class="uneditable-input">
														<span class="fileupload-preview"></span>
													</div>
													<span class="btn btn-default btn-file" style="width: 200px;">
														<span class="fileupload-exists">Change</span>
														<span class="fileupload-new">Select file</span>
														<input type="file" />
													</span>
													<a href="#" class="btn btn-default fileupload-exists"
														data-dismiss="fileupload">Remove</a>
												</div> -->
										</div>
									</div>
								</div>
								<div class="form-row">
									<!-- <div class="form-group col-lg-4">
										<label class="font-weight-bold text-dark text-2">Status</label>
										<select class="form-control form-control-lg mb-3 text-2">
											<option>Option 1</option>
											<option>Option 2</option>
											<option>Option 3</option>
										</select>
									</div> -->
								</div>
								<div class="form-row" >
									<div class="form-group col-lg-6" >
                                        <a href="/agent/customer" class="btn btn-danger btn-modern" style="float: right;">Back</a>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <a href="/agent/customerDetails/workingInfo/<%= userDetails._id %>" class="btn btn-primary btn-modern" style="color:white;">Next</a>
                                    </div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>

</body>

</html>