<!DOCTYPE html>
<html>

<head>
    <title>Agent Approved New Application</title>
    <% include ../../partion/header.ejs %>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeader.ejs %>
        <div style="padding-top: 10%;" role="main">
            <div class="container2">
                <div class="padding2">
                    <h3><a href="/agent/task">Task</a> / <a href="/agent/taskNewApplication/approvedApplication">Agent Approved New Application</a></h3>

                    <% include ../../partion/agentTaskNewApplication.ejs %>
                    <script>
                        document.getElementById("approvedApplication").classList.add('selectionButtonSelected');
                    </script><br><br><br>
                    <% include ../../partion/agentTaskSearchBarHeader.ejs %>
                    <h3>Agent Approved New Application</h3>
                    <div style="overflow-x:auto;">
                        <table class="table table-bordered mydatatable">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" name="checkbox">
                                    </th>
                                    <th>Loan ID</th>
                                    <th>Customer</th>
                                    <th>Contact No.</th>
                                    <th>Salary</th>
                                    <th>Loan Type</th>
                                    <th>Amount</th>
                                    <th>Duration</th>
                                    <th>Interest</th>
                                    <th>Offset</th>
                                    <th>Disbursement</th>
                                    <th>Installment</th>
                                    <th>Type</th>
                                    <th>Request On</th>
                                    <th>Agent</th>
                                    <th>Agent Approved On</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i<loans.length; i++){%>
                                <tr>
                                    <td><input type="checkbox" name="checkbox"></td>
                                    <td><%= loans[i].loanId %></td>
                                    <td class="actions" style="color:blue;">
                                        <a
                                            href="customerDetails/personalInfo/<%= loans[i].customerId %>/<%= loans[i].loanId %>"><%= loans[i].customerName %></a>
                                    </td>
                                    <td><%= loans[i].phoneNumber %></td>
                                    <td><%= loans[i].monthlyIncome %></td>
                                    <td><%= loans[i].loanType %></td>
                                    <td><%= loans[i].amount %></td>
                                    <td><%= loans[i].duration %></td>
                                    <td><%= loans[i].interest %></td>
                                    <td><%= loans[i].offset %></td>
                                    <td><%= loans[i].disbursement %></td>
                                    <td><%= loans[i].installment %></td>
                                    <td><%= loans[i].type %></td>
                                    <td><%= loans[i].requestedOn %></td>
                                    <td><%= loans[i].agent %></td>
                                    <td style="color:green;">
                                        <%= loans[i].approvalAgentTime %>
                                    </td>
                                    <td style="color:orangered;">
                                        Disb. Pending
                                    </td>

                                </tr>

                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>


        </div>
    </div>
</body>
<% include ../../partion/agentTaskSearchBarFooter.ejs %>

</html>