<!DOCTYPE html>
<html>

<head>
    <title>Loan Disbursed Approved</title>
    <% include ../../partion/header.ejs %>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeader.ejs %>
        <div style="padding-top: 10%;" role="main">
            <div class="container2">
                <div class="padding2">
                    <h3><a href="/agent/task">Task</a> / <a href="/agent/taskNewApplication/loanDisbursedApproved">Loan
                            Disbursed Approved</a></h3>

                    <% include ../../partion/agentTaskNewApplication.ejs %>
                    <script>
                        document.getElementById("loanDisbursedApproved").classList.add('selectionButtonSelected');
                    </script><br><br><br>
                    <% include ../../partion/agentTaskSearchBarHeader.ejs %>
                    <h3>Loan Disbursed Approved</h3>
                    <div style="overflow-x:auto;">
                        <table class="table table-bordered mydatatable">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" name="checkbox">
                                    </th>
                                    <th>loan ID</th>
                                    <th>Customer</th>
                                    <th>Contact No.</th>
                                    <th>Loan Type</th>
                                    <th>Disbursement Amount</th>
                                    <th>Bank</th>
                                    <th>Bank Acc. Name</th>
                                    <th>Bank Acc. No.</th>
                                    <th>Agent</th>
                                    <th>Loan Approved On</th>
                                    <th>Disbursement On</th>
                                    <th>Receipt</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i<loans.length; i++){%>
                                <tr>
                                    <td><input type="checkbox" name="checkbox"></td>
                                    <td><%= loans[i].loanId %></td>
                                    <td class="actions">
                                        <a
                                            href="/agent/customerDetails/personalInfo/<%= loans[i].customerId %>"><%= loans[i].customerName %></a>
                                    </td>
                                    <td><%= loans[i].phoneNumber %></td>
                                    <td><%= loans[i].loanType %></td>
                                    <td><%= loans[i].disbursement %></td>
                                    <td><%= loans[i].bankName %></td>
                                    <td><%= loans[i].bankAccountName %></td>
                                    <td><%= loans[i].bankAccountNumber %></td>
                                    <td><%= loans[i].agent %></td>
                                    <td><%= loans[i].approvalAgentTime %></td>
                                    <td style="color:green;"><%= loans[i].approvalManagerTime %></td>
                                    <td class="actions">
                                        <a href="checkDisbursementProof/<%= loans[i].loanId %>">Check</a>
                                    </td>

                                </tr>

                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- modal -->
                <div class="row align-items-center">
                    <div class="col-sm-9">

                        <div class="modal fade show receiptCheckModal" id="myModal" data-backdrop="static"
                            data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Receipt
                                        </h4>
                                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                    </div>

                                    <div class="modal-body">

                                        <form id="demo-form" class="mb-4" novalidate="novalidate">
                                            <% if(loans.length > 0){%>
                                            <img id="image" style="width:70%;height: auto;"
                                                src="<%= (loans[0].disbursementProof && loans[0].disbursementProof.substring(0, 4) != "http") ? "http://" + loans[0].disbursementProof : loans[0].disbursementProof %>"
                                                <% }else{ %> src="http://128.199.170.141:7000/img/no-image.jpg"
                                                <% } %> />
                                            <div class="modal-footer">
                                                <a href="/agent/taskNewApplication/loanDisbursedApproved" type="button"
                                                    class="btn btn-light">Close</a>
                                                <!-- <button type="submit" class="btn btn-primary">Save Changes</button> -->
                                            </div>
                                        </form>
                                    </div>
                                    <!-- <div class="modal-footer">
                                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save Changes</button>
                                            </div> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

</html>
<script>
    // function readURL(input) {
    // 	if (input.files && input.files[0]) {
    // 		var reader = new FileReader();

    // 		reader.onload = function(e) {
    // 		$("#image").attr("src", e.target.result);
    // 		};

    // 		reader.readAsDataURL(input.files[0]);
    // 	}
    // }
    $(window).on('load', function () {
        if ("<%= receiptCheckModal %>" == "true") {
            $('.receiptCheckModal').modal('show');
        } else {

        }
    });
</script>
<% include ../../partion/agentTaskSearchBarFooter.ejs %>