<!DOCTYPE html>
<html>

<head>
    <title>New Application</title>
    <% include ../../partion/header.ejs %>
</head>

<body>
    <div class="body">
        <% include ../../partion/bodyHeader.ejs %>
        <div style="padding-top: 10%;" role="main">
            <div class="container2">
                <div class="padding2">
                    <h3><a href="/agent/task">Task</a> / <a href="/agent/taskNewApplication/newApplication">New
                            Application</a></h3>

                    <% include ../../partion/agentTaskNewApplication.ejs %>
                    <script>
                        document.getElementById("newApplication").classList.add('selectionButtonSelected');
                    </script><br><br><br>
                    <% include ../../partion/agentTaskSearchBarHeader.ejs %>
                    <h3>New Application</h3>
                    <div style="overflow-x:auto;">
                        <table class="table table-bordered mydatatable">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" name="checkbox">
                                    </th>
                                    <th>loans</th>
                                    <th>Customer</th>
                                    <th>Contact No.</th>
                                    <th>Salary</th>
                                    <th>Loan Type</th>
                                    <th>Amount</th>
                                    <th>Duration</th>
                                    <th>Interest</th>
                                    <th>Offset</th>
                                    <th>Disbursement</th>
                                    <th>Installment</th>
                                    <th>Type</th>
                                    <th>Request On</th>
                                    <th>Agent</th>
                                    <th>Edit Loan</th>
                                    <th>Approval</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i<loans.length; i++){%>
                                <tr>
                                    <td><input type="checkbox" name="checkbox"></td>
                                    <td><%= loans[i].loanId %></td>
                                    <td class="actions" style="color:blue;">
                                        <a
                                            href="customerDetails/personalInfo/<%= loans[i].customerId %>/<%= loans[i].loanId %>"><%= loans[i].customerName %></a>
                                    </td>
                                    <td><%= loans[i].phoneNumber %></td>
                                    <td><%= loans[i].monthlyIncome %></td>
                                    <td><%= loans[i].loanType %></td>
                                    <td><%= loans[i].amount %></td>
                                    <td><%= loans[i].duration %></td>
                                    <td><%= loans[i].interest %></td>
                                    <td><%= loans[i].offset %></td>
                                    <td><%= loans[i].disbursement %></td>
                                    <td><%= loans[i].installment %></td>
                                    <td><%= loans[i].type %></td>
                                    <td><%= loans[i].requestedOn %></td>
                                    <td><%= loans[i].agent %></td>
                                    <td class="actions">
                                        <a href="loanDetail/<%= loans[i].loanId %>">Edit</a>
                                    </td>
                                    <td class="actions">
                                        <a href="approve/<%= loans[i].loanId %>" style="color:green;">Approve</a>
                                        <a href="rejectingLoan/<%= loans[i].loanId %>" style="color:red;">Reject</a>
                                    </td>

                                </tr>

                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>




                <!-- modal -->
                <div class="row align-items-center">
                    <div class="col-sm-9">

                        <div class="modal fade show rejectLoanModal" id="myModal" data-backdrop="static"
                            data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: whitesmoke; margin-top: 40%;">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="formModalLabel" style="	margin-top: 2%;">Remark</h4>
                                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                                    </div>

                                    <div class="modal-body">

                                        <form id="demo-form" class="mb-4" novalidate="novalidate"
                                            action="/agent/taskNewApplication/rejectingLoan/<%= loans[0] ? loans[0].loanId : ""%>"
                                            method="POST">
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Customer</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="name" class="form-control"
                                                        value="<%= loans[0] ? loans[0].customerName : "" %>" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Amount</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="amount" class="form-control"
                                                        value="<%= loans[0] ? loans[0].amount : "" %>" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Duration</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="bankName" class="form-control"
                                                        value="<%= loans[0] ? loans[0].duration : "" %>" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 text-left text-sm-right mb-0"
                                                    style="color: black;">Reason</label>
                                                <div class="col-sm-9">
                                                    <select name="reason"
                                                        style="width: 100%; margin-right: auto; margin-left: auto;">
                                                        <!-- <option value="select">
                                                                    Choose reason here
                                                                </option> -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <!-- <label class="col-sm-3 text-left text-sm-right mb-0" style="color: black;"></label> -->
                                                <div class="col-sm-12">
                                                    <textarea rows="5" class="form-control"
                                                        placeholder="Or type your reason here" name="reason"
                                                        required></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="/agent/taskNewApplication/newApplication" type="button"
                                                    class="btn btn-light">Close</a>
                                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- <div class="modal-footer">
                                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save Changes</button>
                                            </div> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</body>
<script>
    $(window).on('load', function () {
        if ("<%= showRejectLoanModal %>" == "true") {
            $('.rejectLoanModal').modal('show');
        } else {

        }
    });
</script>
<% include ../../partion/agentTaskSearchBarFooter.ejs %>

</html>